Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

lefthook.yml:

# src: ./shared/configs/lefthook.base.yml
# @(#) : lefthook 基本設定
#
# Copyright (c) 2025 atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

pre-commit:
  parallel: true
  commands:
    #    gitleaks:
    #      run: gitleaks protect --config ./configs/gitleaks.toml --staged
    secretlint:
      glob: "**/*"
      run: >
        secretlint
        --secretlintrc ./configs/secretlint.config.yaml
        --secretlintignore .gitignore
        "{staged_files}"

    eslint:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all -- {staged_files}

    eslint-types:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all:types -- "{staged_files}"

    lint-files:
      glob:
        - "**/*.ts"
        - "scripts/**/*"
      run: pnpm run lint:filenames -- {staged_files}

    check-spells:
      glob:
        - "/shared/**/*.ts"
        - "/packages/**/*.ts"
        - "/shared/**/*.md"
        - "/packages/**/*.md"
        - "**/*.json"
        - "docs/**/*.md"
      run: pnpm run check:spells -- {staged_files}

    check-format:
      glob:
        - "**/*.ts"
        - "**/*.js"
        - "**/*.json"
        - "**/*.md"
      run: dprint check {staged_files}

prepare-commit-msg:
  commands:
    prepare-by-codegpt:
      run: bash -c 'scripts/prepare-commit-msg.sh'

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: commitlint --config ./configs/commitlint.config.ts --edit

config(tools-config): initial commit for tools config package
  packages/@esta-core/tools-config/.gitignore
  packages/@esta-core/tools-config/.vscode/cspell.json
  packages/@esta-core/tools-config/configs/commitlint.config.ts
  packages/@esta-core/tools-config/configs/eslint.config.js
  packages/@esta-core/tools-config/configs/eslint.config.typed.js
  packages/@esta-core/tools-config/configs/secretlint.config.yaml
  packages/@esta-core/tools-config/configs/tsup.config.module.ts
  packages/@esta-core/tools-config/configs/tsup.config.ts
  packages/@esta-core/tools-config/configs/vitest.config.ci.ts
  packages/@esta-core/tools-config/configs/vitest.config.unit.ts
  packages/@esta-core/tools-config/package.json
  packages/@esta-core/tools-config/tsconfig.json
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor(get-platform): プラットフォーム入力のパラメータ化によって改善
  .vscode/cspell/dicts/project.dic
  configs/eslint.projects.js
  packages/@esta-utils/get-platform/src/__tests__/platformCheckers.spec.ts
  packages/@esta-utils/get-platform/src/__tests__/utils.spec.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: centralize and modularize path validation logic
  packages/@esta-core/tools-config/shared/schemas/tools.schemas.ts
  packages/@esta-core/tools-config/src/utils/schemas/__tests__/pathValidation.spec.ts
  packages/@esta-core/tools-config/src/utils/schemas/toolsConfigSchema.ts
  packages/@esta-core/tools-config/src/validateConfig.ts
  packages/@esta-core/tools-config/src/validator/tools/index.ts
  packages/@esta-core/tools-config/src/validator/tools/validatePath.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat: add valibot-based schema, types, and default tool config
  packages/@esta-core/tools-config/configs/vitest.config.unit.ts
  packages/@esta-core/tools-config/package.json
  packages/@esta-core/tools-config/shared/schemas/index.ts
  packages/@esta-core/tools-config/shared/schemas/tools.schemas.ts
  packages/@esta-core/tools-config/shared/types/index.ts
  packages/@esta-core/tools-config/shared/types/toolEntry.types.ts
  packages/@esta-core/tools-config/shared/types/tools.types.ts
  packages/@esta-core/tools-config/src/__tests__/index.spec.ts
  packages/@esta-core/tools-config/src/__tests__/validateConfig.spec.ts
  packages/@esta-core/tools-config/src/__tests__/validateTools.spec.ts
  packages/@esta-core/tools-config/src/defaults.ts
  packages/@esta-core/tools-config/src/index.ts
  packages/@esta-core/tools-config/src/tools.ts
  packages/@esta-core/tools-config/src/utils/schemas/__tests__/pathValidation.spec.ts
  packages/@esta-core/tools-config/src/utils/schemas/pathValidation.ts
  packages/@esta-core/tools-config/src/utils/schemas/toolsConfigSchema.ts
  packages/@esta-core/tools-config/src/validateConfig.ts
  packages/@esta-core/tools-config/src/validator/__tests__/egetValidator.spec.ts
  packages/@esta-core/tools-config/src/validator/egetValidator.ts
  packages/@esta-utils/get-platform/src/__tests__/platformCheckers.spec.ts
  packages/@esta-utils/get-platform/src/__tests__/utils.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

feat: improve config loading with validation and E2E file I/O tests
  packages/@esta-core/tools-config/package.json
  packages/@esta-core/tools-config/shared/schemas/tools.schemas.ts
  packages/@esta-core/tools-config/src/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/__tests__/validateConfig.spec.ts
  packages/@esta-core/tools-config/src/loadConfig.ts
  packages/@esta-core/tools-config/tests/e2e/config-loader-test.spec.ts
  packages/@esta-core/tools-config/tests/e2e/loadConfig.e2e.spec.ts
  packages/@esta-utils/config-loader/src/loadConfig.ts
  packages/@esta-utils/config-loader/src/search/__tests__/configSearchDirs.spec.ts
  packages/@esta-utils/config-loader/src/search/configSearchDirs.ts
  packages/@esta-utils/config-loader/src/search/findConfigFile.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor(tools-config): unify validation, exports, and add specs
  .vscode/cspell/dicts/project.dic
  packages/@esta-core/tools-config/docs/design-specification.md
  packages/@esta-core/tools-config/docs/e2e-test-specification.md
  packages/@esta-core/tools-config/docs/test-specification.md
  packages/@esta-core/tools-config/shared/schemas/tools.schemas.ts
  packages/@esta-core/tools-config/src/__tests__/index.spec.ts
  packages/@esta-core/tools-config/src/__tests__/validateConfig.spec.ts
  packages/@esta-core/tools-config/src/__tests__/validateTools.spec.ts
  packages/@esta-core/tools-config/src/core/config/defaults.ts
  packages/@esta-core/tools-config/src/core/config/index.ts
  packages/@esta-core/tools-config/src/core/config/loader.ts
  packages/@esta-core/tools-config/src/core/index.ts
  packages/@esta-core/tools-config/src/index.ts
  packages/@esta-core/tools-config/src/schemas/config.ts
  packages/@esta-core/tools-config/src/schemas/index.ts
  packages/@esta-core/tools-config/src/schemas/tools.ts
  packages/@esta-core/tools-config/src/types/config.ts
  packages/@esta-core/tools-config/src/types/index.ts
  packages/@esta-core/tools-config/src/types/tools.ts
  packages/@esta-core/tools-config/src/types/validation.ts
  packages/@esta-core/tools-config/src/validateConfig.ts
  packages/@esta-core/tools-config/src/validator/config.ts
  packages/@esta-core/tools-config/src/validator/egetValidator.ts
  packages/@esta-core/tools-config/src/validator/index.ts
  packages/@esta-core/tools-config/src/validator/tools/index.ts
  packages/@esta-core/tools-config/src/validator/tools/validatePath.ts
  packages/@esta-core/tools-config/src/validator/utils.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: improve validation and test coverage for tools-config
  packages/@esta-core/tools-config/src/__tests__/defaultToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/__tests__/index.spec.ts
  packages/@esta-core/tools-config/src/__tests__/schemas.spec.ts
  packages/@esta-core/tools-config/src/defaults.ts
  packages/@esta-core/tools-config/src/tools.ts
  packages/@esta-core/tools-config/src/validator/__tests__/egetValidator.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs: 実行時バリデーションとテストを備えた設定システムのリファクタリング
  packages/@esta-core/tools-config/docs/design-specification.md
  packages/@esta-core/tools-config/docs/e2e-test-specification.md
  packages/@esta-core/tools-config/docs/test-specification.md
Due: secretlint, check-format

refactor: ツール設定スキーマを正規化／検証
  packages/@esta-core/tools-config/shared/schemas/index.ts
  packages/@esta-core/tools-config/shared/schemas/tools.schemas.ts
  packages/@esta-core/tools-config/shared/types/tools.types.ts
  packages/@esta-core/tools-config/src/__tests__/defaultToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/__tests__/schemas.spec.ts
  packages/@esta-core/tools-config/src/__tests__/validateConfig.spec.ts
  packages/@esta-core/tools-config/src/__tests__/validateTools.spec.ts
  packages/@esta-core/tools-config/src/core/config/defaults.ts
  packages/@esta-core/tools-config/src/core/config/loader.ts
  packages/@esta-core/tools-config/src/defaults.ts
  packages/@esta-core/tools-config/src/loadConfig.ts
  packages/@esta-core/tools-config/src/schemas/config.ts
  packages/@esta-core/tools-config/src/schemas/index.ts
  packages/@esta-core/tools-config/src/schemas/tools.ts
  packages/@esta-core/tools-config/src/tools.ts
  packages/@esta-core/tools-config/src/types/config.ts
  packages/@esta-core/tools-config/src/types/tools.ts
  packages/@esta-core/tools-config/src/validator/__tests__/egetValidator.spec.ts
  packages/@esta-core/tools-config/src/validator/config.ts
  packages/@esta-core/tools-config/src/validator/egetValidator.ts
  packages/@esta-core/tools-config/tests/e2e/config-loader-test.spec.ts
  packages/@esta-core/tools-config/tests/e2e/loadConfig.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(tools-config): restructure and expand validation test coverage
  packages/@esta-core/tools-config/src/core/config/__tests__/defaultToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/defaults.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/loader.spec.ts
  packages/@esta-core/tools-config/src/validator/__tests__/config.spec.ts
  packages/@esta-core/tools-config/src/validator/__tests__/egetValidator.internal.spec.ts
  packages/@esta-core/tools-config/src/validator/__tests__/schemas.spec.ts
  packages/@esta-core/tools-config/src/validator/__tests__/utils.spec.ts
  packages/@esta-core/tools-config/src/validator/__tests__/validateConfig.spec.ts
  packages/@esta-core/tools-config/src/validator/__tests__/validateTools.spec.ts
  packages/@esta-core/tools-config/src/validator/index.ts
  packages/@esta-core/tools-config/src/validator/tools/index.ts
  packages/@esta-core/tools-config/src/validator/validate.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor(tools-config): simplify config module structure and cleanup unused code
  packages/@esta-core/tools-config/src/core/config/__tests__/defaultToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/defaults.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/loader.spec.ts
  packages/@esta-core/tools-config/src/core/config/defaults.ts
  packages/@esta-core/tools-config/src/core/config/index.ts
  packages/@esta-core/tools-config/src/core/config/loader.ts
  packages/@esta-core/tools-config/src/index.ts
  packages/@esta-core/tools-config/src/internal/constants/config.ts
  packages/@esta-core/tools-config/src/internal/constants/index.ts
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/internal/index.ts
  packages/@esta-core/tools-config/src/internal/schemas/index.ts
  packages/@esta-core/tools-config/src/internal/schemas/tools.schemas.ts
  packages/@esta-core/tools-config/src/internal/types/config.ts
  packages/@esta-core/tools-config/src/internal/types/index.ts
  packages/@esta-core/tools-config/src/internal/types/tools.ts
  packages/@esta-core/tools-config/src/internal/types/validation.ts
  packages/@esta-core/tools-config/src/toolsValidator/base.ts
  packages/@esta-core/tools-config/src/toolsValidator/egetValidator.ts
  packages/@esta-core/tools-config/src/toolsValidator/index.ts
  packages/@esta-core/tools-config/src/toolsValidator/utils/index.ts
  packages/@esta-core/tools-config/src/toolsValidator/utils/pathUtils.ts
  packages/@esta-core/tools-config/src/types/config.ts
  packages/@esta-core/tools-config/src/types/tools.ts
  packages/@esta-core/tools-config/src/types/validation.ts
  packages/@esta-core/tools-config/src/validator/__tests__/config.spec.ts
  packages/@esta-core/tools-config/src/validator/__tests__/egetValidator.internal.spec.ts
  packages/@esta-core/tools-config/src/validator/__tests__/egetValidator.spec.ts
  packages/@esta-core/tools-config/src/validator/__tests__/utils.spec.ts
  packages/@esta-core/tools-config/src/validator/__tests__/validateConfig.spec.ts
  packages/@esta-core/tools-config/src/validator/__tests__/validateTools.spec.ts
  packages/@esta-core/tools-config/src/validator/config.ts
  packages/@esta-core/tools-config/src/validator/index.ts
  packages/@esta-core/tools-config/src/validator/validate.ts
  packages/@esta-core/tools-config/tests/e2e/loadConfig.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor(tools-config): unify config types and restructure modules
  packages/@esta-core/tools-config/shared/schemas/index.ts
  packages/@esta-core/tools-config/shared/schemas/tools.schemas.ts
  packages/@esta-core/tools-config/shared/types/index.ts
  packages/@esta-core/tools-config/shared/types/toolEntry.types.ts
  packages/@esta-core/tools-config/shared/types/tools.types.ts
  packages/@esta-core/tools-config/shared/types/toolsConfig.types.ts
  packages/@esta-core/tools-config/src/__tests__/defaults.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/defaultToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/defaults.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/index.ts
  packages/@esta-core/tools-config/src/defaults.ts
  packages/@esta-core/tools-config/src/index.ts
  packages/@esta-core/tools-config/src/internal/schemas/__tests__/tools.schemas.spec.ts
  packages/@esta-core/tools-config/src/internal/schemas/tools.schemas.ts
  packages/@esta-core/tools-config/src/internal/types/config.ts
  packages/@esta-core/tools-config/src/internal/types/index.ts
  packages/@esta-core/tools-config/src/internal/types/tools.ts
  packages/@esta-core/tools-config/src/internal/types/validation.ts
  packages/@esta-core/tools-config/src/tools-validator/index.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.api.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.internal.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/validateTools.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/base.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/index.ts
  packages/@esta-core/tools-config/src/utils/__tests__/pathUtils.spec.ts
  packages/@esta-core/tools-config/src/utils/index.ts
  packages/@esta-core/tools-config/src/utils/pathUtils.ts
  packages/@esta-core/tools-config/src/validator/__tests__/egetValidator.internal.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: configツール用の包括的なエッジおよび統合テストを追加
  packages/@esta-core/tools-config/src/core/config/__tests__/integration.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/boundary.spec.ts
  packages/@esta-core/tools-config/src/utils/__tests__/pathUtils.edge.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor(tools-config): improve error handling and message validation in tests
  packages/@esta-core/tools-config/package.json
  packages/@esta-core/tools-config/src/core/config/__tests__/integration.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/loader.spec.ts
  packages/@esta-core/tools-config/src/core/config/loader.ts
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/internal/schemas/__tests__/tools.schemas.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/base.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
  packages/@esta-core/tools-config/src/utils/__tests__/pathUtils.edge.spec.ts
  packages/@esta-core/tools-config/tests/e2e/loadConfig.e2e.spec.ts
  packages/@esta-utils/config-loader/src/loadConfig.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor(tools-config): improve config loading and merging behavior
  packages/@esta-core/tools-config/src/__tests__/defaults.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/integration.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/mergeConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/index.ts
  packages/@esta-core/tools-config/src/core/config/loadToolsConfig.ts
  packages/@esta-core/tools-config/src/core/config/mergeToolsConfig.ts
  packages/@esta-core/tools-config/tests/e2e/loadConfig.e2e.spec.ts
  packages/@esta-core/tools-config/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

test: integration.spec.ts/boundary.spec.tsでのテストケース改善
  packages/@esta-core/tools-config/src/core/config/__tests__/integration.spec.ts
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/internal/schemas/__tests__/tools.schemas.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/boundary.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.internal.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/validateTools.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/base.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
  packages/@esta-core/tools-config/src/utils/__tests__/pathUtils.edge.spec.ts
  packages/@esta-core/tools-config/src/utils/pathUtils.ts
  packages/@esta-core/tools-config/tests/e2e/loadConfig.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs: claudeによるドキュメントの整備
  docs/specs/@agla-e2e--fileio-framework.spec.md
  docs/specs/@agla-utils--ag-logger.spec.md
  docs/specs/@esta-actions--tools-installer.spec.md
  docs/specs/@esta-core--error-handler.spec.md
  docs/specs/@esta-core--feature-flags.spec.md
  docs/specs/@esta-core-esta-config.spec.md
  docs/specs/@esta-system--exit-status.spec.md
  docs/specs/@esta-utils--command-runner.spec.md
  docs/specs/@esta-utils--config-loader.spec.md
  docs/specs/@esta-utils--get-platform.spec.md
  docs/specs/@shared--constants.spec.md
  docs/specs/@shared-types.spec.md
  packages/@esta-core/tools-config/docs/design-specification.md
  packages/@esta-core/tools-config/docs/e2e-test-specification.md
  packages/@esta-core/tools-config/docs/test-specification.md
  packages/@esta-core/tools-config/src/core/config/__tests__/integration.spec.ts
  packages/@esta-core/tools-config/src/core/config/mergeToolsConfig.ts
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.internal.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
  packages/@esta-core/tools-config/src/utils/__tests__/pathUtils.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

fix: 設定検証の改善とコードの可読性向上
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/boundary.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/base.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

chore: @esta-utils/utils パッケージおよび関連ファイルの削除
  packages/@esta-utils/utils/.gitignore
  packages/@esta-utils/utils/.vscode/cspell.json
  packages/@esta-utils/utils/README.ja.md
  packages/@esta-utils/utils/configs/commitlint.config.ts
  packages/@esta-utils/utils/configs/eslint.config.js
  packages/@esta-utils/utils/configs/eslint.config.typed.js
  packages/@esta-utils/utils/configs/secretlint.config.yaml
  packages/@esta-utils/utils/configs/tsup.config.module.ts
  packages/@esta-utils/utils/configs/tsup.config.ts
  packages/@esta-utils/utils/configs/vitest.config.ci.ts
  packages/@esta-utils/utils/configs/vitest.config.unit.ts
  packages/@esta-utils/utils/package.json
  packages/@esta-utils/utils/src/index.ts
  packages/@esta-utils/utils/tsconfig.json
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

build(test): split integration and e2e test configs for clarity
  base/configs/base-scripts.json
  shared/packages/constants/configs/vitest.config.e2e.ts
  shared/packages/constants/configs/vitest.config.integration.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

deps: 未使用の モジュール @esta-utils/utils を削除
  configs/eslint.projects.js
Due: secretlint, check-format

chore: ユニットテスト中のインテグレーションテストを、tests/integration/下に移動
  packages/@esta-core/tools-config/src/tools-validator/validator/base.ts
  packages/@esta-core/tools-config/tests/integration/integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat(tools-config): メインエントリーポイント getToolsConfig を実装
  packages/@esta-core/tools-config/src/__tests__/defaultToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/__tests__/defaults.spec.ts
  packages/@esta-core/tools-config/src/__tests__/getToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/mergeConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/mergeToolsConfig.ts
  packages/@esta-core/tools-config/src/getToolsConfig.ts
  packages/@esta-core/tools-config/src/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

chore: 特殊文字のチェック用にラテン語のtest,directoryを追加
  .vscode/cspell/dicts/project.dic
Due: secretlint

fix: 全パッケージ設定の test:all スクリプト名を修正
  base/configs/base-scripts.json
  packages/@agla-e2e/fileio-framework/package.json
  packages/@agla-utils/ag-logger/package.json
  packages/@esta-actions/tools-installer/package.json
  packages/@esta-core/error-handler/package.json
  packages/@esta-core/feature-flags/package.json
  packages/@esta-core/tools-config/package.json
  packages/@esta-system/exit-status/package.json
  packages/@esta-utils/command-runner/package.json
  packages/@esta-utils/config-loader/package.json
  packages/@esta-utils/get-platform/package.json
  shared/packages/constants/package.json
  shared/packages/types/package.json
Due: secretlint, check-spells, check-format

test: strengthen config and options validation tests
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/mergeConfig.spec.ts
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.internal.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
  packages/@esta-core/tools-config/tests/e2e/loadConfig.e2e.spec.ts
  packages/@esta-core/tools-config/tests/integration/integration.spec.ts
  packages/@esta-core/tools-config/tests/integration/toolsConfig.ci.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

chore: 新規追加したモジュール、関数に詳細なドキュメントを追加
  packages/@esta-core/tools-config/src/core/config/loadToolsConfig.ts
  packages/@esta-core/tools-config/src/core/config/mergeToolsConfig.ts
  packages/@esta-core/tools-config/src/defaults.ts
  packages/@esta-core/tools-config/src/getToolsConfig.ts
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/internal/schemas/tools.schemas.ts
  packages/@esta-core/tools-config/src/tools-validator/utils/validatorUtils.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat(tools-config): Validation用ユーティリティ validatorUtilsを追加
  .claude/commands/validate-debug.md
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/internal/types/validation.ts
  packages/@esta-core/tools-config/src/tools-validator/utils/validatorUtils.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/boundary.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.api.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.internal.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
  packages/@esta-core/tools-config/tests/integration/toolsConfig.ci.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: バリデーションタイプの整理とバリデータファイル名の明確化
  packages/@esta-core/tools-config/src/internal/types/index.ts
  packages/@esta-core/tools-config/src/internal/types/validation.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/baseValidator.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(tools-config): 各テストを整理し、JSDocを追加
  packages/@esta-core/tools-config/src/__tests__/defaultToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/__tests__/getToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/mergeConfig.spec.ts
  packages/@esta-core/tools-config/src/internal/schemas/__tests__/tools.schemas.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/validateTools.spec.ts
  packages/@esta-core/tools-config/src/utils/__tests__/pathUtils.edge.spec.ts
  packages/@esta-core/tools-config/src/utils/__tests__/pathUtils.spec.ts
  packages/@esta-core/tools-config/tests/e2e/loadConfig.e2e.spec.ts
  packages/@esta-core/tools-config/tests/integration/toolsConfig.ci.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: バリデーションエラーメッセージの集中管理と標準化
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/internal/schemas/tools.schemas.ts
  packages/@esta-core/tools-config/src/tools-validator/utils/validatorUtils.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/baseValidator.ts
  packages/@esta-core/tools-config/src/utils/pathUtils.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: インテグレーションテストでのマージを関数呼び出し式に修正
  packages/@esta-core/tools-config/tests/integration/toolsConfig.ci.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: メインエントリーポイント getToolsConfig のE2Eテストを追加
  packages/@esta-core/tools-config/tests/e2e/getToolsConfig.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs: アークテクチャ仕様書、テスト仕様書を改訂
  packages/@esta-core/tools-config/docs/architecure-design.spec.md
  packages/@esta-core/tools-config/docs/e2e-test.spec.md
  packages/@esta-core/tools-config/docs/test-specification.md
  packages/@esta-core/tools-config/docs/unit-test.spec.md
Due: secretlint, check-format

refactor: 未使用の型を削除し、internal/typesからの再エクスポートを削除
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/loadToolsConfig.ts
  packages/@esta-core/tools-config/src/defaults.ts
  packages/@esta-core/tools-config/src/getToolsConfig.ts
  packages/@esta-core/tools-config/src/index.ts
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/internal/schemas/__tests__/tools.schemas.spec.ts
  packages/@esta-core/tools-config/src/internal/types/config.ts
  packages/@esta-core/tools-config/src/internal/types/index.ts
  packages/@esta-core/tools-config/src/internal/types/tools.ts
  packages/@esta-core/tools-config/src/tools-validator/utils/validatorUtils.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/boundary.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.api.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.internal.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/validateTools.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/baseValidator.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
  packages/@esta-core/tools-config/tests/integration/toolsConfig.ci.spec.ts
  packages/@esta-core/tools-config/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

fix: validate-debug.md: コマンドのエラーを修正
  .claude/commands/validate-debug.md
Due: secretlint, check-format

docs: 設定を更新し、テストドキュメントを拡充
  configs/textlintrc.yaml
  packages/@esta-core/tools-config/docs/architecure-design.spec.md
  packages/@esta-core/tools-config/docs/e2e-test.spec.md
  packages/@esta-core/tools-config/docs/unit-test.spec.md
Due: secretlint, check-format

test: move integration tests and strengthen config validation coverage
  packages/@esta-core/tools-config/src/core/config/__tests__/integration.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/mergeConfig.spec.ts
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.internal.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/base.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
  packages/@esta-core/tools-config/tests/e2e/loadConfig.e2e.spec.ts
  packages/@esta-core/tools-config/tests/integration/toolsConfig.ci.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat(tools-config): メインエントリーポイント getToolsConfig を実装
  packages/@esta-core/tools-config/src/__tests__/defaultToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/__tests__/defaults.spec.ts
  packages/@esta-core/tools-config/src/__tests__/getToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/mergeConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/mergeToolsConfig.ts
  packages/@esta-core/tools-config/src/getToolsConfig.ts
  packages/@esta-core/tools-config/src/index.ts
  packages/@esta-core/tools-config/tests/e2e/getToolsConfig.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format
