Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore "{staged_files}"
  
    '

eslint:
  run: pnpm run lint-all -- {staged_files}

eslint-types:
  run: pnpm run lint-all:types -- "{staged_files}"

lint-files:
  run: pnpm run lint:filenames -- {staged_files}

check-spells:
  run: pnpm run check:spells -- {staged_files}

check-format:
  run: dprint check {staged_files}

fix: 安全確認を追加して実行環境検出を改善
  packages/@esta-system/runtime/src/getRuntime.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: ランタイム検出とエラー処理に関する包括的なテストを追加
  packages/@esta-system/runtime/src/__tests__/getRuntime.spec.ts
  packages/@esta-system/runtime/tests/e2e/runtime-detect/runtime-detection.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

config: update build, lint, spellcheck, tsup, and vitest settings
  .vscode/cspell/dicts/project.dic
  base/configs/eslint.config.typed.base.js
  base/configs/tsconfig.base.json
  package.json
  packages/@esta-core/esta-error/.vscode/cspell.json
  packages/@esta-core/esta-error/configs/commitlint.config.ts
  packages/@esta-core/esta-error/configs/eslint.config.typed.js
  packages/@esta-core/esta-error/configs/tsup.config.module.ts
  packages/@esta-core/esta-error/configs/tsup.config.ts
  packages/@esta-core/esta-error/configs/vitest.config.e2e.ts
  packages/@esta-core/esta-error/configs/vitest.config.functional.ts
  packages/@esta-core/esta-error/configs/vitest.config.integration.ts
  packages/@esta-core/esta-error/configs/vitest.config.unit.ts
  tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

feat(@esta-core/esta-error): introduce error handling package with full config and tests
  packages/@esta-core/esta-error/.gitignore
  packages/@esta-core/esta-error/configs/eslint.config.js
  packages/@esta-core/esta-error/configs/secretlint.config.yaml
  packages/@esta-core/esta-error/package.json
  packages/@esta-core/esta-error/shared/types/ErrorSeverity.types.ts
  packages/@esta-core/esta-error/shared/types/EstaError.types.ts
  packages/@esta-core/esta-error/shared/types/index.ts
  packages/@esta-core/esta-error/src/__tests__/index.spec.ts
  packages/@esta-core/esta-error/src/__tests__/types/ErrorSeverity.spec.ts
  packages/@esta-core/esta-error/src/__tests__/types/EstaError.spec.ts
  packages/@esta-core/esta-error/src/index.ts
  packages/@esta-core/esta-error/tsconfig.json
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

fix(deno): deno.base.jsonc 設定ファイルの JSON 構文エラーを修正
  base/configs/deno.base.jsonc
Due: secretlint

docs: パッケージ間での EstaError 実装の統一と再構築
  CLAUDE.md
  docs/.cc-kiro/ag-logger/mock-logger/mock-logger.design.md
  docs/.cc-kiro/ag-logger/mock-logger/mock-logger.requirement.md
  docs/.cc-kiro/ag-logger/mock-logger/mock-logger.spec.md
  docs/.cc-kiro/ag-logger/mock-logger/mock-logger.tasks.md
  docs/.cc-kiro/esta-error/esta-error.plan.md
  docs/.cc-kiro/restructure-plan/README.ja.md
  docs/.cc-kiro/restructure-plan/phase01-1-error-handling.spec.md
  docs/.cc-kiro/restructure-plan/phase01-2-runtime.spec.md
  docs/.cc-kiro/restructure-plan/phase01-foundation.md
  docs/.cc-kiro/restructure-plan/phase02-integration.md
  docs/.cc-kiro/restructure-plan/phase03-application-integration.md
  docs/.cc-kiro/restructure-plan/phase04-system-actions.md
  docs/.cc-kiro/restructure-plan/phase05-unified-packages.md
  docs/plans/ag-logger.refactor.plan.md
  docs/restructure-plan/00-overview.md
  docs/restructure-plan/01-current-analysis.md
  docs/restructure-plan/02-new-architecture.md
  docs/restructure-plan/03-migration-strategy.md
  docs/restructure-plan/04-implementation-plan.md
  docs/restructure-plan/README.md
  docs/restructuring/00-overview.md
  docs/restructuring/01-current-analysis.md
  docs/restructuring/02-target-architecture.md
  docs/restructuring/03-migration-phases.md
  docs/restructuring/04-implementation-guide.md
  docs/restructuring/05-quality-assurance.md
  docs/restructuring/README.md
Due: secretlint, check-spells, check-format

deps: rollupをバージョンアップ
  pnpm-lock.yaml
Due: none

deps: version up emnapi
  pnpm-lock.yaml
Due: none

build(base): 型情報を build:types で出力するように変更
  base/configs/base-scripts.json
  base/configs/tsconfig.base.json
Due: secretlint, check-spells, check-format

build: tsup設定ファイルをcjs/esmにあわせて変更し、それに伴いビルドスクリプトを調整
  shared/packages/types/configs/tsup.config.cjs.ts
  shared/packages/types/configs/tsup.config.esm.ts
  shared/packages/types/package.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

config(cSpell): スペル辞書に共通のJavaScriptモジュールタイプを追加
  .vscode/cspell/dicts/project.dic
Due: secretlint

deps: bump types package to 0.2.2 and update tooling
  package.json
  pnpm-lock.yaml
  shared/packages/types/package.json
Due: secretlint, check-spells, check-format

config: update caching, paths, and project settings
  .vscode/cspell/dicts/project.dic
  base/configs/base-scripts.json
  shared/packages/types/.gitignore
  shared/packages/types/.mcp.json
  shared/packages/types/AGENTS.md
  shared/packages/types/configs/eslint.config.js
  shared/packages/types/configs/eslint.config.typed.js
  shared/packages/types/configs/vitest.config.e2e.ts
  shared/packages/types/configs/vitest.config.functional.ts
  shared/packages/types/configs/vitest.config.integration.ts
  shared/packages/types/configs/vitest.config.unit.ts
  shared/packages/types/package.json
  shared/packages/types/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

config(cSpell): スペルチェッカーの辞書にNXDOMAINを追加
  .vscode/cspell/dicts/project.dic
Due: secretlint

refactor(test-types): httpヘッダー用の型のキーをheaderとして明確化
  shared/packages/types/src/__tests__/helpers/test-types.types.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor(AglaError): add error chaining and improve structure, context, and tests
  shared/packages/types/src/__tests__/AglaError.chain-compatibility.spec.ts
  shared/packages/types/src/__tests__/AglaError.inheritance.spec.ts
  shared/packages/types/src/__tests__/AglaError.serialization.spec.ts
  shared/packages/types/src/__tests__/AglaError.spec.ts
  shared/packages/types/src/__tests__/AglaError.typescript.spec.ts
  shared/packages/types/src/__tests__/ErrorSeverity.spec.ts
  shared/packages/types/src/__tests__/functional/AglaError.functional.spec.ts
  shared/packages/types/src/__tests__/functional/ErrorSeverity.functional.spec.ts
  shared/packages/types/src/__tests__/helpers/TestAglaError.class.ts
  shared/packages/types/src/__tests__/helpers/test-types.ts
  shared/packages/types/tests/e2e/AglaError.e2e.spec.ts
  shared/packages/types/tests/integration/AglaError.external-systems.integration.spec.ts
  shared/packages/types/tests/integration/AglaError.integration.spec.ts
  shared/packages/types/todo.md
  shared/packages/types/types/AglaError.types.ts
  shared/packages/types/types/ErrorSeverity.types.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(AglaError): improve context validation and type safety in E2E/integration
  shared/packages/types/src/__tests__/AglaError.serialization.spec.ts
  shared/packages/types/src/__tests__/AglaError.spec.ts
  shared/packages/types/src/__tests__/AglaError.typescript.spec.ts
  shared/packages/types/src/__tests__/AglaErrorContext.validation.spec.ts
  shared/packages/types/src/__tests__/HttpHeaders.validation.spec.ts
  shared/packages/types/src/__tests__/TAglaErrorContextWithSymbols.validation.spec.ts
  shared/packages/types/src/__tests__/TErrorStatistics.validation.spec.ts
  shared/packages/types/src/__tests__/TTestBuffer.validation.spec.ts
  shared/packages/types/src/__tests__/helpers/test-types.ts
  shared/packages/types/tests/e2e/AglaError.consumer-usage.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.custom-error-workflow.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-chaining.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-propagation.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-reporting.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.external-logging-integration.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.external-monitoring-integration.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.external-system-verification.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.logging-workflow.e2e.spec.ts
  shared/packages/types/tests/integration/AglaError.integration.spec.ts
  shared/packages/types/tests/integration/BasicIntegrationScenario.integration.spec.ts
  shared/packages/types/tests/integration/ComplexSerialization.integration.spec.ts
  shared/packages/types/tests/integration/CrossPackageIntegration.integration.spec.ts
  shared/packages/types/tests/integration/ExternalSystemIntegration.integration.spec.ts
  shared/packages/types/tests/integration/HighFrequencyPerformance.integration.spec.ts
  shared/packages/types/tests/integration/MemoryLeakPrevention.integration.spec.ts
  shared/packages/types/todo.md
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(AglaError/functional): simplify assertions and test chain() with originalError
  shared/packages/types/src/__tests__/functional/AglaError.functional.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(AglaError/integration): refine context assertions and expand integration coverage
  shared/packages/types/tests/integration/AglaError.integration.spec.ts
  shared/packages/types/tests/integration/BasicIntegrationScenario.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(AglaError/e2e): add context validation, recovery scenarios, and improve type safety
  shared/packages/types/docs/index.md
  shared/packages/types/docs/refactor.plan.md
  shared/packages/types/docs/test-optimization.plan.md
  shared/packages/types/handover.md
  shared/packages/types/src/__tests__/AglaError.chain-compatibility.spec.ts
  shared/packages/types/src/__tests__/AglaError.inheritance.spec.ts
  shared/packages/types/src/__tests__/AglaError.serialization.spec.ts
  shared/packages/types/src/__tests__/AglaError.spec.ts
  shared/packages/types/src/__tests__/AglaError.typescript.spec.ts
  shared/packages/types/src/__tests__/ErrorSeverity.spec.ts
  shared/packages/types/src/__tests__/functional/AglaError.functional.spec.ts
  shared/packages/types/src/__tests__/functional/ErrorSeverity.functional.spec.ts
  shared/packages/types/src/__tests__/helpers/TestAglaError.class.ts
  shared/packages/types/tests/e2e/AglaError.data-integrity-errors.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.database-failure-simulation.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.deadlock-detection.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-chaining.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-reporting.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.external-system-verification.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.filesystem-failure-simulation.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.network-failure-simulation.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.race-condition-detection.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.resource-exhaustion-scenarios.e2e.spec.ts
  shared/packages/types/tests/integration/AglaError.external-systems.integration.spec.ts
  shared/packages/types/tests/integration/AglaError.integration.spec.ts
  shared/packages/types/todo.md
  shared/packages/types/types/AglaError.types.ts
  shared/packages/types/types/ErrorSeverity.types.ts
  shared/packages/types/types/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(todo): mark type refactoring and failure simulation tasks as completed
  shared/packages/types/todo.md
Due: secretlint, check-format

docs(handover): テスト戦略のリファクタリングと詳細なプロジェクト計画の文書化
  shared/packages/types/handover.md
Due: secretlint, check-format

docs(todo): エラークラス AglaError のドキュメント整理
  shared/packages/types/handover.md
  shared/packages/types/todo.md
Due: secretlint, check-format

docs(claude): add comprehensive developer documentation and AglaError system details
  CLAUDE.md
  docs/claude/architecture.md
  docs/claude/commands.md
  docs/claude/conventions.md
  docs/claude/development.md
  docs/claude/pending-tasks.md
  docs/claude/project-overview.md
  docs/claude/quality-assurance.md
  docs/claude/testing.md
Due: secretlint, check-spells, check-format

docs(project-overview): /shared/types部を更新
  docs/claude/project-overview.md
Due: secretlint, check-spells, check-format

docs(todo): タスク完了状況と進捗指標の更新
  shared/packages/types/todo.md
Due: secretlint, check-format

docs(ToDo): 完了したタスクと進捗を反映するためにドキュメントを更新
  shared/packages/types/todo.md
Due: secretlint, check-format

chore(docs): フロントマター付きドキュメント用のスクリプトを追加
  docs/_templates/template.md
  package.json
  scripts/check-doc-frontmatter.ts
  scripts/new-doc.ts
Due: secretlint, lint-files, check-spells, check-format

docs(AGENTS): ドキュメントをリファクタリングし、日本語に特化したガイドハブを確立
  AGENTS.md
  CLAUDE.md
Due: none

docs(template): テンプレート用に、変更部分をプレースホルダー化
  docs/_templates/template.md
Due: secretlint, check-spells, check-format

docs(AglaError): エラークラス実装完了ドキュメント
  shared/packages/types/docs/agla-error-completion-summary.md
Due: secretlint, check-format

docs(claude): add and update front matter guidelines across module docs
  docs/claude/architecture.md
  docs/claude/commands.md
  docs/claude/conventions.md
  docs/claude/development.md
  docs/claude/pending-tasks.md
  docs/claude/project-overview.md
  docs/claude/quality-assurance.md
  docs/claude/testing.md
Due: secretlint, check-spells, check-format

docs(spec): standardize front matter and improve metadata/formatting
  docs/guide/ag-logger.guide.md
  docs/specs/@agla-e2e--fileio-framework.spec.md
  docs/specs/@agla-utils--ag-logger.spec.md
  docs/specs/@esta-actions--tools-installer.spec.md
  docs/specs/@esta-core--error-handler.spec.md
  docs/specs/@esta-core--feature-flags.spec.md
  docs/specs/@esta-core--tools-config.spec.md
  docs/specs/@esta-system--exit-status.spec.md
  docs/specs/@esta-utils--command-runner.spec.md
  docs/specs/@esta-utils--config-loader.spec.md
  docs/specs/@esta-utils--get-platform.spec.md
  docs/specs/@shared--constants.spec.md
  docs/specs/@shared-types.spec.md
  docs/specs/README.ja.md
Due: secretlint, check-spells, check-format

docs(restructutr): フロントマターの標準化とドキュメント全体の見出し統一
  docs/restructuring/00-overview.md
  docs/restructuring/01-current-analysis.md
  docs/restructuring/02-target-architecture.md
  docs/restructuring/03-migration-phases.md
  docs/restructuring/04-implementation-guide.md
  docs/restructuring/05-quality-assurance.md
  docs/restructuring/README.md
Due: secretlint, check-spells, check-format

docs(detailed): 終了コードドキュメントのフォーマットと明確さを改善
  docs/detailed-design/exit-codes.md
Due: secretlint, check-spells, check-format

docs(onboarding): フロントマターの標準化、および文章の改善
  docs/onboarding/00-intro.md
  docs/onboarding/01-requirements.md
  docs/onboarding/02-package_managers.md
  docs/onboarding/03-global_tools.md
  docs/onboarding/04-writers_tools.md
  docs/onboarding/05-dev_tools_setup.md
  docs/onboarding/06-monorepo_repository.md
  docs/onboarding/07-shared_configs.md
  docs/onboarding/08-package_json_scripts.md
  docs/onboarding/09-code_quality_tools.md
  docs/onboarding/10-writing_tools.md
  docs/onboarding/11-ci_validation_tools.md
  docs/onboarding/12-pre_commit_tools.md
  docs/onboarding/README.ja.md
Due: secretlint, check-spells, check-format

docs(kiro): ドキュメントファイルのヘッダーメタデータから日付フィールドを削除
  docs/.cc-kiro/esta-error/esta-error.plan.md
Due: secretlint, check-spells, check-format

docs(fileio-framework): フロントマターを標準化
  packages/@agla-e2e/fileio-framework/docs/developers-guide/01-overview.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/02-getting-started.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/03-usage.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/04-api-guide.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/09-faq.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/README.ja.md
Due: secretlint, check-format

docs(AgLogger): standardize front matter, headings, and API consistency
  packages/@agla-utils/ag-logger/docs/api/AgLogger.md
  packages/@agla-utils/ag-logger/docs/api/AgLoggerManager.md
  packages/@agla-utils/ag-logger/docs/api/AgLoggerOptions.md
  packages/@agla-utils/ag-logger/docs/api/AgManagerUtils.md
  packages/@agla-utils/ag-logger/docs/api/README.md
  packages/@agla-utils/ag-logger/docs/api/plugins/formatters/JsonFormatter.md
  packages/@agla-utils/ag-logger/docs/api/plugins/formatters/PlainFormatter.md
  packages/@agla-utils/ag-logger/docs/api/plugins/loggers/ConsoleLogger.md
  packages/@agla-utils/ag-logger/docs/api/types/AgFormatFunction.md
  packages/@agla-utils/ag-logger/docs/api/types/AgLoggerFunction.md
  packages/@agla-utils/ag-logger/docs/api/types/AgLoggerInterface.md
  packages/@agla-utils/ag-logger/docs/api/types/AgLoggerMap.md
  packages/@agla-utils/ag-logger/docs/api/types/LogLevel.md
  packages/@agla-utils/ag-logger/docs/api/utils/AgLogHelpers.md
  packages/@agla-utils/ag-logger/docs/api/utils/AgLogValidators.md
  packages/@agla-utils/ag-logger/docs/user-guides/basic-usage.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/faq.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/formatters.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/getting-started.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/loggermap.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/quick-start.guide.md
Due: secretlint, check-format

docs(tools-installer): standardize Japanese docs and update progress tracking
  packages/@esta-actions/tools-installer/README.ja.md
Due: secretlint, check-format

Path conditions:
  secretlint: any of: **/*
  eslint: any of: shared/**/*.ts, packages/**/*.ts
  eslint-types: any of: shared/**/*.ts, packages/**/*.ts
  lint-files: any of: **/*.ts, scripts/**/*
  check-spells: any of: /shared/**/*.ts, /packages/**/*.ts, /shared/**/*.md, /packages/**/*.md, **/*.json, docs/**/*.md
  check-format: any of: **/*.ts, **/*.js, **/*.json, **/*.md
