Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore "{staged_files}"
  
    '

eslint:
  run: pnpm run lint-all -- {staged_files}

eslint-types:
  run: pnpm run lint-all:types -- "{staged_files}"

lint-files:
  run: pnpm run lint:filenames -- {staged_files}

check-spells:
  run: pnpm run check:spells -- {staged_files}

check-format:
  run: dprint check {staged_files}

chore: ESLint設定の改善とfatalExit関数コードのクリーンアップ
  configs/eslint.projects.js
  packages/@esta-core/error-handler/src/fatalExit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

config: initialize error-result settings and clarify config file comments
  packages/@esta-error/error-result/.vscode/cspell.json
  packages/@esta-error/error-result/configs/commitlint.config.ts
  packages/@esta-error/error-result/configs/eslint.config.js
  packages/@esta-error/error-result/configs/eslint.config.typed.js
  packages/@esta-error/error-result/configs/secretlint.config.yaml
  packages/@esta-error/error-result/configs/tsup.config.module.ts
  packages/@esta-error/error-result/configs/tsup.config.ts
  packages/@esta-error/error-result/configs/vitest.config.e2e.ts
  packages/@esta-error/error-result/configs/vitest.config.integration.ts
  packages/@esta-error/error-result/configs/vitest.config.unit.ts
  packages/@esta-error/error-result/package.json
  packages/@esta-error/error-result/tsconfig.json
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

test(error-handler): errorExit,fatalExitなど統一的なエラー終了処理の実装
  packages/@esta-error/error-handler/src/__tests__/errorExit.spec.ts
  packages/@esta-error/error-handler/src/__tests__/fatalExit.spec.ts
  packages/@esta-error/error-handler/src/__tests__/handleExitError.spec.ts
  packages/@esta-error/error-handler/src/error/ExitError.ts
  packages/@esta-error/error-handler/src/error/__tests__/ExitError.spec.ts
  packages/@esta-error/error-handler/src/errorExit.ts
  packages/@esta-error/error-handler/src/fatalExit.ts
  packages/@esta-error/error-handler/src/handleExitError.ts
  packages/@esta-error/error-handler/src/index.ts
  packages/@esta-error/error-handler/src/utils/exitCodeUtils.ts
  packages/@esta-error/error-handler/tests/e2e/errorExit.spec.ts
  packages/@esta-error/error-handler/tests/e2e/fatalExit.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

chore: @esta-error/error-handlerのconfigファイル初期設定
  packages/@esta-error/error-handler/.gitignore
  packages/@esta-error/error-handler/.vscode/cspell.json
  packages/@esta-error/error-handler/configs/commitlint.config.ts
  packages/@esta-error/error-handler/configs/eslint.config.js
  packages/@esta-error/error-handler/configs/eslint.config.typed.js
  packages/@esta-error/error-handler/configs/secretlint.config.yaml
  packages/@esta-error/error-handler/configs/tsup.config.module.ts
  packages/@esta-error/error-handler/configs/tsup.config.ts
  packages/@esta-error/error-handler/configs/vitest.config.e2e.ts
  packages/@esta-error/error-handler/configs/vitest.config.integration.ts
  packages/@esta-error/error-handler/configs/vitest.config.unit.ts
  packages/@esta-error/error-handler/package.json
  packages/@esta-error/error-handler/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor: centralize shared types and constants for cleaner project structure
  packages/@esta-error/error-result/shared/constants/errorCode.constants.ts
  packages/@esta-error/error-result/shared/constants/index.ts
  packages/@esta-error/error-result/shared/types/errorResult.types.ts
  packages/@esta-error/error-result/shared/types/index.ts
  packages/@esta-error/error-result/shared/types/tupleResult.types.ts
  packages/@esta-error/error-result/src/errors/ErrorResult.ts
  packages/@esta-error/error-result/src/errors/TupleResult.ts
  packages/@esta-error/error-result/src/errors/__tests__/TupleResult.spec.ts
  packages/@esta-error/error-result/src/errors/__tests__/errorResult.spec.ts
  packages/@esta-error/error-result/src/handlers/__tests__/ErrorResultFactory.spec.ts
  packages/@esta-error/error-result/src/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: テスト設定を改善し、パスエイリアスを簡素化
  packages/@esta-error/error-result/configs/vitest.config.e2e.ts
  packages/@esta-error/error-result/configs/vitest.config.integration.ts
  packages/@esta-error/error-result/configs/vitest.config.unit.ts
  packages/@esta-error/error-result/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

feat(error-result): add ErrorResult with JSDoc and test documentation
  packages/@esta-error/error-result/shared/constants/errorCode.constants.ts
  packages/@esta-error/error-result/shared/constants/index.ts
  packages/@esta-error/error-result/shared/types/errorResult.types.ts
  packages/@esta-error/error-result/shared/types/index.ts
  packages/@esta-error/error-result/shared/types/tupleResult.types.ts
  packages/@esta-error/error-result/src/__tests__/ErrorResultFactory.spec.ts
  packages/@esta-error/error-result/src/__tests__/TupleResult.spec.ts
  packages/@esta-error/error-result/src/__tests__/errorResult.spec.ts
  packages/@esta-error/error-result/src/errors/ErrorResult.ts
  packages/@esta-error/error-result/src/errors/TupleResult.ts
  packages/@esta-error/error-result/src/errors/__tests__/TupleResult.spec.ts
  packages/@esta-error/error-result/src/errors/__tests__/errorResult.spec.ts
  packages/@esta-error/error-result/src/handlers/ErrorResultFactory.ts
  packages/@esta-error/error-result/src/handlers/TupleResult.ts
  packages/@esta-error/error-result/src/handlers/__tests__/ErrorResultFactory.spec.ts
  packages/@esta-error/error-result/src/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: 依存するパッケージを @esta-error/error-result に変更
  packages/@esta-error/error-result/package.json
  packages/@esta-error/error-result/src/__tests__/ErrorResultFactory.spec.ts
  packages/@esta-error/error-result/src/__tests__/TupleResult.spec.ts
  packages/@esta-error/error-result/src/__tests__/errorResult.spec.ts
  packages/@esta-error/error-result/src/errors/ErrorResult.ts
  packages/@esta-error/error-result/src/errors/__tests__/TupleResult.spec.ts
  packages/@esta-error/error-result/src/errors/__tests__/errorResult.spec.ts
  packages/@esta-error/error-result/src/handlers/ErrorResultFactory.ts
  packages/@esta-error/error-result/src/handlers/__tests__/ErrorResultFactory.spec.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

test: 並列実行の設定を追加
  packages/@esta-error/error-handler/configs/vitest.config.e2e.ts
  packages/@esta-error/error-handler/configs/vitest.config.integration.ts
  packages/@esta-error/error-handler/configs/vitest.config.unit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: 定数および終了コードの命名規則を標準化
  pnpm-lock.yaml
  shared/packages/constants/base/defaults.ts
  shared/packages/constants/base/directories.ts
  shared/packages/constants/base/exit-code.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: ESTA_ プレフィックスでインストールディレクトリ定数を標準化
  packages/@esta-actions/tools-installer/src/installer/executor/EgetInitializer.ts
  packages/@esta-actions/tools-installer/src/utils/prepareInstallDirectory.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

fix: エラーコードの使用を標準化し、テストの明確化を改善
  packages/@esta-core/error-handler/src/__tests__/errorExit.spec.ts
  packages/@esta-core/error-handler/src/__tests__/fatalExit.spec.ts
  packages/@esta-core/error-handler/src/__tests__/handleExitError.spec.ts
  packages/@esta-core/error-handler/src/error/__tests__/ExitError.spec.ts
  packages/@esta-core/error-handler/src/index.ts
  packages/@esta-core/error-handler/tests/e2e/errorExit.spec.ts
  packages/@esta-core/error-handler/tests/e2e/fatalExit.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

fix: コードとテスト全体で EXIT_CODE 定数を一貫して使用するよう修正
  packages/@esta-utils/command-runner/src/__tests__/commandExist.spec.ts
  packages/@esta-utils/command-runner/src/__tests__/runCommand.spec.ts
  packages/@esta-utils/command-runner/src/commandExist.ts
  packages/@esta-utils/command-runner/src/runCommand.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: 設定ローダーのエラー処理とテストの明確化を改善
  packages/@esta-utils/config-loader/src/__tests__/loadConfig.illegal_config.spec.ts
  packages/@esta-utils/config-loader/src/loadConfig.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat: 終了コードを標準化し、共有定数を全体で使用するように統一
  packages/@esta-core/tools-config/package.json
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/loadToolsConfig.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/baseValidator.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor: 終了コードの処理を標準化
  packages/@esta-system/exit-status/package.json
  packages/@esta-system/exit-status/src/__tests__/exitStatus.spec.ts
  packages/@esta-system/exit-status/src/exitStatus.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

test: 重症度とコンテキストを含む構造化されたエラーハンドリングを追加
  packages/@esta-error/error-handler/shared/constants/errorSeverity.ts
  packages/@esta-error/error-handler/src/__tests__/EstaError.spec.ts
  packages/@esta-error/error-handler/src/defined_tests/__tests__/errorSeverity.spec.ts
  packages/@esta-error/error-handler/src/error/EstaError.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: エラーハンドラーをリファクタリングし、終了コードの使用を統一および handleExitError の削除
  packages/@esta-error/error-handler/package.json
  packages/@esta-error/error-handler/src/__tests__/EstaError.spec.ts
  packages/@esta-error/error-handler/src/__tests__/errorExit.spec.ts
  packages/@esta-error/error-handler/src/__tests__/fatalExit.spec.ts
  packages/@esta-error/error-handler/src/__tests__/handleExitError.spec.ts
  packages/@esta-error/error-handler/src/error/__tests__/ExitError.spec.ts
  packages/@esta-error/error-handler/src/errorExit.ts
  packages/@esta-error/error-handler/src/fatalExit.ts
  packages/@esta-error/error-handler/src/handleExitError.ts
  packages/@esta-error/error-handler/src/index.ts
  packages/@esta-error/error-handler/src/utils/exitCodeUtils.ts
  packages/@esta-error/error-handler/tests/e2e/errorExit.spec.ts
  packages/@esta-error/error-handler/tests/e2e/fatalExit.spec.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

feat: モック用として、E2eMocLoggerを並列実行対応/IntegrationMockLoggerを追加
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/IntegrationMockLogger.ts
  packages/@agla-utils/ag-logger/tests/e2e/E2EMockLoggerWithTestId.spec.ts
  packages/@agla-utils/ag-logger/tests/utils/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/tests/utils/__tests__/E2eMockLogger.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: ESTA向けに定数と終了コードの命名を統一
  packages/@esta-actions/tools-installer/src/installer/executor/EgetInitializer.ts
  packages/@esta-actions/tools-installer/src/utils/prepareInstallDirectory.ts
  pnpm-lock.yaml
  shared/packages/constants/base/defaults.ts
  shared/packages/constants/base/directories.ts
  shared/packages/constants/base/exit-code.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

fix: unify EXIT_CODE usage across source and tests
  packages/@esta-core/error-handler/src/__tests__/errorExit.spec.ts
  packages/@esta-core/error-handler/src/__tests__/fatalExit.spec.ts
  packages/@esta-core/error-handler/src/__tests__/handleExitError.spec.ts
  packages/@esta-core/error-handler/src/error/__tests__/ExitError.spec.ts
  packages/@esta-core/error-handler/src/index.ts
  packages/@esta-core/error-handler/tests/e2e/errorExit.spec.ts
  packages/@esta-core/error-handler/tests/e2e/fatalExit.spec.ts
  packages/@esta-utils/command-runner/src/__tests__/commandExist.spec.ts
  packages/@esta-utils/command-runner/src/__tests__/runCommand.spec.ts
  packages/@esta-utils/command-runner/src/commandExist.ts
  packages/@esta-utils/command-runner/src/runCommand.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: standardize EXIT_CODE usage and improve loadConfig error handling
  packages/@esta-core/tools-config/package.json
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/loadToolsConfig.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/baseValidator.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
  packages/@esta-system/exit-status/package.json
  packages/@esta-system/exit-status/src/__tests__/exitStatus.spec.ts
  packages/@esta-system/exit-status/src/exitStatus.ts
  packages/@esta-utils/config-loader/src/__tests__/loadConfig.illegal_config.spec.ts
  packages/@esta-utils/config-loader/src/loadConfig.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor(error-handler): reorder parameters of errorExit and fatalExit
  packages/@esta-core/error-handler/src/__tests__/errorExit.spec.ts
  packages/@esta-core/error-handler/src/__tests__/fatalExit.spec.ts
  packages/@esta-core/error-handler/src/errorExit.ts
  packages/@esta-core/error-handler/src/fatalExit.ts
  packages/@esta-core/error-handler/src/utils/exitCodeUtils.ts
  packages/@esta-core/error-handler/tests/e2e/fatalExit.spec.ts
  packages/@esta-error/error-handler/src/__tests__/errorExit.spec.ts
  packages/@esta-error/error-handler/src/__tests__/fatalExit.spec.ts
  packages/@esta-error/error-handler/src/error/ExitError.ts
  packages/@esta-error/error-handler/src/errorExit.ts
  packages/@esta-error/error-handler/src/fatalExit.ts
  packages/@esta-error/error-handler/src/utils/exitCodeUtils.ts
  packages/@esta-error/error-handler/tests/e2e/errorExit.e2e.spec.ts
  packages/@esta-error/error-handler/tests/e2e/fatalExit.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(ag-logger): ag-loggerのMockLoggerに関する改装プラン
  docs/plans/ag-logger.refactor.plan.md
  docs/specs/@agla-utils--ag-logger.spec.md
Due: secretlint, check-spells, check-format

docs(ag-logger): ロガーのリファクタリング用にplan.mdを作成
  docs/plans/ag-logger.refactor.plan.md
Due: secretlint, check-spells, check-format

docs: mock-loggerのリファクタリング用ドキュメント
  .vscode/cspell/dicts/project.dic
  docs/.cc-kiro/ag-logger/mock-logger/mock-logger.design.md
  docs/.cc-kiro/ag-logger/mock-logger/mock-logger.requirement.md
  docs/.cc-kiro/ag-logger/mock-logger/mock-logger.spec.md
Due: secretlint, check-spells, check-format

docs: mock-loggerリファクタリング用タスクリスト
  docs/.cc-kiro/ag-logger/mock-logger/mock-logger.tasks.md
Due: secretlint, check-spells, check-format

chore: @esta-error/error-handlerプロジェクトを使用するように設定
  configs/eslint.projects.js
Due: secretlint, check-format

feat: 構造化エラー処理と標準化メッセージの実装
  packages/@agla-utils/ag-logger/shared/constants/errorMessages.ts
  packages/@agla-utils/ag-logger/shared/types/error.types.ts
  packages/@agla-utils/ag-logger/shared/types/mockLoggerError.types.ts
  packages/@agla-utils/ag-logger/src/_constants/__tests__/errorMessages.spec.ts
  packages/@agla-utils/ag-logger/src/_types/__tests__/mockLoggerError.types.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/errorMessageUtils.spec.ts
  packages/@agla-utils/ag-logger/src/utils/errorMessageUtils.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: ログレベル検証ユーティリティをテスト付きで追加
  packages/@agla-utils/ag-logger/src/utils/__tests__/validationUtils.spec.ts
  packages/@agla-utils/ag-logger/src/utils/validationUtils.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: エラー処理とバリデーションメッセージシステムの改善
  packages/@agla-utils/ag-logger/shared/constants/errorMessages.ts
  packages/@agla-utils/ag-logger/src/_constants/__tests__/errorMessages.spec.ts
  packages/@agla-utils/ag-logger/src/_types/__tests__/error.types.spec.ts
  packages/@agla-utils/ag-logger/src/utils/errorMessageUtils.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

ci: キャッシュを利用した統合テスト用Vitestの設定
  packages/@agla-utils/ag-logger/configs/vitest.config.ci.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: E2eMockLoggerを簡素化し、MockLoggerErrorの型を改善
  packages/@agla-utils/ag-logger/shared/types/mockLoggerError.types.ts
  packages/@agla-utils/ag-logger/src/_types/__tests__/mockLoggerError.types.spec.ts
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/tests/e2e/E2EMockLoggerWithTestId.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: standardize naming for constants and exit codes
  pnpm-lock.yaml
Due: none

feat(logger): Add structured MockLogger system with CI and test support
  .vscode/cspell/dicts/project.dic
  configs/eslint.projects.js
  docs/.cc-kiro/ag-logger/mock-logger/mock-logger.design.md
  docs/.cc-kiro/ag-logger/mock-logger/mock-logger.requirement.md
  docs/.cc-kiro/ag-logger/mock-logger/mock-logger.spec.md
  docs/.cc-kiro/ag-logger/mock-logger/mock-logger.tasks.md
  docs/plans/ag-logger.refactor.plan.md
  docs/specs/@agla-utils--ag-logger.spec.md
  packages/@agla-utils/ag-logger/configs/vitest.config.e2e.ts
  packages/@agla-utils/ag-logger/configs/vitest.config.integration.ts
  packages/@agla-utils/ag-logger/configs/vitest.config.unit.ts
  packages/@agla-utils/ag-logger/shared/constants/errorMessages.ts
  packages/@agla-utils/ag-logger/shared/types/error.types.ts
  packages/@agla-utils/ag-logger/shared/types/mockLoggerError.types.ts
  packages/@agla-utils/ag-logger/src/_constants/__tests__/errorMessages.spec.ts
  packages/@agla-utils/ag-logger/src/_types/__tests__/error.types.spec.ts
  packages/@agla-utils/ag-logger/src/_types/__tests__/mockLoggerError.types.spec.ts
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/MockLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/MockLogger.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/errorMessageUtils.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/validationUtils.spec.ts
  packages/@agla-utils/ag-logger/src/utils/errorMessageUtils.ts
  packages/@agla-utils/ag-logger/src/utils/validationUtils.ts
  packages/@agla-utils/ag-logger/tests/e2e/E2EMockLoggerWithTestId.spec.ts
  packages/@agla-utils/ag-logger/tests/utils/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/tests/utils/__tests__/E2eMockLogger.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor(test): Extract and improve test ID generation utilities
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/src/utils/testIdUtils.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

chore: standardize e2e test structure and add documentation
  packages/@agla-utils/ag-logger/shared/constants/errorMessages.ts
  packages/@agla-utils/ag-logger/shared/types/AgLogger.interface.ts
  packages/@agla-utils/ag-logger/shared/types/AgLogger.types.ts
  packages/@agla-utils/ag-logger/shared/types/LogLevel.types.ts
  packages/@agla-utils/ag-logger/shared/types/error.types.ts
  packages/@agla-utils/ag-logger/shared/types/mockLoggerError.types.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/E2eMockLogger.spec.ts
  packages/@agla-utils/ag-logger/src/utils/errorMessageUtils.ts
  packages/@agla-utils/ag-logger/src/utils/validationUtils.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.json.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.parameterOmission.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.plain.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/E2EMockLogger.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

Path conditions:
  secretlint: any of: **/*
  eslint: any of: shared/**/*.ts, packages/**/*.ts
  eslint-types: any of: shared/**/*.ts, packages/**/*.ts
  lint-files: any of: **/*.ts, scripts/**/*
  check-spells: any of: /shared/**/*.ts, /packages/**/*.ts, /shared/**/*.md, /packages/**/*.md, **/*.json, docs/**/*.md
  check-format: any of: **/*.ts, **/*.js, **/*.json, **/*.md
