Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells

lefthook.yml:

# src: ./shared/configs/lefthook.base.yml
# @(#) : lefthook 基本設定
#
# Copyright (c) 2025 atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --config ./configs/gitleaks.toml --staged

    secretlint:
      glob: "**/*"
      run: >
        secretlint
        --secretlintrc ./configs/secretlint.config.yaml
        --secretlintignore .gitignore
        --maskSecrets
        "{staged_files}"

    eslint:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all -- "{staged_files}"

    eslint-types:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all:types -- "{staged_files}"

    lint-files:
      glob:
        - "**/*.ts"
      run: pnpm run lint:filename -- {staged_files}

    check-spells:
      glob:
        - "**/*.ts"
        - "**/*.json"
        - "**/*.md"
      run: pnpm run check:spells -- {staged_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: commitlint --config ./configs/commitlint.config.ts --edit

feat(config-loader): add markdown parser
  packages/@ag-utils/config-loader/shared/types/common.types.ts
  packages/@ag-utils/config-loader/src/configSearchDirs.ts
  packages/@ag-utils/config-loader/src/findConfigFile.ts
  packages/@ag-utils/config-loader/src/loadConfig.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseConfig.spec.ts
  packages/@ag-utils/config-loader/src/parser/parseConfig.ts
  packages/@ag-utils/config-loader/src/parser/parseMarkdownConfig.ts
  packages/@ag-utils/config-loader/src/parser/parsePlaintextConfig.ts
  packages/@ag-utils/config-loader/src/parser/parseWithModule.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(text-parser): add text-parser project
  .gitignore
  configs/eslint.projects.js
  pnpm-lock.yaml
Due: secretlint

feat(text-parser): initialize text-parser package's config files
  configs/eslint.projects.js
  packages/@ag-utils/text-parser/.gitignore
  packages/@ag-utils/text-parser/.vscode/cspell.json
  packages/@ag-utils/text-parser/configs/commitlint.config.ts
  packages/@ag-utils/text-parser/configs/eslint.config.js
  packages/@ag-utils/text-parser/configs/eslint.config.typed.js
  packages/@ag-utils/text-parser/configs/secretlint.config.yaml
  packages/@ag-utils/text-parser/configs/tsup.config.module.ts
  packages/@ag-utils/text-parser/configs/tsup.config.ts
  packages/@ag-utils/text-parser/configs/vitest.config.ci.ts
  packages/@ag-utils/text-parser/configs/vitest.config.unit.ts
  packages/@ag-utils/text-parser/package.json
  packages/@ag-utils/text-parser/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells

config(eslint): add text-parser package
  configs/eslint.projects.js
Due: secretlint

feat(text-parser): add minimum source for build
  packages/@ag-utils/text-parser/shared/types/common.types.ts
  packages/@ag-utils/text-parser/src/index.ts
  packages/@ag-utils/text-parser/src/parseText.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(text-parser): .txt用にplaintext parserを追加
  packages/@ag-utils/text-parser/shared/types/common.types.ts
  packages/@ag-utils/text-parser/src/__tests__/parseText.spec.ts
  packages/@ag-utils/text-parser/src/parseText.ts
  packages/@ag-utils/text-parser/src/parser/__tests__/parsePlainText.spec.ts
  packages/@ag-utils/text-parser/src/parser/parsePlainText.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

deps: add marked module for parse markdown
  packages/@ag-utils/text-parser/package.json
  pnpm-lock.yaml
Due: secretlint, check-spells

feat(text-parser): add markdown parser using remark
  packages/@ag-utils/text-parser/package.json
  packages/@ag-utils/text-parser/src/__tests__/parseText.spec.ts
  packages/@ag-utils/text-parser/src/parseText.ts
  packages/@ag-utils/text-parser/src/parser/__tests__/parseMarkdown.spec.ts
  packages/@ag-utils/text-parser/src/parser/parseMarkdown.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: add fixture-based e2e tests for file input
  packages/@ag-utils/text-parser/src/__tests__/fixtures/sample.md
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/complex/input.md
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/complex/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/heading/input.md
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/heading/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/basic/input.txt
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/basic/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/multiline/input.txt
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/multiline/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/sample.md
  packages/@ag-utils/text-parser/tests/e2e/parseText.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: improve markdown and plain text parsing with expanded tests
  packages/@ag-utils/text-parser/configs/commitlint.config.ts
  packages/@ag-utils/text-parser/src/__tests__/parseText.spec.ts
  packages/@ag-utils/text-parser/src/parser/parseMarkdown.ts
  packages/@ag-utils/text-parser/tests/e2e/fixtures/#disabled-type/sample/input.txt
  packages/@ag-utils/text-parser/tests/e2e/fixtures/#disabled-type/sample/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/complex/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/heading/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/#disabled-case/input.txt
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/#disabled-case/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/basic/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/multiline/output.json
  packages/@ag-utils/text-parser/tests/e2e/parseText.e2e.final.spec.ts
  packages/@ag-utils/text-parser/tests/e2e/parseText.e2e.refactored.spec.ts
  packages/@ag-utils/text-parser/tests/e2e/parseText.e2e.spec.ts
  packages/@ag-utils/text-parser/tests/e2e/utils/fixtureRunner.ts
  packages/@ag-utils/text-parser/tests/e2e/utils/testDiscovery.ts
  packages/@ag-utils/text-parser/tests/e2e/utils/validators/index.ts
  packages/@ag-utils/text-parser/tests/e2e/utils/validators/markdownValidator.ts
  packages/@ag-utils/text-parser/tests/e2e/utils/validators/plaintextValidator.ts
  packages/@ag-utils/text-parser/tests/e2e/utils/validators/types.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: refactor and unify test framework and utilities
  packages/@ag-utils/text-parser/src/framework/fixtureRunner.ts
  packages/@ag-utils/text-parser/src/framework/index.ts
  packages/@ag-utils/text-parser/src/framework/io/fileReader.ts
  packages/@ag-utils/text-parser/src/framework/io/index.ts
  packages/@ag-utils/text-parser/src/framework/testDiscovery.ts
  packages/@ag-utils/text-parser/src/framework/types/index.ts
  packages/@ag-utils/text-parser/src/framework/types/test.types.ts
  packages/@ag-utils/text-parser/src/framework/types/validator.types.ts
  packages/@ag-utils/text-parser/src/framework/validators/index.ts
  packages/@ag-utils/text-parser/src/framework/validators/markdownValidator.ts
  packages/@ag-utils/text-parser/src/framework/validators/plaintextValidator.ts
  packages/@ag-utils/text-parser/src/framework/validators/types.ts
  packages/@ag-utils/text-parser/tests/e2e/fixtures/sample.md
  packages/@ag-utils/text-parser/tests/e2e/parseText.e2e.final.spec.ts
  packages/@ag-utils/text-parser/tests/e2e/parseText.e2e.refactored.spec.ts
  packages/@ag-utils/text-parser/tests/e2e/parseText.e2e.spec.ts
  packages/@ag-utils/text-parser/tests/e2e/utils/fixtureRunner.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(text-parser): e2eテストの設定改善
  .vscode/cspell/dicts/project.dic
  packages/@ag-utils/text-parser/configs/vitest.config.ci.ts
  packages/@ag-utils/text-parser/src/framework/io/fileReader.ts
  packages/@ag-utils/text-parser/src/framework/validators/types.ts
  packages/@ag-utils/text-parser/tests/e2e/parseText.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: add and improve fixture-based e2e tests for text parsing
  .vscode/cspell/dicts/project.dic
  packages/@ag-utils/text-parser/configs/commitlint.config.ts
  packages/@ag-utils/text-parser/configs/vitest.config.ci.ts
  packages/@ag-utils/text-parser/src/__tests__/fixtures/sample.md
  packages/@ag-utils/text-parser/src/__tests__/parseText.spec.ts
  packages/@ag-utils/text-parser/src/framework/fixtureRunner.ts
  packages/@ag-utils/text-parser/src/framework/index.ts
  packages/@ag-utils/text-parser/src/framework/io/fileReader.ts
  packages/@ag-utils/text-parser/src/framework/io/index.ts
  packages/@ag-utils/text-parser/src/framework/testDiscovery.ts
  packages/@ag-utils/text-parser/src/framework/types/index.ts
  packages/@ag-utils/text-parser/src/framework/types/test.types.ts
  packages/@ag-utils/text-parser/src/framework/types/validator.types.ts
  packages/@ag-utils/text-parser/src/framework/validators/index.ts
  packages/@ag-utils/text-parser/src/framework/validators/markdownValidator.ts
  packages/@ag-utils/text-parser/src/framework/validators/plaintextValidator.ts
  packages/@ag-utils/text-parser/src/parser/parseMarkdown.ts
  packages/@ag-utils/text-parser/tests/e2e/fixtures/#disabled-type/sample/input.txt
  packages/@ag-utils/text-parser/tests/e2e/fixtures/#disabled-type/sample/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/complex/input.md
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/complex/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/heading/input.md
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/heading/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/#disabled-case/input.txt
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/#disabled-case/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/basic/input.txt
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/basic/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/multiline/input.txt
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/multiline/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/sample.md
  packages/@ag-utils/text-parser/tests/e2e/parseText.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

config(e2e-fixture-framework): initial commit and add default configs
  configs/eslint.projects.js
  packages/@ag-utils/e2e-fixture-framework/.gitignore
  packages/@ag-utils/e2e-fixture-framework/.vscode/cspell.json
  packages/@ag-utils/e2e-fixture-framework/configs/commitlint.config.ts
  packages/@ag-utils/e2e-fixture-framework/configs/eslint.config.js
  packages/@ag-utils/e2e-fixture-framework/configs/eslint.config.typed.js
  packages/@ag-utils/e2e-fixture-framework/configs/secretlint.config.yaml
  packages/@ag-utils/e2e-fixture-framework/configs/tsup.config.module.ts
  packages/@ag-utils/e2e-fixture-framework/configs/tsup.config.ts
  packages/@ag-utils/e2e-fixture-framework/configs/vitest.config.ci.ts
  packages/@ag-utils/e2e-fixture-framework/configs/vitest.config.unit.ts
  packages/@ag-utils/e2e-fixture-framework/package.json
  packages/@ag-utils/e2e-fixture-framework/tsconfig.json
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(e2e-fixture-framework): add e2e fixture framework source code
  packages/@ag-utils/e2e-fixture-framework/shared/types/index.ts
  packages/@ag-utils/e2e-fixture-framework/shared/types/test.types.ts
  packages/@ag-utils/e2e-fixture-framework/shared/types/validator.types.ts
  packages/@ag-utils/e2e-fixture-framework/src/fixtureRunner.ts
  packages/@ag-utils/e2e-fixture-framework/src/index.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/fileReader.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/index.ts
  packages/@ag-utils/e2e-fixture-framework/src/testDiscovery.ts
  packages/@ag-utils/e2e-fixture-framework/src/validators/index.ts
  packages/@ag-utils/e2e-fixture-framework/src/validators/markdownValidator.ts
  packages/@ag-utils/e2e-fixture-framework/src/validators/plaintextValidator.ts
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/#disabled-type/sample/input.txt
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/#disabled-type/sample/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/markdown/complex/input.md
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/markdown/complex/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/markdown/heading/input.md
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/markdown/heading/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/plaintext/#disabled-case/input.txt
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/plaintext/#disabled-case/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/plaintext/basic/input.txt
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/plaintext/basic/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/plaintext/multiline/input.txt
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/plaintext/multiline/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/framework.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

refactor: Add AgE2E prefix to avoid name collision
  packages/@ag-utils/e2e-fixture-framework/package.json
  packages/@ag-utils/e2e-fixture-framework/src/AgE2eTestDiscovery.ts
  packages/@ag-utils/e2e-fixture-framework/src/fixtureRunner.ts
  packages/@ag-utils/e2e-fixture-framework/src/index.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/AgE2eFileReader.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/fileReader.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/index.ts
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/framework.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

chore: export AgE2eFileReader in index.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: add and refactor tests for e2e fixture framework modules
  packages/@ag-utils/e2e-fixture-framework/src/AgE2eTestDiscovery.ts
  packages/@ag-utils/e2e-fixture-framework/src/__tests__/AgE2eTestDiscovery.spec.ts
  packages/@ag-utils/e2e-fixture-framework/src/fixtureRunner.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/AgE2eFileReader.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/__tests__/AgE2eFileReader.spec.ts
  packages/@ag-utils/e2e-fixture-framework/src/validators/markdownValidator.ts
  packages/@ag-utils/e2e-fixture-framework/src/validators/plaintextValidator.ts
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures-flat/#disabled-test/input.txt
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures-flat/#disabled-test/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures-flat/basic-plaintext/input.txt
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures-flat/basic-plaintext/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures-flat/simple-markdown/input.md
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures-flat/simple-markdown/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/framework.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

docs(e2e-fixture-framework): 入門ドキュメントの作成開始
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/README.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/README.md
Due: secretlint, check-spells

docs(getting-started): ドキュメントにフロントマターを追加
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/01-introduction.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/README.ja.md
Due: secretlint, check-spells

chore: ESLintおよびpre-commitフックの設定を更新
  configs/eslint.projects.js
  lefthook.yml
  pnpm-lock.yaml
  tsconfig.json
Due: secretlint

chore: config-loaderパッケージを初期化し、リンティングとビルド設定を追加
  configs/eslint.config.js
  configs/eslint.config.typed.js
  lefthook.yml
  packages/@ag-actions/tool-installer/src/helper/configs/__tests__/convertConfig.spec.ts
  packages/@ag-actions/tool-installer/src/helper/configs/convertConfig.ts
  packages/@ag-actions/tool-installer/src/installer/executor/EgetInitializer.ts
  packages/@ag-actions/tool-installer/tests/e2e/EgetInitializer.spec.ts
  packages/@ag-utils/config-loader/.gitignore
  packages/@ag-utils/config-loader/.vscode/cspell.json
  packages/@ag-utils/config-loader/configs/commitlint.config.ts
  packages/@ag-utils/config-loader/configs/eslint.config.js
  packages/@ag-utils/config-loader/configs/eslint.config.typed.js
  packages/@ag-utils/config-loader/configs/secretlint.config.yaml
  packages/@ag-utils/config-loader/configs/tsup.config.module.ts
  packages/@ag-utils/config-loader/configs/tsup.config.ts
  packages/@ag-utils/config-loader/configs/vitest.config.ci.ts
  packages/@ag-utils/config-loader/configs/vitest.config.unit.ts
  packages/@ag-utils/config-loader/package.json
  packages/@ag-utils/config-loader/shared/types/common.types.ts
  packages/@ag-utils/config-loader/shared/types/index.ts
  packages/@ag-utils/config-loader/src/__tests__/configSearchDirs.spec.ts
  packages/@ag-utils/config-loader/src/__tests__/findConfigFile.spec.ts
  packages/@ag-utils/config-loader/src/configSearchDirs.ts
  packages/@ag-utils/config-loader/src/findConfigFile.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseConifgJsonc.spec.ts
  packages/@ag-utils/config-loader/src/parser/parseConfig.ts
  packages/@ag-utils/config-loader/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells

deps: add yaml to config-loader
  packages/@ag-utils/config-loader/package.json
  pnpm-lock.yaml
Due: secretlint, check-spells

feat: add index.ts for main entry point
  packages/@ag-utils/config-loader/src/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

ci: add shared alias to Vitest CI config
  packages/@ag-utils/config-loader/configs/vitest.config.ci.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(config-loader): add unified parser and update related tests
  packages/@ag-utils/config-loader/shared/constants/index.ts
  packages/@ag-utils/config-loader/shared/types/common.types.ts
  packages/@ag-utils/config-loader/src/findConfigFile.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseConfig.spec.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseJsoncConfig.spec.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseTSConfig.spec.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseYamlConfig.spec.ts
  packages/@ag-utils/config-loader/src/parser/parseConfig.ts
  packages/@ag-utils/config-loader/src/parser/parseWithModule.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat: add unified config loader supporting multiple file formats
  packages/@ag-utils/config-loader/src/index.ts
  packages/@ag-utils/config-loader/src/loadConfig.ts
  packages/@ag-utils/config-loader/src/parser/parseWithModule.ts
  packages/@ag-utils/config-loader/tests/e2e/loadConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: add reusable File I/O framework and improve config tests
  packages/@ag-utils/config-loader/tests/e2e/FileIoFramework.ts
  packages/@ag-utils/config-loader/tests/e2e/loadConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

fix: sync scripts to fix error
  packages/@ag-utils/config-loader/package.json
Due: secretlint, check-spells

deps: update dependencies and improve development environment setup
  package.json
  packages/@ag-utils/config-loader/package.json
  pnpm-lock.yaml
Due: secretlint, check-spells

ci: add cahe to speed up build
  .github/workflows/ci-lint.yaml
Due: secretlint

fix(config): fix config file using dprint
  packages/@ag-utils/common/.vscode/cspell.json
  packages/@ag-utils/common/configs/vitest.config.ci.ts
  packages/@ag-utils/common/configs/vitest.config.unit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

fix(configs): format configs
  shared/common/configs/vitest.config.ci.ts
  shared/common/configs/vitest.config.unit.ts
  shared/common/package.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells

config: format configs using dprint
  packages/@ag-utils/get-platform/.vscode/cspell.json
  packages/@ag-utils/get-platform/configs/vitest.config.ci.ts
  packages/@ag-utils/get-platform/configs/vitest.config.unit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

config(vitest): add cache directory
  shared/common/configs/vitest.config.unit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

fix(config): format configs using dprint
  packages/@ag-utils/command-utils/.vscode/cspell.json
  packages/@ag-utils/command-utils/configs/vitest.config.ci.ts
  packages/@ag-utils/command-utils/configs/vitest.config.unit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

fix(configs): fix vitest cache settings, format configs
  packages/@ag-actions/tool-installer/.vscode/cspell.json
  packages/@ag-actions/tool-installer/configs/vitest.config.ci.ts
  packages/@ag-actions/tool-installer/configs/vitest.config.unit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

config: initialize and update configuration files
  packages/@ag-utils/e2e-framework/.gitignore
  packages/@ag-utils/e2e-framework/.vscode/cspell.json
  packages/@ag-utils/e2e-framework/configs/commitlint.config.ts
  packages/@ag-utils/e2e-framework/configs/eslint.config.js
  packages/@ag-utils/e2e-framework/configs/eslint.config.typed.js
  packages/@ag-utils/e2e-framework/configs/secretlint.config.yaml
  packages/@ag-utils/e2e-framework/configs/tsup.config.module.ts
  packages/@ag-utils/e2e-framework/configs/tsup.config.ts
  packages/@ag-utils/e2e-framework/configs/vitest.config.ci.ts
  packages/@ag-utils/e2e-framework/configs/vitest.config.unit.ts
  packages/@ag-utils/e2e-framework/package.json
  packages/@ag-utils/e2e-framework/tsconfig.json
  shared/configs/eslint.config.base.js
Due: secretlint, eslint, eslint-types, lint-files, check-spells
