Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

lefthook.yml:

# src: ./shared/configs/lefthook.base.yml
# @(#) : lefthook 基本設定
#
# Copyright (c) 2025 atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

pre-commit:
  parallel: true
  commands:
    #    gitleaks:
    #      run: gitleaks protect --config ./configs/gitleaks.toml --staged
    secretlint:
      glob: "**/*"
      run: >
        secretlint
        --secretlintrc ./configs/secretlint.config.yaml
        --secretlintignore .gitignore
        "{staged_files}"

    eslint:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all -- {staged_files}

    eslint-types:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all:types -- "{staged_files}"

    lint-files:
      glob:
        - "**/*.ts"
        - "scripts/**/*"
      run: pnpm run lint:filenames -- {staged_files}

    check-spells:
      glob:
        - "/shared/**/*.ts"
        - "/packages/**/*.ts"
        - "/shared/**/*.md"
        - "/packages/**/*.md"
        - "**/*.json"
        - "docs/**/*.md"
      run: pnpm run check:spells -- {staged_files}

    check-format:
      glob:
        - "**/*.ts"
        - "**/*.js"
        - "**/*.json"
        - "**/*.md"
      run: dprint check {staged_files}

prepare-commit-msg:
  commands:
    prepare-by-codegpt:
      run: bash -c 'scripts/prepare-commit-msg.sh'

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: commitlint --config ./configs/commitlint.config.ts --edit

fix: captureStackTraceの型検証によるエラー処理の改善
  packages/@agla-utils/ag-logger/shared/types/error.types.ts
  packages/@agla-utils/ag-logger/src/utils/errorMessageUtils.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat(ag-logger): ログメッセージ取得時に前後の空白を削除
  packages/@agla-utils/ag-logger/src/functional/core/__tests__/formatLogMessage.spec.ts
  packages/@agla-utils/ag-logger/src/functional/core/formatLogMessage.ts
  packages/@agla-utils/ag-logger/src/utils/AgLoggerGetMessage.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/AgLoggerGetMessage.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

fix: すべてのログメッセージ操作でログレベルを検証する
  packages/@agla-utils/ag-logger/src/plugins/logger/MockLogger.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

fix: 不要な空ログを減らすためのログ抑制の改善
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: expand unit, integration, and e2e test cases for loggers
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/MockLogger.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/NullLogger.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.json.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.plain.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLogger.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: loggerの取得メソッドをgetLoggerに統一
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLogger.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLoggerManager.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: agLoggerManagerのインスタンス取得メソッドをgetManagerに変更
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLoggerManager.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: setLoggerをsetManagerにリネームし、全ての参照を更新
  packages/@agla-utils/ag-logger/docs/functional-refactoring.spec.md
  packages/@agla-utils/ag-logger/docs/immutable-config.spec.md
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.parameterOmission.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLogger.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLoggerManager.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/PluginInteraction.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: オプションオブジェクトでAgLogger.getLoggerを呼び出す方法に統一
  packages/@agla-utils/ag-logger/shared/types/AgLogger.interface.ts
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.json.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.parameterOmission.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.plain.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/E2EMockLogger.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLogger.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLoggerManager.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/PluginInteraction.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: ログレベル制御向上のための logger manager API の改善
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLoggerManager.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: パスエイリアスを利用し、相対パスで'../src/'となるのを削除
  packages/@agla-utils/ag-logger/docs/pure-functions.spec.md
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.json.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.parameterOmission.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.plain.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/E2EMockLogger.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLogger.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLoggerManager.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/PluginInteraction.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat(ag-logger): implement AgLoggerConfig with full logging config support
  packages/@agla-utils/ag-logger/shared/constants/common.constants.ts
  packages/@agla-utils/ag-logger/src/internal/AgLoggerConfig.ts
  packages/@agla-utils/ag-logger/src/internal/__tests__/AgLoggerConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat(ag-logger): configクラスモジュールでデフォルトの設定値の取得を全てテスト
  packages/@agla-utils/ag-logger/docs/tasks/refactor-agloggerconfig-phase1.tasks.md
  packages/@agla-utils/ag-logger/src/internal/AgLoggerConfig.ts
  packages/@agla-utils/ag-logger/src/internal/__tests__/AgLoggerConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: クラスAgLoggerErrorを作成し、エラー処理を標準化
  packages/@agla-utils/ag-logger/shared/constants/agLoggerError.constants.ts
  packages/@agla-utils/ag-logger/shared/types/AgLoggerError.types.ts
  packages/@agla-utils/ag-logger/src/_types/__tests__/AgLoggerError.types.spec.ts
  packages/@agla-utils/ag-logger/src/internal/AgLoggerConfig.ts
  packages/@agla-utils/ag-logger/src/internal/__tests__/AgLoggerConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: config設定用AgLoggerOptionsの単体テストを追加
  packages/@agla-utils/ag-logger/src/_types/__tests__/AgLoggerOptions.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: ロギングライブラリのテスト強化およびエラーハンドリング改善
  packages/@agla-utils/ag-logger/shared/types/index.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/src/utils/errorMessageUtils.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.json.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.plain.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/E2EMockLogger.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLogger.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor(ag-logger): streamline validation and cleanup internal config logic
  packages/@agla-utils/ag-logger/docs/ag-logger-refactor.spec.md
  packages/@agla-utils/ag-logger/docs/pure-functions.spec.md
  packages/@agla-utils/ag-logger/shared/types/AgLogger.interface.ts
  packages/@agla-utils/ag-logger/shared/types/AgLogger.types.ts
  packages/@agla-utils/ag-logger/shared/types/AgLoggerError.types.ts
  packages/@agla-utils/ag-logger/shared/types/LogLevel.types.ts
  packages/@agla-utils/ag-logger/shared/types/error.types.ts
  packages/@agla-utils/ag-logger/shared/types/index.ts
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/src/_constants/__tests__/errorMessages.spec.ts
  packages/@agla-utils/ag-logger/src/_types/__tests__/AgLoggerError.types.spec.ts
  packages/@agla-utils/ag-logger/src/_types/__tests__/error.types.spec.ts
  packages/@agla-utils/ag-logger/src/_types/__tests__/mockLoggerError.types.spec.ts
  packages/@agla-utils/ag-logger/src/functional/core/formatLogMessage.ts
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/src/internal/AgLoggerConfig.class.ts
  packages/@agla-utils/ag-logger/src/internal/AgLoggerConfig.ts
  packages/@agla-utils/ag-logger/src/internal/__tests__/AgLoggerConfig.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/MockLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/MockLogger.spec.ts
  packages/@agla-utils/ag-logger/src/utils/AgLoggerGetMessage.ts
  packages/@agla-utils/ag-logger/src/utils/LogLevelHelpers.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/LogLevelConstants.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/LogLevelHelpers.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/errorMessageUtils.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/validationUtils.spec.ts
  packages/@agla-utils/ag-logger/src/utils/validationUtils.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLoggerManager.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(ag-logger): update phase 1 task doc and mark progress
  packages/@agla-utils/ag-logger/docs/tasks/refactor-agloggerconfig-phase1.tasks.md
  packages/@agla-utils/ag-logger/shared/types/AgLogger.interface.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs: 設定項目クラスにAgLoggerOptionsによる設定を追加
  packages/@agla-utils/ag-logger/shared/types/index.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/src/internal/AgLoggerConfig.class.ts
  packages/@agla-utils/ag-logger/src/internal/__tests__/AgLoggerConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

ci: シークレットスキャン用のGitHub Actionのバージョンを更新
  .github/workflows/ci-secrets-scan.yaml
Due: secretlint

deps: eslintの依存関係をバージョン9.32.0に更新
  package.json
  pnpm-lock.yaml
Due: none

refactor: ag-loggerのリファクタリング実行用にタスクドキュメントを追加
  packages/@agla-utils/ag-logger/docs/ag-logger-refactor.spec.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-agLogger-phase1.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-agLogger-phase2.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-aglogger-phase3.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-aglogger-phase4.tasks.md
Due: secretlint, check-format

docs: ag-loggerリファクタリング計画書に、コメント、ドキュメント整備などのフェーズを追加
  packages/@agla-utils/ag-logger/docs/ag-logger-refactor.spec.md
Due: secretlint, check-format

docs: リファクタリングの進捗をタスクドキュメントのチェックボックスにチェック
  packages/@agla-utils/ag-logger/docs/tasks/refactor-agLogger-phase1.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-agLogger-phase2.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-aglogger-phase3.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-aglogger-phase4.tasks.md
Due: secretlint, check-format

refactor: ロガーAgLoggerの設定をAgLoggerConfigに委譲
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: ログ出力を内部のexecutionLogに統一
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: クラス／モジュールのクリーンナップ
  packages/@agla-utils/ag-logger/shared/constants/errorMessages.ts
  packages/@agla-utils/ag-logger/shared/types/mockLoggerError.types.ts
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/_constants/__tests__/errorMessages.spec.ts
  packages/@agla-utils/ag-logger/src/_types/__tests__/mockLoggerError.types.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/validationUtils.spec.ts
  packages/@agla-utils/ag-logger/src/utils/errorMessageUtils.ts
  packages/@agla-utils/ag-logger/src/utils/validationUtils.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

fix: E2eMockLogger コンストラクタのデフォルトテスト識別子フォーマットを修正
  packages/@agla-utils/ag-logger/src/plugins/logger/E2eMockLogger.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: loggerパッケージ全体でLogLevelHelpersをAgLogLevelHelpersにリネーム
  packages/@agla-utils/ag-logger/src/functional/core/formatLogMessage.ts
  packages/@agla-utils/ag-logger/src/plugins/format/JsonFormat.ts
  packages/@agla-utils/ag-logger/src/plugins/format/PlainFormat.ts
  packages/@agla-utils/ag-logger/src/utils/AgLogLevelHelpers.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/AgLogLevelHelpers.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: ag-loggerのリファクタリング／簡素化
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/internal/AgLoggerConfig.class.ts
  packages/@agla-utils/ag-logger/src/internal/__tests__/AgLoggerConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(ag-logger): タスク完了の文書化および AgLoggerConfig 設定の検証
  packages/@agla-utils/ag-logger/docs/tasks/refactor-agLogger-phase2.tasks.md
Due: secretlint, check-format

refactor: 不要コードの削除 および 処理の共通化
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs: リファクタリングの進捗をタスクごとのチェックで確認
  packages/@agla-utils/ag-logger/docs/tasks/refactor-agLogger-phase2.tasks.md
Due: secretlint, check-format

test: タスク4.1 設定がAgLogger → AgLoggerConfigと委譲され、管理されていることの確認
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs: タスク 4.1が完了したためチェック
  packages/@agla-utils/ag-logger/docs/tasks/refactor-agLogger-phase2.tasks.md
Due: secretlint, check-format

refactor: loggerFunctionの取り扱いの改善
  packages/@agla-utils/ag-logger/shared/types/AgLogger.interface.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/src/internal/AgLoggerConfig.class.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/MockLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/MockLogger.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs: フロントマターのsrcフィールドの大文字・小文字を修正して名称の一貫性を確保
  packages/@agla-utils/ag-logger/docs/tasks/refactor-aglogger-phase3.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-aglogger-phase4.tasks.md
Due: secretlint, check-format

feat: ag-loggerのLogLevelに特殊値としてVERBOSEを追加
  packages/@agla-utils/ag-logger/shared/types/LogLevel.types.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/ConsoleLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/MockLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/MockLogger.spec.ts
  packages/@agla-utils/ag-logger/src/utils/AgLogLevelHelpers.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/AgLogLevelHelpers.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat: logLevel=VERBOSEの場合、shouldOutputVerbose===trueならverboseを出力
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/internal/AgLoggerConfig.class.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat(ag-logger): logLevelにverboseを追加し、verbose時の出力を改善
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/internal/AgLoggerConfig.class.ts
  packages/@agla-utils/ag-logger/src/internal/__tests__/AgLoggerConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format
