Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore "{staged_files}"
  
    '

eslint:
  run: pnpm run lint-all -- {staged_files}

eslint-types:
  run: pnpm run lint-all:types -- "{staged_files}"

lint-files:
  run: pnpm run lint:filenames -- {staged_files}

check-spells:
  run: pnpm run check:spells -- {staged_files}

check-format:
  run: dprint check {staged_files}

chore: ESLint設定リストからtext-parserプロジェクトを削除
  configs/eslint.projects.js
Due: secretlint, check-format

chore: package.jsonのパッケージ名を変更
  package.json
Due: none

deps: package.json: get-platformパッケージ移動に伴う更新
  packages/@ag-utils/command-utils/package.json
  packages/@ag-utils/common/package.json
  pnpm-lock.yaml
Due: secretlint, check-spells, check-format

chore: ESLint設定を@esta-utils/get-platformパッケージに更新
  configs/eslint.projects.js
Due: secretlint, check-format

refactor: get-platformパッケージの名前をag-utilsからesta-utilsに変更
  packages/@ag-utils/command-utils/src/commandExist.ts
  packages/@ag-utils/common/src/index.ts
  packages/@ag-utils/get-platform/src/getPlatform.ts
  packages/@esta-utils/get-platform/.gitignore
  packages/@esta-utils/get-platform/.vscode/cspell.json
  packages/@esta-utils/get-platform/README.ja.md
  packages/@esta-utils/get-platform/configs/commitlint.config.ts
  packages/@esta-utils/get-platform/configs/eslint.config.js
  packages/@esta-utils/get-platform/configs/eslint.config.typed.js
  packages/@esta-utils/get-platform/configs/secretlint.config.yaml
  packages/@esta-utils/get-platform/configs/tsup.config.module.ts
  packages/@esta-utils/get-platform/configs/tsup.config.ts
  packages/@esta-utils/get-platform/configs/vitest.config.ci.ts
  packages/@esta-utils/get-platform/configs/vitest.config.unit.ts
  packages/@esta-utils/get-platform/package.json
  packages/@esta-utils/get-platform/src/__tests__/getPlatform.spec.ts
  packages/@esta-utils/get-platform/src/getPlatform.ts
  packages/@esta-utils/get-platform/src/index.ts
  packages/@esta-utils/get-platform/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

chore: ESLint構成プロジェクトをag-utilsからesta-utilsに更新
  configs/eslint.projects.js
Due: secretlint, check-format

refactor: command-utilsパッケージを@esta-utils下に移動
  packages/@ag-utils/common/package.json
  packages/@ag-utils/common/src/index.ts
  packages/@esta-utils/command-utils/.gitignore
  packages/@esta-utils/command-utils/.vscode/cspell.json
  packages/@esta-utils/command-utils/configs/commitlint.config.ts
  packages/@esta-utils/command-utils/configs/eslint.config.js
  packages/@esta-utils/command-utils/configs/eslint.config.typed.js
  packages/@esta-utils/command-utils/configs/secretlint.config.yaml
  packages/@esta-utils/command-utils/configs/tsup.config.module.ts
  packages/@esta-utils/command-utils/configs/tsup.config.ts
  packages/@esta-utils/command-utils/configs/vitest.config.ci.ts
  packages/@esta-utils/command-utils/configs/vitest.config.unit.ts
  packages/@esta-utils/command-utils/package.json
  packages/@esta-utils/command-utils/src/commandExist.ts
  packages/@esta-utils/command-utils/src/index.ts
  packages/@esta-utils/command-utils/tsconfig.json
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

fix: インポートの改善のためモジュールエイリアスと依存関係を洗練
  packages/@ag-actions/tool-installer/configs/vitest.config.ci.ts
  packages/@ag-actions/tool-installer/configs/vitest.config.unit.ts
  packages/@ag-actions/tool-installer/package.json
  packages/@ag-actions/tool-installer/tests/e2e/EgetInitializer.spec.ts
  packages/@ag-actions/tool-installer/tsconfig.json
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

test: add test:develop, test:ci to monorepo root package.json
  package.json
Due: none

config(eslint): ESLint設定およびプロジェクトパス解決の改善
  configs/eslint.config.js
  configs/eslint.projects.js
  pnpm-lock.yaml
Due: secretlint, check-format

refactor: パッケージ config-loaderを@esta-utilに移行
  packages/@esta-utils/config-loader/.gitignore
  packages/@esta-utils/config-loader/.vscode/cspell.json
  packages/@esta-utils/config-loader/configs/commitlint.config.ts
  packages/@esta-utils/config-loader/configs/eslint.config.js
  packages/@esta-utils/config-loader/configs/eslint.config.typed.js
  packages/@esta-utils/config-loader/configs/secretlint.config.yaml
  packages/@esta-utils/config-loader/configs/tsup.config.module.ts
  packages/@esta-utils/config-loader/configs/tsup.config.ts
  packages/@esta-utils/config-loader/configs/vitest.config.ci.ts
  packages/@esta-utils/config-loader/configs/vitest.config.unit.ts
  packages/@esta-utils/config-loader/package.json
  packages/@esta-utils/config-loader/shared/constants/index.ts
  packages/@esta-utils/config-loader/shared/types/common.types.ts
  packages/@esta-utils/config-loader/shared/types/configFile.types.ts
  packages/@esta-utils/config-loader/shared/types/index.ts
  packages/@esta-utils/config-loader/src/__tests__/configSearchDirs.spec.ts
  packages/@esta-utils/config-loader/src/__tests__/findConfigFile.spec.ts
  packages/@esta-utils/config-loader/src/__tests__/parseConfig.spec.ts
  packages/@esta-utils/config-loader/src/configSearchDirs.ts
  packages/@esta-utils/config-loader/src/findConfigFile.ts
  packages/@esta-utils/config-loader/src/index.ts
  packages/@esta-utils/config-loader/src/loadConfig.ts
  packages/@esta-utils/config-loader/src/parseConfig.ts
  packages/@esta-utils/config-loader/src/parser/__tests__/parseJsonc.spec.ts
  packages/@esta-utils/config-loader/src/parser/__tests__/parseScript.spec.ts
  packages/@esta-utils/config-loader/src/parser/__tests__/parseYaml.spec.ts
  packages/@esta-utils/config-loader/src/parser/parseJsonc.ts
  packages/@esta-utils/config-loader/src/parser/parseScript.ts
  packages/@esta-utils/config-loader/src/parser/parseYaml.ts
  packages/@esta-utils/config-loader/tests/e2e/loadConfig.spec.ts
  packages/@esta-utils/config-loader/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor: tool-installer: @esta-utils のインポートを使用するように変更
  packages/@ag-actions/tool-installer/configs/vitest.config.ci.ts
  packages/@ag-actions/tool-installer/package.json
  packages/@ag-actions/tool-installer/tests/e2e/EgetInitializer.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

chore: 設定ファイルおよびドキュメントのバリデーションと名前付けルールを改善
  .claude/commands/validate-debug.md
  configs/ls-lint.yaml
Due: secretlint, check-format

chore: パッケージ名を esta に変更し、ESLint のプロジェクトパスを更新
  configs/eslint.projects.js
  package.json
  packages/@ag-actions/tool-installer/configs/vitest.config.ci.ts
  packages/@ag-actions/tool-installer/package.json
  packages/@ag-actions/tool-installer/shared/types/AgActionInstallerHandler.types.ts
  packages/@ag-actions/tool-installer/src/helper/configs/__tests__/ToolConifgManager.spec.ts
  packages/@ag-actions/tool-installer/src/installer/AgActionHandleInstaller.class.ts
  packages/@ag-actions/tool-installer/src/installer/executor/EgetInitializer.ts
  packages/@ag-utils/common/README.ja.md
  packages/@esta-utils/config-loader/package.json
  packages/@esta-utils/config-loader/src/__tests__/configSearchDirs.spec.ts
  packages/@esta-utils/config-loader/src/configSearchDirs.ts
  packages/@esta-utils/utils/.gitignore
  packages/@esta-utils/utils/.vscode/cspell.json
  packages/@esta-utils/utils/README.ja.md
  packages/@esta-utils/utils/configs/commitlint.config.ts
  packages/@esta-utils/utils/configs/eslint.config.js
  packages/@esta-utils/utils/configs/eslint.config.typed.js
  packages/@esta-utils/utils/configs/secretlint.config.yaml
  packages/@esta-utils/utils/configs/tsup.config.module.ts
  packages/@esta-utils/utils/configs/tsup.config.ts
  packages/@esta-utils/utils/configs/vitest.config.ci.ts
  packages/@esta-utils/utils/configs/vitest.config.unit.ts
  packages/@esta-utils/utils/package.json
  packages/@esta-utils/utils/src/index.ts
  packages/@esta-utils/utils/tsconfig.json
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor: バリデーションワークフローの改善およびESLintプロジェクト設定の更新
  .claude/commands/validate-debug.md
  configs/eslint.projects.js
  pnpm-lock.yaml
Due: secretlint, check-format

refactor: ag-loggerパッケージを@agla-utilsに移行
  packages/@agla-utils/ag-logger/.gitignore
  packages/@agla-utils/ag-logger/.vscode/cspell.json
  packages/@agla-utils/ag-logger/configs/commitlint.config.ts
  packages/@agla-utils/ag-logger/configs/eslint.config.js
  packages/@agla-utils/ag-logger/configs/eslint.config.typed.js
  packages/@agla-utils/ag-logger/configs/secretlint.config.yaml
  packages/@agla-utils/ag-logger/configs/tsup.config.module.ts
  packages/@agla-utils/ag-logger/configs/tsup.config.ts
  packages/@agla-utils/ag-logger/configs/vitest.config.ci.ts
  packages/@agla-utils/ag-logger/configs/vitest.config.unit.ts
  packages/@agla-utils/ag-logger/package.json
  packages/@agla-utils/ag-logger/shared/constants/AgLogger.constants.ts
  packages/@agla-utils/ag-logger/shared/types/AgLogger.interface.ts
  packages/@agla-utils/ag-logger/shared/types/AgLogger.types.ts
  packages/@agla-utils/ag-logger/shared/types/index.ts
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/src/plugins/format/JsonFormat.ts
  packages/@agla-utils/ag-logger/src/plugins/format/NullFormat.ts
  packages/@agla-utils/ag-logger/src/plugins/format/PlainFormat.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/JsonFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/NullFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/PlainFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/ConsoleLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/NullLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/NullLogger.spec.ts
  packages/@agla-utils/ag-logger/src/utils/AgLoggerGetMessage.ts
  packages/@agla-utils/ag-logger/src/utils/AgLoggerHelpers.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/AgLoggerGetLabel.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/AgLoggerGetMessage.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.json.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.parameterOmission.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.plain.spec.ts
  packages/@agla-utils/ag-logger/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

chore: claude command更新 / プロジェクトフィールド更新
  .claude/commands/validate-debug.md
  configs/eslint.projects.js
  pnpm-lock.yaml
Due: secretlint, check-format

config: for lint-all: esconfig filename add .all
  configs/eslint.config.all.js
  configs/eslint.config.all.typed.js
  package.json
Due: secretlint, check-format

refactor: config-loaderを@esta-utils/utilsに登録
  packages/@ag-actions/tool-installer/package.json
  packages/@esta-utils/command-utils/src/index.ts
  packages/@esta-utils/config-loader/src/index.ts
  packages/@esta-utils/get-platform/src/index.ts
  packages/@esta-utils/utils/package.json
  packages/@esta-utils/utils/src/index.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor: tools-installer を @esta-actions に移行
  configs/eslint.projects.js
  packages/@esta-actions/tools-installer/.gitignore
  packages/@esta-actions/tools-installer/.vscode/cspell.json
  packages/@esta-actions/tools-installer/README.ja.md
  packages/@esta-actions/tools-installer/configs/commitlint.config.ts
  packages/@esta-actions/tools-installer/configs/eslint.config.js
  packages/@esta-actions/tools-installer/configs/eslint.config.typed.js
  packages/@esta-actions/tools-installer/configs/secretlint.config.yaml
  packages/@esta-actions/tools-installer/configs/tsup.config.module.ts
  packages/@esta-actions/tools-installer/configs/tsup.config.ts
  packages/@esta-actions/tools-installer/configs/vitest.config.ci.ts
  packages/@esta-actions/tools-installer/configs/vitest.config.unit.ts
  packages/@esta-actions/tools-installer/package.json
  packages/@esta-actions/tools-installer/shared/types/AgActionCommon.types.ts
  packages/@esta-actions/tools-installer/shared/types/AgActionInstallerHandler.types.ts
  packages/@esta-actions/tools-installer/shared/types/AgActionToolConfig.types.ts
  packages/@esta-actions/tools-installer/shared/types/index.ts
  packages/@esta-actions/tools-installer/src/helper/configs/ToolConfigManager.class.ts
  packages/@esta-actions/tools-installer/src/helper/configs/__tests__/ToolConifgManager.spec.ts
  packages/@esta-actions/tools-installer/src/index.ts
  packages/@esta-actions/tools-installer/src/installer/AgActionHandleInstaller.class.ts
  packages/@esta-actions/tools-installer/src/installer/AgActionInstallerExecutorsMap.ts
  packages/@esta-actions/tools-installer/src/installer/executor/EgetInitializer.ts
  packages/@esta-actions/tools-installer/src/installer/executor/NullExecutor.ts
  packages/@esta-actions/tools-installer/src/utils/__tests__/prepareInstallDirectory.spec.ts
  packages/@esta-actions/tools-installer/src/utils/prepareInstallDirectory.ts
  packages/@esta-actions/tools-installer/tests/e2e/EgetInitializer.spec.ts
  packages/@esta-actions/tools-installer/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

deps: update dependecies
  pnpm-lock.yaml
Due: none

chore: check:spells スクリプトをグローバルインストールしたcspell用に切り替え
  package.json
  packages/@agla-e2e/fileio-framework/package.json
  packages/@agla-utils/ag-logger/package.json
  packages/@esta-actions/tools-installer/package.json
  packages/@esta-utils/command-utils/package.json
  packages/@esta-utils/config-loader/package.json
  packages/@esta-utils/get-platform/package.json
  packages/@esta-utils/utils/package.json
  shared/common/package.json
  shared/configs/base-scripts.json
Due: secretlint, check-spells, check-format

refactor: 共有パッケージのリンティングおよびTypeScript設定の改善
  configs/eslint.config.all.js
  configs/eslint.config.all.typed.js
  configs/eslint.projects.js
  packages/@esta-actions/tools-installer/configs/eslint.config.js
  packages/@esta-actions/tools-installer/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: secretlint, check-spells, check-format

chore: @sharedのリファクタリングにあわせて依存関係を更新
  .claude/commands/validate-phases.md
  packages/@esta-actions/tools-installer/package.json
Due: secretlint, check-spells, check-format

config: /shared/types: パッケージ用初期configを作成
  shared/packages/types/configs/commitlint.config.ts
  shared/packages/types/configs/eslint.config.js
  shared/packages/types/configs/eslint.config.typed.js
  shared/packages/types/configs/secretlint.config.yaml
  shared/packages/types/configs/tsup.config.module.ts
  shared/packages/types/configs/tsup.config.ts
  shared/packages/types/configs/vitest.config.ci.ts
  shared/packages/types/configs/vitest.config.unit.ts
  shared/packages/types/package.json
  shared/packages/types/src/index.ts
  shared/packages/types/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

config: /shared/constantsパッケージの初期設定
  shared/packages/constants/base/common.ts
  shared/packages/constants/base/defaults.ts
  shared/packages/constants/base/directories.ts
  shared/packages/constants/base/index.ts
  shared/packages/constants/configs/commitlint.config.ts
  shared/packages/constants/configs/eslint.config.js
  shared/packages/constants/configs/eslint.config.typed.js
  shared/packages/constants/configs/secretlint.config.yaml
  shared/packages/constants/configs/tsup.config.module.ts
  shared/packages/constants/configs/tsup.config.ts
  shared/packages/constants/configs/vitest.config.ci.ts
  shared/packages/constants/configs/vitest.config.unit.ts
  shared/packages/constants/package.json
  shared/packages/constants/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor: /shared/typesパッケージに型設定を集約
  shared/common/configs/commitlint.config.ts
  shared/common/configs/eslint.config.js
  shared/common/configs/eslint.config.typed.js
  shared/common/configs/secretlint.config.yaml
  shared/common/configs/tsup.config.module.ts
  shared/common/configs/tsup.config.ts
  shared/common/configs/vitest.config.ci.ts
  shared/common/configs/vitest.config.unit.ts
  shared/common/constants/common.ts
  shared/common/constants/defaults.ts
  shared/common/constants/directories.ts
  shared/common/constants/index.ts
  shared/common/index.ts
  shared/common/tsconfig.json
  shared/packages/types/base/index.ts
  shared/packages/types/configs/tsup.config.module.ts
  shared/packages/types/configs/tsup.config.ts
  shared/packages/types/src/index.ts
  shared/packages/types/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

chore: ビルド設定の改善
  configs/eslint.config.all.js
  configs/eslint.config.all.typed.js
  configs/eslint.projects.js
  shared/packages/constants/package.json
  shared/packages/types/package.json
Due: secretlint, check-spells, check-format

fix: 相対インポートパスを使用し、インストールディレクトリの処理を改善
  packages/@esta-actions/tools-installer/src/helper/configs/ToolConfigManager.class.ts
  packages/@esta-actions/tools-installer/src/helper/configs/__tests__/ToolConifgManager.spec.ts
  packages/@esta-actions/tools-installer/src/installer/AgActionHandleInstaller.class.ts
  packages/@esta-actions/tools-installer/src/installer/AgActionInstallerExecutorsMap.ts
  packages/@esta-actions/tools-installer/src/installer/executor/EgetInitializer.ts
  packages/@esta-actions/tools-installer/src/installer/executor/NullExecutor.ts
  packages/@esta-actions/tools-installer/src/utils/prepareInstallDirectory.ts
  packages/@esta-actions/tools-installer/tests/e2e/EgetInitializer.spec.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: import/no-unresolved を再設定し、エラーが出ないように修正
  base/configs/eslint.config.base.js
  base/configs/tsconfig.base.json
  configs/eslint.config.all.js
  packages/@esta-actions/tools-installer/configs/eslint.config.js
Due: secretlint, check-spells, check-format

config: initial config commit for @esta-core/feature-flags
  packages/@esta-core/feature-flags/.gitignore
  packages/@esta-core/feature-flags/.vscode/cspell.json
  packages/@esta-core/feature-flags/configs/commitlint.config.ts
  packages/@esta-core/feature-flags/configs/eslint.config.js
  packages/@esta-core/feature-flags/configs/eslint.config.typed.js
  packages/@esta-core/feature-flags/configs/secretlint.config.yaml
  packages/@esta-core/feature-flags/configs/tsup.config.module.ts
  packages/@esta-core/feature-flags/configs/tsup.config.ts
  packages/@esta-core/feature-flags/configs/vitest.config.ci.ts
  packages/@esta-core/feature-flags/configs/vitest.config.unit.ts
  packages/@esta-core/feature-flags/package.json
  packages/@esta-core/feature-flags/shared/constants/index.ts
  packages/@esta-core/feature-flags/shared/types/index.ts
  packages/@esta-core/feature-flags/src/index.ts
  packages/@esta-core/feature-flags/tsconfig.json
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

feat: feature-flags パッケージに強い型定義と共有定数を追加
  packages/@esta-core/feature-flags/package.json
  packages/@esta-core/feature-flags/shared/types/featureFlags.ts
  packages/@esta-core/feature-flags/src/__tests__/initFeatureFlags.spec.ts
  packages/@esta-core/feature-flags/src/index.ts
  packages/@esta-core/feature-flags/src/initFeatureFlags.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

test: 環境に基づく実行モード検出をテスト付きで追加
  packages/@esta-core/feature-flags/src/__tests__/initFeatureFlags.spec.ts
  packages/@esta-core/feature-flags/src/initFeatureFlags.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(feature-flags): モジュールにJSDocを追加
  packages/@esta-core/feature-flags/shared/types/featureFlags.ts
  packages/@esta-core/feature-flags/shared/types/index.ts
  packages/@esta-core/feature-flags/src/__tests__/initFeatureFlags.spec.ts
  packages/@esta-core/feature-flags/src/index.ts
  packages/@esta-core/feature-flags/src/initFeatureFlags.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

chore: rootのlint-all設定にfeature-flagsを含める
  configs/eslint.config.all.js
  configs/eslint.config.all.typed.js
  configs/eslint.projects.js
  packages/@esta-core/feature-flags/package.json
Due: secretlint, check-spells, check-format

docs: エラー処理モジュール(error-handler)用に仕様書を作成
  docs/specs/errorExit.md
Due: secretlint, check-spells, check-format

config: error-handler: initial commit for error-hanlder configs
  packages/@esta-core/error-handler/.gitignore
  packages/@esta-core/error-handler/.vscode/cspell.json
  packages/@esta-core/error-handler/configs/commitlint.config.ts
  packages/@esta-core/error-handler/configs/eslint.config.js
  packages/@esta-core/error-handler/configs/eslint.config.typed.js
  packages/@esta-core/error-handler/configs/secretlint.config.yaml
  packages/@esta-core/error-handler/configs/tsup.config.module.ts
  packages/@esta-core/error-handler/configs/tsup.config.ts
  packages/@esta-core/error-handler/configs/vitest.config.ci.ts
  packages/@esta-core/error-handler/configs/vitest.config.unit.ts
  packages/@esta-core/error-handler/package.json
  packages/@esta-core/error-handler/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

Path conditions:
  secretlint: any of: **/*
  eslint: any of: shared/**/*.ts, packages/**/*.ts
  eslint-types: any of: shared/**/*.ts, packages/**/*.ts
  lint-files: any of: **/*.ts, scripts/**/*
  check-spells: any of: /shared/**/*.ts, /packages/**/*.ts, /shared/**/*.md, /packages/**/*.md, **/*.json, docs/**/*.md
  check-format: any of: **/*.ts, **/*.js, **/*.json, **/*.md
