Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells

lefthook.yml:

# src: ./shared/configs/lefthook.base.yml
# @(#) : lefthook 基本設定
#
# Copyright (c) 2025 atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --config ./configs/gitleaks.toml --staged

    secretlint:
      glob: "**/*"
      run: >
        secretlint
        --secretlintrc ./configs/secretlint.config.yaml
        --secretlintignore .gitignore
        --maskSecrets
        "{staged_files}"

    eslint:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all -- "{staged_files}"

    eslint-types:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all:types -- "{staged_files}"

    lint-files:
      glob:
        - "**/*.ts"
      run: pnpm run lint:filename -- {staged_files}

    check-spells:
      glob:
        - "**/*.ts"
        - "**/*.json"
        - "**/*.md"
      run: pnpm run check:spells -- {staged_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: commitlint --config ./configs/commitlint.config.ts --edit

test: ロギングプラグインの包括的なユニットテストを追加
  packages/@ag-system/ag-logger/src/plugins/format/__tests__/NullFormat.spec.ts
  packages/@ag-system/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@ag-system/ag-logger/src/plugins/logger/__tests__/NullLogger.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(ag-logger): add PlainFormat plugin and refactor NullFormat
  packages/@ag-system/ag-logger/shared/types/AgLogger.interface.ts
  packages/@ag-system/ag-logger/src/AgLogger.class.ts
  packages/@ag-system/ag-logger/src/index.ts
  packages/@ag-system/ag-logger/src/plugins/format/NullFormat.ts
  packages/@ag-system/ag-logger/src/plugins/format/PlainFormat.ts
  packages/@ag-system/ag-logger/src/plugins/format/__tests__/NullFormat.spec.ts
  packages/@ag-system/ag-logger/src/plugins/format/__tests__/PlainFormat.spec.ts
  packages/@ag-system/ag-logger/src/plugins/logger/ConsoleLogger.ts
  packages/@ag-system/ag-logger/src/plugins/logger/NullLogger.ts
  packages/@ag-system/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@ag-system/ag-logger/src/plugins/logger/__tests__/NullLogger.spec.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerManager.class.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

fix: rebaseの結果生じたエラーをデバッグ
  packages/@ag-system/ag-logger/src/AgLogger.class.ts
  packages/@ag-system/ag-logger/src/plugins/logger/ConsoleLogger.ts
  packages/@ag-system/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerManager.class.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerManager.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

refactor: 非推奨のログユーティリティを削除し、ログフォーマットを統一
  packages/@ag-system/ag-logger/configs/vitest.config.ci.ts
  packages/@ag-system/ag-logger/shared/types/AgLogger.interface.ts
  packages/@ag-system/ag-logger/src/AgLogUtils.ts
  packages/@ag-system/ag-logger/src/AgLogger.class.ts
  packages/@ag-system/ag-logger/src/index.ts
  packages/@ag-system/ag-logger/src/plugins/logger/ConsoleLogger.ts
  packages/@ag-system/ag-logger/src/plugins/logger/NullLogger.ts
  packages/@ag-system/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@ag-system/ag-logger/src/plugins/logger/__tests__/NullLogger.spec.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerManager.class.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerManager.ts
  packages/@ag-system/ag-logger/tests/e2e/AgLogger.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(ag-logger): setLoggerメソッドを追加し、デフォルトロガーなどを再設定できるように
  packages/@ag-system/ag-logger/src/AgLogger.class.ts
  packages/@ag-system/ag-logger/src/AgLoggerManager.class.ts
  packages/@ag-system/ag-logger/src/index.ts
  packages/@ag-system/ag-logger/src/plugins/format/PlainFormat.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerGetMessage.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerHelpers.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerManager.class.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerManager.ts
  packages/@ag-system/ag-logger/src/utils/__tests__/AgLoggerGetLabel.spec.ts
  packages/@ag-system/ag-logger/src/utils/__tests__/AgLoggerGetMessage.spec.ts
  packages/@ag-system/ag-logger/tests/e2e/AgLogger.parameterOmission.spec.ts
  packages/@ag-system/ag-logger/tests/e2e/AgLogger.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(ag-logger): jsonログフォーマットプラグインを追加し、完全なテストカバレッジを実現
  packages/@ag-system/ag-logger/src/plugins/format/JsonFormat.ts
  packages/@ag-system/ag-logger/src/plugins/format/__tests__/JsonFormat.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test(ag-logger): ユニットテストをAgLoggerManagerに追加
  packages/@ag-system/ag-logger/src/__tests__/AgLoggerManager.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: ConsoleLoggerのデフォルト設定を強化し、JSON形式のE2Eテストを追加
  packages/@ag-system/ag-logger/src/AgLogger.class.ts
  packages/@ag-system/ag-logger/tests/e2e/AgLogger.json.spec.ts
  packages/@ag-system/ag-logger/tests/e2e/AgLogger.plain.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

refactor: add type for format plugin functions
  packages/@ag-system/ag-logger/src/plugins/format/NullFormat.ts
  packages/@ag-system/ag-logger/src/plugins/format/PlainFormat.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

docs(ag-logger): add TSDoc comments to interfaces and constants
  packages/@ag-system/ag-logger/shared/constants/AgLogger.constants.ts
  packages/@ag-system/ag-logger/shared/types/AgLogger.interface.ts
  packages/@ag-system/ag-logger/shared/types/index.ts
  packages/@ag-system/ag-logger/src/AgLogger.class.ts
  packages/@ag-system/ag-logger/src/AgLoggerManager.class.ts
  packages/@ag-system/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@ag-system/ag-logger/src/index.ts
  packages/@ag-system/ag-logger/src/plugins/format/JsonFormat.ts
  packages/@ag-system/ag-logger/src/plugins/format/NullFormat.ts
  packages/@ag-system/ag-logger/src/plugins/format/PlainFormat.ts
  packages/@ag-system/ag-logger/src/plugins/format/__tests__/JsonFormat.spec.ts
  packages/@ag-system/ag-logger/src/plugins/format/__tests__/NullFormat.spec.ts
  packages/@ag-system/ag-logger/src/plugins/format/__tests__/PlainFormat.spec.ts
  packages/@ag-system/ag-logger/src/plugins/logger/ConsoleLogger.ts
  packages/@ag-system/ag-logger/src/plugins/logger/NullLogger.ts
  packages/@ag-system/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@ag-system/ag-logger/src/plugins/logger/__tests__/NullLogger.spec.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerGetMessage.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerHelpers.ts
  packages/@ag-system/ag-logger/src/utils/__tests__/AgLoggerGetLabel.spec.ts
  packages/@ag-system/ag-logger/src/utils/__tests__/AgLoggerGetMessage.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: write json e2e tests in English
  packages/@ag-system/ag-logger/tests/e2e/AgLogger.json.spec.ts
  packages/@ag-system/ag-logger/tests/e2e/AgLogger.parameterOmission.spec.ts
  packages/@ag-system/ag-logger/tests/e2e/AgLogger.plain.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

release: ag-loggerパッケージのバージョンを0.1.0に更新
  packages/@ag-system/ag-logger/package.json
Due: secretlint, check-spells

test: テストファイルの型安全性とキャストを改善
  packages/@ag-system/ag-logger/src/__tests__/AgLoggerManager.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

fix: refine PlainFormat function signature and fix typo in test comment
  packages/@ag-system/ag-logger/src/plugins/format/PlainFormat.ts
  packages/@ag-system/ag-logger/src/utils/__tests__/AgLoggerGetLabel.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

chore: ESLintおよびpre-commitフックの設定を更新
  configs/eslint.projects.js
  lefthook.yml
  pnpm-lock.yaml
  tsconfig.json
Due: secretlint

chore: config-loaderパッケージを初期化し、リンティングとビルド設定を追加
  configs/eslint.config.js
  configs/eslint.config.typed.js
  lefthook.yml
  packages/@ag-actions/tool-installer/src/helper/configs/__tests__/convertConfig.spec.ts
  packages/@ag-actions/tool-installer/src/helper/configs/convertConfig.ts
  packages/@ag-actions/tool-installer/src/installer/executor/EgetInitializer.ts
  packages/@ag-actions/tool-installer/tests/e2e/EgetInitializer.spec.ts
  packages/@ag-utils/config-loader/.gitignore
  packages/@ag-utils/config-loader/.vscode/cspell.json
  packages/@ag-utils/config-loader/configs/commitlint.config.ts
  packages/@ag-utils/config-loader/configs/eslint.config.js
  packages/@ag-utils/config-loader/configs/eslint.config.typed.js
  packages/@ag-utils/config-loader/configs/secretlint.config.yaml
  packages/@ag-utils/config-loader/configs/tsup.config.module.ts
  packages/@ag-utils/config-loader/configs/tsup.config.ts
  packages/@ag-utils/config-loader/configs/vitest.config.ci.ts
  packages/@ag-utils/config-loader/configs/vitest.config.unit.ts
  packages/@ag-utils/config-loader/package.json
  packages/@ag-utils/config-loader/shared/types/common.types.ts
  packages/@ag-utils/config-loader/shared/types/index.ts
  packages/@ag-utils/config-loader/src/__tests__/configSearchDirs.spec.ts
  packages/@ag-utils/config-loader/src/__tests__/findConfigFile.spec.ts
  packages/@ag-utils/config-loader/src/configSearchDirs.ts
  packages/@ag-utils/config-loader/src/findConfigFile.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseConifgJsonc.spec.ts
  packages/@ag-utils/config-loader/src/parser/parseConfig.ts
  packages/@ag-utils/config-loader/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells

deps: add yaml to config-loader
  packages/@ag-utils/config-loader/package.json
  pnpm-lock.yaml
Due: secretlint, check-spells

feat: add index.ts for main entry point
  packages/@ag-utils/config-loader/src/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(config-loader): add unified parser and update related tests
  packages/@ag-utils/config-loader/shared/constants/index.ts
  packages/@ag-utils/config-loader/shared/types/common.types.ts
  packages/@ag-utils/config-loader/src/findConfigFile.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseConfig.spec.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseJsoncConfig.spec.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseTSConfig.spec.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseYamlConfig.spec.ts
  packages/@ag-utils/config-loader/src/parser/parseConfig.ts
  packages/@ag-utils/config-loader/src/parser/parseWithModule.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

ci: add shared alias to Vitest CI config
  packages/@ag-utils/config-loader/configs/vitest.config.ci.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat: add unified config loader supporting multiple file formats
  packages/@ag-utils/config-loader/src/index.ts
  packages/@ag-utils/config-loader/src/loadConfig.ts
  packages/@ag-utils/config-loader/src/parser/parseWithModule.ts
  packages/@ag-utils/config-loader/tests/e2e/loadConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: add reusable File I/O framework and improve config tests
  packages/@ag-utils/config-loader/tests/e2e/FileIoFramework.ts
  packages/@ag-utils/config-loader/tests/e2e/loadConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

deps: update dependencies and improve development environment setup
  package.json
  packages/@ag-utils/config-loader/package.json
  pnpm-lock.yaml
Due: secretlint, check-spells

fix: sync scripts to fix error
  packages/@ag-utils/config-loader/package.json
Due: secretlint, check-spells

ci: add cahe to speed up build
  .github/workflows/ci-lint.yaml
Due: secretlint

fix(config): fix config file using dprint
  packages/@ag-utils/common/.vscode/cspell.json
  packages/@ag-utils/common/configs/vitest.config.ci.ts
  packages/@ag-utils/common/configs/vitest.config.unit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

fix(configs): format configs
  shared/common/configs/vitest.config.ci.ts
  shared/common/configs/vitest.config.unit.ts
  shared/common/package.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells

config(vitest): add cache directory
  shared/common/configs/vitest.config.unit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

config: format configs using dprint
  packages/@ag-utils/get-platform/.vscode/cspell.json
  packages/@ag-utils/get-platform/configs/vitest.config.ci.ts
  packages/@ag-utils/get-platform/configs/vitest.config.unit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

fix(config): format configs using dprint
  packages/@ag-utils/command-utils/.vscode/cspell.json
  packages/@ag-utils/command-utils/configs/vitest.config.ci.ts
  packages/@ag-utils/command-utils/configs/vitest.config.unit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

fix(configs): fix vitest cache settings, format configs
  packages/@ag-actions/tool-installer/.vscode/cspell.json
  packages/@ag-actions/tool-installer/configs/vitest.config.ci.ts
  packages/@ag-actions/tool-installer/configs/vitest.config.unit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

config: initialize and update configuration files
  packages/@ag-utils/e2e-framework/.gitignore
  packages/@ag-utils/e2e-framework/.vscode/cspell.json
  packages/@ag-utils/e2e-framework/configs/commitlint.config.ts
  packages/@ag-utils/e2e-framework/configs/eslint.config.js
  packages/@ag-utils/e2e-framework/configs/eslint.config.typed.js
  packages/@ag-utils/e2e-framework/configs/secretlint.config.yaml
  packages/@ag-utils/e2e-framework/configs/tsup.config.module.ts
  packages/@ag-utils/e2e-framework/configs/tsup.config.ts
  packages/@ag-utils/e2e-framework/configs/vitest.config.ci.ts
  packages/@ag-utils/e2e-framework/configs/vitest.config.unit.ts
  packages/@ag-utils/e2e-framework/package.json
  packages/@ag-utils/e2e-framework/tsconfig.json
  shared/configs/eslint.config.base.js
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(e2e-framework): implement and refine FileIoFramework with shared types
  configs/eslint.projects.js
  configs/ls-lint.yaml
  packages/@ag-utils/e2e-framework/shared/types/common.types.ts
  packages/@ag-utils/e2e-framework/shared/types/e2e-framework.types.ts
  packages/@ag-utils/e2e-framework/src/AgE2eFileIoFramework.ts
  packages/@ag-utils/e2e-framework/src/__tests__/configManagement.spec.ts
  packages/@ag-utils/e2e-framework/src/__tests__/contentComparison.spec.ts
  packages/@ag-utils/e2e-framework/src/__tests__/environment.spec.ts
  packages/@ag-utils/e2e-framework/src/__tests__/fileOperations.spec.ts
  packages/@ag-utils/e2e-framework/src/index.ts
  packages/@ag-utils/e2e-framework/src/types.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/agE2eFileIoUtils.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/agE2eFileIoUtils.ts
  packages/@ag-utils/e2e-framework/tests/e2e/testExecution.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: improve and consolidate E2E framework tests
  packages/@ag-utils/e2e-framework/example/e2e/HelloWorldExample.spec.ts
  packages/@ag-utils/e2e-framework/shared/types/common.types.ts
  packages/@ag-utils/e2e-framework/shared/types/e2e-framework.types.ts
  packages/@ag-utils/e2e-framework/src/AgE2eFileIoFramework.ts
  packages/@ag-utils/e2e-framework/src/__tests__/configManagement.spec.ts
  packages/@ag-utils/e2e-framework/src/__tests__/contentComparison.spec.ts
  packages/@ag-utils/e2e-framework/src/__tests__/environment.spec.ts
  packages/@ag-utils/e2e-framework/src/__tests__/fileOperations.spec.ts
  packages/@ag-utils/e2e-framework/src/index.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/agE2eFileIoUtils.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/agE2eFileIoUtils.ts
  packages/@ag-utils/e2e-framework/tests/e2e/testExecution.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

refactor: convert file IO to async and improve utilities
  packages/@ag-utils/e2e-framework/src/AgE2eFileIoFramework.ts
  packages/@ag-utils/e2e-framework/src/index.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/agE2eFileIoUtils.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/fileOperations.async.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/fileOperations.sync.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/agE2eFileIoUtils.ts
  packages/@ag-utils/e2e-framework/tests/e2e/testExecution.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

docs: cluade code用カスタムスラッシュコマンドを追加
  .claude/commands/validate-debug.md
  .claude/commands/validate-phases.md
  .gitignore
Due: secretlint, check-spells

docs(developer-guide): e2eフレームワーク向け包括的な日本語開発者ガイドを追加
  packages/@ag-utils/e2e-framework/docs/developers-guide/01-overview.ja.md
  packages/@ag-utils/e2e-framework/docs/developers-guide/02-getting-started.ja.md
  packages/@ag-utils/e2e-framework/docs/developers-guide/03-usage.ja.md
  packages/@ag-utils/e2e-framework/docs/developers-guide/04-api-guide.ja.md
  packages/@ag-utils/e2e-framework/docs/developers-guide/09-faq.ja.md
  packages/@ag-utils/e2e-framework/docs/developers-guide/README.ja.md
Due: secretlint, check-spells

docs: add and improve TSDoc comments in English
  packages/@ag-utils/e2e-framework/example/e2e/HelloWorldExample.spec.ts
  packages/@ag-utils/e2e-framework/shared/types/e2e-framework.types.ts
  packages/@ag-utils/e2e-framework/src/AgE2eFileIoFramework.ts
  packages/@ag-utils/e2e-framework/src/index.ts
  packages/@ag-utils/e2e-framework/src/types.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/fileOperations.async.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/fileOperations.sync.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/agE2eFileIoUtils.ts
  packages/@ag-utils/e2e-framework/tests/e2e/testExecution.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

deps: update dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: none

deps: add marked module for parse markdown
  packages/@ag-utils/config-loader/package.json
  pnpm-lock.yaml
Due: secretlint, check-spells
