Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore --maskSecrets "{staged_files}"
  
    '

eslint:
  run: pnpm run lint-all -- "{staged_files}"

eslint-types:
  run: pnpm run lint-all:types -- "{staged_files}"

lint-files:
  run: pnpm run lint:filename -- {staged_files}

check-spells:
  run: pnpm run check:spells -- {staged_files}

docs(writing-e2e-tests): 08 CI連携ドキュメントのレビュー/文章改善
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/08-ci-integration.ja.md
Due: secretlint, check-spells

chore: code spell checkerのカスタム辞書にjsonlintを追加
  .vscode/cspell/dicts/project.dic
Due: secretlint

config(git): gitignoreで自動テストの結果を無視する設定を追加
  .gitignore
Due: none

config(textlint): 記述がAIによるものらしい書き方は警告
  configs/textlintrc.yaml
Due: secretlint

docs(e2e-fixture-framework): 入門ドキュメントの作成開始
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/README.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/README.md
Due: secretlint, check-spells

docs(getting-started): ドキュメントにフロントマターを追加
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/01-introduction.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/README.ja.md
Due: secretlint, check-spells

docs(e2e-fixture-framework): スタートガイドを追加
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/01-introduction.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/02-overview.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/03-fixture-layout.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/04-writing-your-first-test.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/05-running-the-tests.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/README.ja.md
Due: secretlint, check-spells

docs(e2e-fixture-framework): スタートアップガイドのFAQ,トラブルシューティングの章を執筆
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/06-faq.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/07-troubleshooting.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/README.ja.md
Due: secretlint, check-spells

docs(e2e-fixture-framework): テストの書き方についてのドキュメントを追加
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/01-getting-started.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/README.md
Due: secretlint, check-spells

docs(e2e-tests): ドキュメント E2E Fixture Framework 向けテスト実装ガイドを追加・整備
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/01-getting-started.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/02-overview.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/03-project-structure-ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/04-writing-fixtures.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/05-writing-e2e-tests.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/06-parsers-and-validators.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/07-run-tests-with-options.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/08-ci-integration.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/README.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/README.md
Due: secretlint, check-spells

docs(writing-e2e-tests): はじめてのFixtureフレームワークをリライト
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/01-getting-started.ja.md
Due: secretlint, check-spells

config(textlint): textlintの許可リストを更新
  configs/.textlint/allowlist.yml
Due: secretlint

docs(writing-e2e-tests): 第1章のセクション3までをリライト
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/01-getting-started.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/README.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 2章 フレームワーク全体像をリライト
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/02-overview.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 3章 プロジェクト構成をリライト
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/03-project-structure-ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 4章 フィクスチャーの書きをリライト
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/04-writing-fixtures.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 5章 E2Eテストの実装をリライト
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/05-writing-e2e-tests.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/07-run-tests-with-options.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 7章 条件指定によるテストの一括実行をレビュー、文章の改善
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/07-run-tests-with-options.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 8章 CI連携のレビューおよび、文章の改善
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/08-ci-integration.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 9章を執筆
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/09-api-reference.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): README.md: 各種リンターの警告を抑制
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/README.md
Due: secretlint, check-spells

docs(writing-e2e-tests): パーサーおよびバリデータ: Lintによる警告に対応
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/06-parsers-and-validators.ja.md
Due: secretlint, check-spells

deps: update pnpm modules
  pnpm-lock.yaml
Due: none

config(git): ignore CLAUDE.md in repository
  .gitignore
Due: none

config(package.json): ファイル名形式チェックの更新
  configs/ls-lint.yaml
  lefthook.yml
  package.json
Due: secretlint

chore: サブパッケージの.claude/ディレクトリを全て無視
  .gitignore
Due: none

refactor: configファイルタイプのenumをリファクタリングし、関連ロジックを更新
  packages/@ag-utils/config-loader/shared/types/common.types.ts
  packages/@ag-utils/config-loader/shared/types/configFile.types.ts
  packages/@ag-utils/config-loader/shared/types/index.ts
  packages/@ag-utils/config-loader/src/__tests__/configSearchDirs.spec.ts
  packages/@ag-utils/config-loader/src/__tests__/findConfigFile.spec.ts
  packages/@ag-utils/config-loader/src/configSearchDirs.ts
  packages/@ag-utils/config-loader/src/findConfigFile.ts
  packages/@ag-utils/config-loader/src/loadConfig.ts
  packages/@ag-utils/config-loader/src/parser/parseConfig.ts
  packages/@ag-utils/config-loader/tests/e2e/loadConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

build: tsxをdependeciesに追加
  packages/@ag-utils/config-loader/package.json
  pnpm-lock.yaml
Due: secretlint, check-spells

test: テストフレームワークを内部からパッケージE2E Frameworkに変更
  packages/@ag-utils/config-loader/package.json
  packages/@ag-utils/config-loader/tests/e2e/FileIoFramework.ts
  packages/@ag-utils/config-loader/tests/e2e/loadConfig.spec.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells

refactor: 設定ファイルのパース処理をリファクタリングし、JSONC、YAML、スクリプトファイルを分離
  packages/@ag-utils/config-loader/src/__tests__/parseConfig.spec.ts
  packages/@ag-utils/config-loader/src/configSearchDirs.ts
  packages/@ag-utils/config-loader/src/index.ts
  packages/@ag-utils/config-loader/src/loadConfig.ts
  packages/@ag-utils/config-loader/src/parseConfig.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseJsonc.spec.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseJsoncConfig.spec.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseScript.spec.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseTSConfig.spec.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseYaml.spec.ts
  packages/@ag-utils/config-loader/src/parser/parseJsonc.ts
  packages/@ag-utils/config-loader/src/parser/parseScript.ts
  packages/@ag-utils/config-loader/src/parser/parseYaml.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: parseScrit.spec.tsにテストを追加
  packages/@ag-utils/config-loader/src/parser/__tests__/parseScript.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

refactor: parseScriptの脆弱税回避 / JSDocの追加
  packages/@ag-utils/config-loader/src/__tests__/parseConfig.spec.ts
  packages/@ag-utils/config-loader/src/findConfigFile.ts
  packages/@ag-utils/config-loader/src/loadConfig.ts
  packages/@ag-utils/config-loader/src/parseConfig.ts
  packages/@ag-utils/config-loader/src/parser/__tests__/parseScript.spec.ts
  packages/@ag-utils/config-loader/src/parser/parseScript.ts
  packages/@ag-utils/config-loader/tests/e2e/loadConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

chore: configSearchDirs.ts のソースコメントパスを更新
  packages/@ag-utils/config-loader/src/configSearchDirs.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

refactor: コードを債務別に分割、シンプルか
  packages/@ag-utils/config-loader/src/parseConfig.ts
  packages/@ag-utils/config-loader/src/parser/parseScript.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

deps: 依存関係の更新
  packages/@ag-utils/config-loader/package.json
  pnpm-lock.yaml
Due: secretlint, check-spells

deps: config-loader の devDependencies をagla-e2e/fileio-frameworkに変更
  packages/@ag-utils/config-loader/package.json
  pnpm-lock.yaml
Due: secretlint, check-spells

build: プロジェクト一覧にagla-e2e/fileio-frameworkを追加
  configs/eslint.projects.js
Due: secretlint

refactor: e2e-framework パッケージを agla-e2e/fileio-framework にリネーム
  packages/@ag-utils/config-loader/tests/e2e/loadConfig.spec.ts
  packages/@agla-e2e/fileio-framework/.gitignore
  packages/@agla-e2e/fileio-framework/.vscode/cspell.json
  packages/@agla-e2e/fileio-framework/configs/commitlint.config.ts
  packages/@agla-e2e/fileio-framework/configs/eslint.config.js
  packages/@agla-e2e/fileio-framework/configs/eslint.config.typed.js
  packages/@agla-e2e/fileio-framework/configs/secretlint.config.yaml
  packages/@agla-e2e/fileio-framework/configs/tsup.config.module.ts
  packages/@agla-e2e/fileio-framework/configs/tsup.config.ts
  packages/@agla-e2e/fileio-framework/configs/vitest.config.ci.ts
  packages/@agla-e2e/fileio-framework/configs/vitest.config.unit.ts
  packages/@agla-e2e/fileio-framework/docs/developers-guide/01-overview.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/02-getting-started.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/03-usage.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/04-api-guide.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/09-faq.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/README.ja.md
  packages/@agla-e2e/fileio-framework/example/e2e/HelloWorldExample.spec.ts
  packages/@agla-e2e/fileio-framework/package.json
  packages/@agla-e2e/fileio-framework/shared/types/e2e-framework.types.ts
  packages/@agla-e2e/fileio-framework/src/AgE2eFileIoFramework.ts
  packages/@agla-e2e/fileio-framework/src/index.ts
  packages/@agla-e2e/fileio-framework/src/types.ts
  packages/@agla-e2e/fileio-framework/src/utils/__tests__/fileOperations.async.spec.ts
  packages/@agla-e2e/fileio-framework/src/utils/__tests__/fileOperations.sync.spec.ts
  packages/@agla-e2e/fileio-framework/src/utils/agE2eFileIoUtils.ts
  packages/@agla-e2e/fileio-framework/tests/e2e/testExecution.spec.ts
  packages/@agla-e2e/fileio-framework/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells

chore: ESLint設定プロジェクトからe2e-fixture-frameworkを削除
  configs/eslint.projects.js
Due: secretlint

Path conditions:
  secretlint: any of: **/*
  eslint: any of: shared/**/*.ts, packages/**/*.ts
  eslint-types: any of: shared/**/*.ts, packages/**/*.ts
  lint-files: any of: **/*.ts
  check-spells: any of: **/*.ts, **/*.json, **/*.md
