Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore "{staged_files}"
  
    '

eslint:
  run: pnpm run lint-all -- {staged_files}

eslint-types:
  run: pnpm run lint-all:types -- "{staged_files}"

lint-files:
  run: pnpm run lint:filenames -- {staged_files}

check-spells:
  run: pnpm run check:spells -- {staged_files}

check-format:
  run: dprint check {staged_files}

docs(tools-config): ドキュメントおよびメタデータファイルの更新と標準化
  packages/@esta-core/feature-flags/docs/todo.md
  packages/@esta-core/tools-config/docs/architecture-design.spec.md
  packages/@esta-core/tools-config/docs/e2e-test.spec.md
  packages/@esta-core/tools-config/docs/unit-test.spec.md
Due: secretlint, check-format

docs(get-platform): フロントマターの標準感
  packages/@esta-utils/get-platform/README.ja.md
Due: secretlint, check-format

chore(docs): フロントマター付きドキュメント用のスクリプトを追加
  docs/_templates/template.md
  package.json
  scripts/check-doc-frontmatter.ts
  scripts/new-doc.ts
Due: secretlint, lint-files, check-spells, check-format

docs(claude): add developer guides, error system docs, and front matter standards
  AGENTS.md
  CLAUDE.md
  docs/claude/architecture.md
  docs/claude/commands.md
  docs/claude/conventions.md
  docs/claude/development.md
  docs/claude/pending-tasks.md
  docs/claude/project-overview.md
  docs/claude/quality-assurance.md
  docs/claude/testing.md
Due: secretlint, check-spells, check-format

refactor(test-types): httpヘッダー用の型のキーをheaderとして明確化
  shared/packages/types/src/__tests__/helpers/test-types.types.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor(AglaError): add error chaining and improve structure, context, and tests
  shared/packages/types/src/__tests__/AglaError.chain-compatibility.spec.ts
  shared/packages/types/src/__tests__/AglaError.inheritance.spec.ts
  shared/packages/types/src/__tests__/AglaError.serialization.spec.ts
  shared/packages/types/src/__tests__/AglaError.spec.ts
  shared/packages/types/src/__tests__/AglaError.typescript.spec.ts
  shared/packages/types/src/__tests__/ErrorSeverity.spec.ts
  shared/packages/types/src/__tests__/functional/AglaError.functional.spec.ts
  shared/packages/types/src/__tests__/functional/ErrorSeverity.functional.spec.ts
  shared/packages/types/src/__tests__/helpers/TestAglaError.class.ts
  shared/packages/types/src/__tests__/helpers/test-types.ts
  shared/packages/types/tests/e2e/AglaError.e2e.spec.ts
  shared/packages/types/tests/integration/AglaError.external-systems.integration.spec.ts
  shared/packages/types/tests/integration/AglaError.integration.spec.ts
  shared/packages/types/todo.md
  shared/packages/types/types/AglaError.types.ts
  shared/packages/types/types/ErrorSeverity.types.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(AglaError/functional): simplify assertions and test chain() with originalError
  shared/packages/types/src/__tests__/functional/AglaError.functional.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(AglaError): improve context validation and type safety in E2E/integration
  shared/packages/types/src/__tests__/AglaError.serialization.spec.ts
  shared/packages/types/src/__tests__/AglaError.spec.ts
  shared/packages/types/src/__tests__/AglaError.typescript.spec.ts
  shared/packages/types/src/__tests__/AglaErrorContext.validation.spec.ts
  shared/packages/types/src/__tests__/HttpHeaders.validation.spec.ts
  shared/packages/types/src/__tests__/TAglaErrorContextWithSymbols.validation.spec.ts
  shared/packages/types/src/__tests__/TErrorStatistics.validation.spec.ts
  shared/packages/types/src/__tests__/TTestBuffer.validation.spec.ts
  shared/packages/types/src/__tests__/helpers/test-types.ts
  shared/packages/types/tests/e2e/AglaError.consumer-usage.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.custom-error-workflow.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-chaining.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-propagation.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-reporting.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.external-logging-integration.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.external-monitoring-integration.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.external-system-verification.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.logging-workflow.e2e.spec.ts
  shared/packages/types/tests/integration/AglaError.integration.spec.ts
  shared/packages/types/tests/integration/BasicIntegrationScenario.integration.spec.ts
  shared/packages/types/tests/integration/ComplexSerialization.integration.spec.ts
  shared/packages/types/tests/integration/CrossPackageIntegration.integration.spec.ts
  shared/packages/types/tests/integration/ExternalSystemIntegration.integration.spec.ts
  shared/packages/types/tests/integration/HighFrequencyPerformance.integration.spec.ts
  shared/packages/types/tests/integration/MemoryLeakPrevention.integration.spec.ts
  shared/packages/types/todo.md
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(AglaError/integration): refine context assertions and expand integration coverage
  shared/packages/types/tests/integration/AglaError.integration.spec.ts
  shared/packages/types/tests/integration/BasicIntegrationScenario.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(AglaError/e2e): add context validation, recovery scenarios, and improve type safety
  shared/packages/types/docs/index.md
  shared/packages/types/docs/refactor.plan.md
  shared/packages/types/docs/test-optimization.plan.md
  shared/packages/types/handover.md
  shared/packages/types/src/__tests__/AglaError.chain-compatibility.spec.ts
  shared/packages/types/src/__tests__/AglaError.inheritance.spec.ts
  shared/packages/types/src/__tests__/AglaError.serialization.spec.ts
  shared/packages/types/src/__tests__/AglaError.spec.ts
  shared/packages/types/src/__tests__/AglaError.typescript.spec.ts
  shared/packages/types/src/__tests__/ErrorSeverity.spec.ts
  shared/packages/types/src/__tests__/functional/AglaError.functional.spec.ts
  shared/packages/types/src/__tests__/functional/ErrorSeverity.functional.spec.ts
  shared/packages/types/src/__tests__/helpers/TestAglaError.class.ts
  shared/packages/types/tests/e2e/AglaError.data-integrity-errors.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.database-failure-simulation.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.deadlock-detection.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-chaining.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-reporting.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.external-system-verification.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.filesystem-failure-simulation.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.network-failure-simulation.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.race-condition-detection.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.resource-exhaustion-scenarios.e2e.spec.ts
  shared/packages/types/tests/integration/AglaError.external-systems.integration.spec.ts
  shared/packages/types/tests/integration/AglaError.integration.spec.ts
  shared/packages/types/todo.md
  shared/packages/types/types/AglaError.types.ts
  shared/packages/types/types/ErrorSeverity.types.ts
  shared/packages/types/types/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(project-overview): /shared/types部を更新
  docs/claude/project-overview.md
Due: secretlint, check-spells, check-format

docs(template): テンプレート用に、変更部分をプレースホルダー化
  docs/_templates/template.md
Due: secretlint, check-spells, check-format

docs(AglaError): エラークラス実装完了ドキュメント
  shared/packages/types/docs/agla-error-completion-summary.md
Due: secretlint, check-format

docs(restructutr): フロントマターの標準化とドキュメント全体の見出し統一
  docs/restructuring/00-overview.md
  docs/restructuring/01-current-analysis.md
  docs/restructuring/02-target-architecture.md
  docs/restructuring/03-migration-phases.md
  docs/restructuring/04-implementation-guide.md
  docs/restructuring/05-quality-assurance.md
  docs/restructuring/README.md
Due: secretlint, check-spells, check-format

docs(spec): standardize front matter and improve metadata/formatting
  docs/guide/ag-logger.guide.md
  docs/specs/@agla-e2e--fileio-framework.spec.md
  docs/specs/@agla-utils--ag-logger.spec.md
  docs/specs/@esta-actions--tools-installer.spec.md
  docs/specs/@esta-core--error-handler.spec.md
  docs/specs/@esta-core--feature-flags.spec.md
  docs/specs/@esta-core--tools-config.spec.md
  docs/specs/@esta-system--exit-status.spec.md
  docs/specs/@esta-utils--command-runner.spec.md
  docs/specs/@esta-utils--config-loader.spec.md
  docs/specs/@esta-utils--get-platform.spec.md
  docs/specs/@shared--constants.spec.md
  docs/specs/@shared-types.spec.md
  docs/specs/README.ja.md
Due: secretlint, check-spells, check-format

docs(detailed): 終了コードドキュメントのフォーマットと明確さを改善
  docs/detailed-design/exit-codes.md
Due: secretlint, check-spells, check-format

docs(onboarding): フロントマターの標準化、および文章の改善
  docs/onboarding/00-intro.md
  docs/onboarding/01-requirements.md
  docs/onboarding/02-package_managers.md
  docs/onboarding/03-global_tools.md
  docs/onboarding/04-writers_tools.md
  docs/onboarding/05-dev_tools_setup.md
  docs/onboarding/06-monorepo_repository.md
  docs/onboarding/07-shared_configs.md
  docs/onboarding/08-package_json_scripts.md
  docs/onboarding/09-code_quality_tools.md
  docs/onboarding/10-writing_tools.md
  docs/onboarding/11-ci_validation_tools.md
  docs/onboarding/12-pre_commit_tools.md
  docs/onboarding/README.ja.md
Due: secretlint, check-spells, check-format

docs(kiro): ドキュメントファイルのヘッダーメタデータから日付フィールドを削除
  docs/.cc-kiro/esta-error/esta-error.plan.md
Due: secretlint, check-spells, check-format

docs(fileio-framework): フロントマターを標準化
  packages/@agla-e2e/fileio-framework/docs/developers-guide/01-overview.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/02-getting-started.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/03-usage.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/04-api-guide.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/09-faq.ja.md
  packages/@agla-e2e/fileio-framework/docs/developers-guide/README.ja.md
Due: secretlint, check-format

docs(AgLogger): standardize front matter, headings, and API consistency
  packages/@agla-utils/ag-logger/docs/api/AgLogger.md
  packages/@agla-utils/ag-logger/docs/api/AgLoggerManager.md
  packages/@agla-utils/ag-logger/docs/api/AgLoggerOptions.md
  packages/@agla-utils/ag-logger/docs/api/AgManagerUtils.md
  packages/@agla-utils/ag-logger/docs/api/README.md
  packages/@agla-utils/ag-logger/docs/api/plugins/formatters/JsonFormatter.md
  packages/@agla-utils/ag-logger/docs/api/plugins/formatters/PlainFormatter.md
  packages/@agla-utils/ag-logger/docs/api/plugins/loggers/ConsoleLogger.md
  packages/@agla-utils/ag-logger/docs/api/types/AgFormatFunction.md
  packages/@agla-utils/ag-logger/docs/api/types/AgLoggerFunction.md
  packages/@agla-utils/ag-logger/docs/api/types/AgLoggerInterface.md
  packages/@agla-utils/ag-logger/docs/api/types/AgLoggerMap.md
  packages/@agla-utils/ag-logger/docs/api/types/LogLevel.md
  packages/@agla-utils/ag-logger/docs/api/utils/AgLogHelpers.md
  packages/@agla-utils/ag-logger/docs/api/utils/AgLogValidators.md
  packages/@agla-utils/ag-logger/docs/user-guides/basic-usage.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/faq.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/formatters.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/getting-started.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/loggermap.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/quick-start.guide.md
Due: secretlint, check-format

docs(tools-installer): standardize Japanese docs and update progress tracking
  packages/@esta-actions/tools-installer/README.ja.md
Due: secretlint, check-format

test(AglaError): エラー連鎖のテストを改善し、インポートを整理
  shared/packages/types/src/__tests__/AglaError.chain-compatibility.spec.ts
  shared/packages/types/src/__tests__/AglaError.inheritance.spec.ts
  shared/packages/types/src/__tests__/AglaError.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(AGENT): コーディングAI用にAGENTS.md, CLAUDE.mdを作成
  shared/packages/types/AGENTS.md
  shared/packages/types/CLAUDE.md
Due: secretlint, check-format

test(AglaError): restructure and simplify unit tests
  shared/packages/types/src/__tests__/AglaError.chain-compatibility.spec.ts
  shared/packages/types/src/__tests__/AglaError.inheritance.spec.ts
  shared/packages/types/src/__tests__/AglaError.serialization.spec.ts
  shared/packages/types/src/__tests__/AglaError.spec.ts
  shared/packages/types/src/__tests__/AglaError.typescript.spec.ts
  shared/packages/types/src/__tests__/AglaErrorContext.validation.spec.ts
  shared/packages/types/src/__tests__/HttpHeaders.validation.spec.ts
  shared/packages/types/src/__tests__/TAglaErrorContextWithSymbols.validation.spec.ts
  shared/packages/types/src/__tests__/TErrorStatistics.validation.spec.ts
  shared/packages/types/src/__tests__/TTestBuffer.validation.spec.ts
  shared/packages/types/src/__tests__/unit/AglaError.chaining.spec.ts
  shared/packages/types/src/__tests__/unit/AglaError.core.spec.ts
  shared/packages/types/src/__tests__/unit/AglaError.serialization.spec.ts
  shared/packages/types/src/__tests__/unit/ErrorSeverity.spec.ts
  shared/packages/types/src/__tests__/unit/TypeGuards.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(AglaError/functional): restructure functional tests for workflows and type safety
  shared/packages/types/src/__tests__/functional/AglaError.functional.spec.ts
  shared/packages/types/src/__tests__/functional/CompleteWorkflows.functional.spec.ts
  shared/packages/types/src/__tests__/functional/ErrorPropagation.functional.spec.ts
  shared/packages/types/src/__tests__/functional/ErrorSeverity.functional.spec.ts
  shared/packages/types/src/__tests__/functional/TypeSystemIntegration.functional.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(AglaError/integration): 最小限のカバレッジを目指して AglaError 統合テストを統合
  shared/packages/types/tests/integration/AglaError.external-systems.integration.spec.ts
  shared/packages/types/tests/integration/AglaError.integration.spec.ts
  shared/packages/types/tests/integration/BasicIntegrationScenario.integration.spec.ts
  shared/packages/types/tests/integration/CrossImplementation.integration.spec.ts
  shared/packages/types/tests/integration/CrossPackageIntegration.integration.spec.ts
  shared/packages/types/tests/integration/ExternalSystemIntegration.integration.spec.ts
  shared/packages/types/tests/integration/ExternalSystems.integration.spec.ts
  shared/packages/types/tests/integration/HighFrequencyPerformance.integration.spec.ts
  shared/packages/types/tests/integration/MemoryLeakPrevention.integration.spec.ts
  shared/packages/types/tests/integration/SerializationCompatibility.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(AglaError/e2e): e2eテストを整理、統合し
  shared/packages/types/tests/e2e/AglaError.consumer-usage.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.custom-error-workflow.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.data-integrity-errors.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.database-failure-simulation.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.deadlock-detection.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-chaining.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-propagation.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.error-reporting.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.external-logging-integration.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.external-monitoring-integration.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.external-system-verification.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.filesystem-failure-simulation.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.logging-workflow.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.network-failure-simulation.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.race-condition-detection.e2e.spec.ts
  shared/packages/types/tests/e2e/AglaError.resource-exhaustion-scenarios.e2e.spec.ts
  shared/packages/types/tests/e2e/ErrorReporting.e2e.spec.ts
  shared/packages/types/tests/e2e/RealWorldUsage.e2e.spec.ts
  shared/packages/types/tests/e2e/SystemIntegration.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs: 詳細な指標とガイドラインを追加して日本語テストドキュメントを更新
  shared/packages/types/docs/index.md
Due: secretlint, check-format

docs(AglaError): standardize file headers and add missing JSDoc
  shared/packages/types/src/__tests__/functional/CompleteWorkflows.functional.spec.ts
  shared/packages/types/src/__tests__/functional/ErrorPropagation.functional.spec.ts
  shared/packages/types/src/__tests__/functional/TypeSystemIntegration.functional.spec.ts
  shared/packages/types/src/__tests__/helpers/TestAglaError.class.ts
  shared/packages/types/src/__tests__/helpers/test-types.types.ts
  shared/packages/types/src/__tests__/unit/AglaError.chaining.spec.ts
  shared/packages/types/src/__tests__/unit/AglaError.core.spec.ts
  shared/packages/types/src/__tests__/unit/AglaError.serialization.spec.ts
  shared/packages/types/src/__tests__/unit/ErrorSeverity.spec.ts
  shared/packages/types/src/__tests__/unit/TypeGuards.spec.ts
  shared/packages/types/tests/e2e/ErrorReporting.e2e.spec.ts
  shared/packages/types/tests/e2e/RealWorldUsage.e2e.spec.ts
  shared/packages/types/tests/e2e/SystemIntegration.e2e.spec.ts
  shared/packages/types/tests/integration/CrossImplementation.integration.spec.ts
  shared/packages/types/tests/integration/ExternalSystems.integration.spec.ts
  shared/packages/types/tests/integration/SerializationCompatibility.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

Path conditions:
  secretlint: any of: **/*
  eslint: any of: shared/**/*.ts, packages/**/*.ts
  eslint-types: any of: shared/**/*.ts, packages/**/*.ts
  lint-files: any of: **/*.ts, scripts/**/*
  check-spells: any of: /shared/**/*.ts, /packages/**/*.ts, /shared/**/*.md, /packages/**/*.md, **/*.json, docs/**/*.md
  check-format: any of: **/*.ts, **/*.js, **/*.json, **/*.md
