Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

lefthook.yml:

# src: ./shared/configs/lefthook.base.yml
# @(#) : lefthook 基本設定
#
# Copyright (c) 2025 atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

pre-commit:
  parallel: true
  commands:
    #    gitleaks:
    #      run: gitleaks protect --config ./configs/gitleaks.toml --staged
    secretlint:
      glob: "**/*"
      run: >
        secretlint
        --secretlintrc ./configs/secretlint.config.yaml
        --secretlintignore .gitignore
        "{staged_files}"

    eslint:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all -- {staged_files}

    eslint-types:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all:types -- "{staged_files}"

    lint-files:
      glob:
        - "**/*.ts"
        - "scripts/**/*"
      run: pnpm run lint:filenames -- {staged_files}

    check-spells:
      glob:
        - "/shared/**/*.ts"
        - "/packages/**/*.ts"
        - "/shared/**/*.md"
        - "/packages/**/*.md"
        - "**/*.json"
        - "docs/**/*.md"
      run: pnpm run check:spells -- {staged_files}

    check-format:
      glob:
        - "**/*.ts"
        - "**/*.js"
        - "**/*.json"
        - "**/*.md"
      run: dprint check {staged_files}

prepare-commit-msg:
  commands:
    prepare-by-codegpt:
      run: bash -c 'scripts/prepare-commit-msg.sh'

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: commitlint --config ./configs/commitlint.config.ts --edit

test: commandExistユーティリティの包括的なクロスプラットフォームテストを追加
  packages/@esta-utils/command-runner/src/__tests__/commandExist.spec.ts
  packages/@esta-utils/command-runner/src/__tests__/exports.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: コマンドライン引数を一貫して安全にクォートする
  packages/@esta-utils/command-runner/src/__tests__/commandExist.spec.ts
  packages/@esta-utils/command-runner/src/__tests__/createCommandLine.spec.ts
  packages/@esta-utils/command-runner/src/__tests__/runCommand.spec.ts
  packages/@esta-utils/command-runner/src/runCommand.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: コマンドを実行する runCommand ユーティリティを追加
  packages/@esta-utils/command-runner/configs/vitest.config.unit.ts
  packages/@esta-utils/command-runner/shared/constants/index.ts
  packages/@esta-utils/command-runner/shared/constants/shell.ts
  packages/@esta-utils/command-runner/src/__tests__/runCommand.spec.ts
  packages/@esta-utils/command-runner/src/commandExist.ts
  packages/@esta-utils/command-runner/src/index.ts
  packages/@esta-utils/command-runner/src/runCommand.ts
  packages/@esta-utils/command-runner/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

fix(command-runner): 終了コードの使用を統一し、依存関係管理を改善
  packages/@esta-utils/command-runner/package.json
  packages/@esta-utils/command-runner/src/commandExist.ts
  packages/@esta-utils/command-runner/src/runCommand.ts
  packages/@esta-utils/command-runner/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

deps: estaの依存関係を更新
  pnpm-lock.yaml
Due: none

deps: @types/node依存関係を22.16.3に更新
  package.json
  pnpm-lock.yaml
Due: none

test: ランナーに終了コード124のコマンドタイムアウトサポートを追加
  base/configs/eslint.config.base.js
  packages/@esta-utils/command-runner/src/__tests__/commandExist.spec.ts
  packages/@esta-utils/command-runner/src/__tests__/runCommand.spec.ts
  packages/@esta-utils/command-runner/src/commandExist.ts
  packages/@esta-utils/command-runner/src/runCommand.ts
  shared/packages/constants/base/exit-code.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

chore: tsconfig-pathsプラグインを使用してvitestのモジュール解決を改善
  base/configs/vitest.config.base.ts
Due: secretlint, lint-files, check-format

refactor: 終了コードをExitCode定数によるチェックに変更
  packages/@esta-utils/command-runner/src/commandExist.ts
  packages/@esta-utils/command-runner/src/runCommand.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: 終了コードをExitCodeで設定
  packages/@esta-utils/command-runner/configs/vitest.config.ci.ts
  packages/@esta-utils/command-runner/configs/vitest.config.unit.ts
  packages/@esta-utils/command-runner/src/__tests__/commandExist.spec.ts
  packages/@esta-utils/command-runner/src/__tests__/runCommand.spec.ts
  packages/@esta-utils/command-runner/src/runCommand.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

chore: 設定の整理とパッケージ依存関係の並び替え
  packages/@esta-core/error-handler/configs/vitest.config.unit.ts
  packages/@esta-core/error-handler/package.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

deps: @types/node の依存関係を最新のパッチバージョンに更新
  pnpm-lock.yaml
Due: none

refactor: exitCodeパッケージヲ削除お
  packages/@esta-core/error-handler/shared/constants/exitCode.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(error-handler): 共通定数へExitCodeを移動、ドキュメントを改訂
  docs/specs/error-handler.spec.md
Due: secretlint, check-spells, check-format

fix(error-handler): ビルドエラーをデバッグ
  packages/@esta-core/error-handler/src/__tests__/errorExit.spec.ts
  packages/@esta-core/error-handler/src/__tests__/fatalExit.spec.ts
  packages/@esta-core/error-handler/src/__tests__/handleExitError.spec.ts
  packages/@esta-core/error-handler/src/error/ExitError.ts
  packages/@esta-core/error-handler/src/error/__tests__/ExitError.spec.ts
  packages/@esta-core/error-handler/src/errorExit.ts
  packages/@esta-core/error-handler/src/fatalExit.ts
  packages/@esta-core/error-handler/src/index.ts
  packages/@esta-core/error-handler/src/utils/exitCodeUtils.ts
  packages/@esta-core/error-handler/tests/e2e/errorExit.spec.ts
  packages/@esta-core/error-handler/tests/e2e/fatalExit.spec.ts
  packages/@esta-core/error-handler/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

fix(command-runner): 定数ExitCodeが読み込めなかったBugをFix
  packages/@esta-core/error-handler/configs/vitest.config.ci.ts
  packages/@esta-utils/command-runner/configs/vitest.config.unit.ts
  packages/@esta-utils/command-runner/package.json
  packages/@esta-utils/command-runner/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

config: プロジェクト設定パスの標準化および一時ディレクトリの除外
  packages/@agla-e2e/fileio-framework/configs/vitest.config.unit.ts
  packages/@agla-e2e/fileio-framework/tsconfig.json
  packages/@agla-utils/ag-logger/configs/vitest.config.unit.ts
  packages/@agla-utils/ag-logger/tsconfig.json
  packages/@esta-actions/tools-installer/configs/vitest.config.unit.ts
  packages/@esta-actions/tools-installer/tsconfig.json
  packages/@esta-core/error-handler/configs/vitest.config.unit.ts
  packages/@esta-core/error-handler/tsconfig.json
  packages/@esta-core/feature-flags/configs/vitest.config.unit.ts
  packages/@esta-core/feature-flags/tsconfig.json
  packages/@esta-system/exit-status/configs/vitest.config.unit.ts
  packages/@esta-system/exit-status/tsconfig.json
  packages/@esta-utils/command-runner/configs/vitest.config.unit.ts
  packages/@esta-utils/command-runner/tsconfig.json
  packages/@esta-utils/config-loader/configs/vitest.config.unit.ts
  packages/@esta-utils/config-loader/tsconfig.json
  packages/@esta-utils/get-platform/configs/vitest.config.unit.ts
  packages/@esta-utils/get-platform/tsconfig.json
  packages/@esta-utils/utils/configs/vitest.config.unit.ts
  packages/@esta-utils/utils/tsconfig.json
  shared/packages/constants/tsconfig.json
  shared/packages/types/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor: importを相対参照に統一
  packages/@agla-utils/ag-logger/shared/constants/AgLogger.constants.ts
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/src/plugins/format/JsonFormat.ts
  packages/@agla-utils/ag-logger/src/plugins/format/NullFormat.ts
  packages/@agla-utils/ag-logger/src/plugins/format/PlainFormat.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/JsonFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/NullFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/PlainFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/ConsoleLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/NullLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/E2eMockLogger.spec.ts
  packages/@agla-utils/ag-logger/src/utils/AgLoggerGetMessage.ts
  packages/@agla-utils/ag-logger/src/utils/AgLoggerHelpers.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/AgLoggerGetLabel.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/AgLoggerGetMessage.spec.ts
  packages/@esta-utils/config-loader/src/__tests__/configSearchDirs.spec.ts
  packages/@esta-utils/config-loader/src/__tests__/findConfigFile.spec.ts
  packages/@esta-utils/config-loader/src/configSearchDirs.ts
  packages/@esta-utils/config-loader/src/findConfigFile.ts
  packages/@esta-utils/config-loader/src/index.ts
  packages/@esta-utils/config-loader/src/loadConfig.ts
  packages/@esta-utils/config-loader/src/parseConfig.ts
  packages/@esta-utils/config-loader/tests/e2e/loadConfig.spec.ts
  packages/@esta-utils/get-platform/shared/constants/platform.ts
  packages/@esta-utils/get-platform/src/__tests__/exports.spec.ts
  packages/@esta-utils/get-platform/src/__tests__/getPlatform.spec.ts
  packages/@esta-utils/get-platform/src/__tests__/utils.spec.ts
  packages/@esta-utils/get-platform/src/getPlatform.ts
  packages/@esta-utils/get-platform/src/index.ts
  packages/@esta-utils/get-platform/tests/e2e/platformIntegration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(esta-config): GitHub Actions向けモジュラー構成スキーマの明確化と統一
  docs/specs/esta-config.spec.md
Due: secretlint, check-spells, check-format

docs: 設定仕様をモジュールによるロード／アクセス方式にリファクタリング
  .vscode/cspell/dicts/project.dic
  docs/specs/esta-config.spec.md
Due: secretlint, check-spells, check-format

refactor: 検索設定タイプのリファクタリングおよび検索モジュールの再編成
  packages/@esta-utils/config-loader/shared/types/configFile.types.ts
  packages/@esta-utils/config-loader/shared/types/index.ts
  packages/@esta-utils/config-loader/shared/types/searchFileType.types.ts
  packages/@esta-utils/config-loader/src/__tests__/configSearchDirs.spec.ts
  packages/@esta-utils/config-loader/src/__tests__/findConfigFile.spec.ts
  packages/@esta-utils/config-loader/src/index.ts
  packages/@esta-utils/config-loader/src/loadConfig.ts
  packages/@esta-utils/config-loader/src/search/configSearchDirs.ts
  packages/@esta-utils/config-loader/src/search/findConfigFile.ts
  packages/@esta-utils/config-loader/tests/e2e/loadConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: 検索テストを専用サブフォルダに整理
  packages/@esta-utils/config-loader/src/search/__tests__/configSearchDirs.spec.ts
  packages/@esta-utils/config-loader/src/search/__tests__/findConfigFile.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: 拡張子なしの設定ファイルに対応（設定検索およびテスト）
  packages/@esta-utils/config-loader/src/search/__tests__/configSearchDirs.spec.ts
  packages/@esta-utils/config-loader/src/search/__tests__/findConfigFile.spec.ts
  packages/@esta-utils/config-loader/src/search/configSearchDirs.ts
  packages/@esta-utils/config-loader/src/search/findConfigFile.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: 複数のベース名と検索タイプをサポートするようにconfigローダーを強化
  packages/@esta-utils/config-loader/src/loadConfig.ts
  packages/@esta-utils/config-loader/src/search/__tests__/findConfigFile.spec.ts
  packages/@esta-utils/config-loader/tests/e2e/loadConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: config-loader のテストを日本語コンテキストに翻訳・整理
  packages/@esta-utils/config-loader/src/__tests__/parseConfig.spec.ts
  packages/@esta-utils/config-loader/tests/e2e/loadConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: loadConfigの呼び出しをオブジェクト形式に変更/JSDocを修正
  packages/@esta-utils/config-loader/shared/types/configFile.types.ts
  packages/@esta-utils/config-loader/shared/types/searchFileType.types.ts
  packages/@esta-utils/config-loader/src/__tests__/parseConfig.spec.ts
  packages/@esta-utils/config-loader/src/loadConfig.ts
  packages/@esta-utils/config-loader/src/parser/__tests__/parseJsonc.spec.ts
  packages/@esta-utils/config-loader/src/parser/__tests__/parseScript.spec.ts
  packages/@esta-utils/config-loader/src/parser/__tests__/parseYaml.spec.ts
  packages/@esta-utils/config-loader/src/parser/parseJsonc.ts
  packages/@esta-utils/config-loader/src/parser/parseYaml.ts
  packages/@esta-utils/config-loader/src/search/__tests__/configSearchDirs.spec.ts
  packages/@esta-utils/config-loader/src/search/__tests__/findConfigFile.spec.ts
  packages/@esta-utils/config-loader/src/search/configSearchDirs.ts
  packages/@esta-utils/config-loader/tests/e2e/loadConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(config-loader): config-loaderの日本語README
  packages/@esta-utils/config-loader/README.ja.md
Due: secretlint, check-format

test: 設定およびスクリプト解析における厳格なエラーハンドリングの強化
  packages/@esta-utils/config-loader/src/__tests__/parseConfig.illeaga-format.spec.ts
  packages/@esta-utils/config-loader/src/parser/__tests__/parseScript.spec.ts
  packages/@esta-utils/config-loader/src/parser/parseScript.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat(config-loader): 設定ファイルが見つからない場合に例外を投げずに null を返す
  packages/@esta-utils/config-loader/src/loadConfig.ts
  packages/@esta-utils/config-loader/src/search/findConfigFile.ts
  packages/@esta-utils/config-loader/tests/e2e/loadConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: CONFIG_NOT_FOUND を CONFIG_ERROR に名称変更し、メッセージを更新
  pnpm-lock.yaml
  shared/packages/constants/base/exit-code.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(config-loader): 設定ファイルのファイル入力エラー／パースエラーをテスト
  packages/@esta-core/error-handler/src/__tests__/fatalExit.spec.ts
  packages/@esta-core/error-handler/src/error/__tests__/ExitError.spec.ts
  packages/@esta-utils/config-loader/package.json
  packages/@esta-utils/config-loader/src/__tests__/loadConfig.illegal_config.spec.ts
  packages/@esta-utils/config-loader/src/loadConfig.ts
  packages/@esta-utils/config-loader/src/search/__tests__/findConfigFile.spec.ts
  packages/@esta-utils/config-loader/src/search/findConfigFile.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

test: config-loaderのドキュメントを改善
  packages/@esta-utils/config-loader/src/__tests__/loadConfig.illegal_config.spec.ts
  packages/@esta-utils/config-loader/src/__tests__/parseConfig.spec.ts
  packages/@esta-utils/config-loader/src/loadConfig.ts
  packages/@esta-utils/config-loader/src/parser/__tests__/parseJsonc.spec.ts
  packages/@esta-utils/config-loader/src/parser/__tests__/parseScript.spec.ts
  packages/@esta-utils/config-loader/src/parser/__tests__/parseYaml.spec.ts
  packages/@esta-utils/config-loader/src/parser/parseScript.ts
  packages/@esta-utils/config-loader/tests/e2e/loadConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(config-loader): README.ja.mdを改訂
  packages/@esta-utils/config-loader/README.ja.md
Due: secretlint, check-format

deps: ESLint依存関係をバージョン9.31.0に更新
  package.json
  pnpm-lock.yaml
Due: none

docs(tools-config): @esta-core/tools-config パッケージの詳細仕様
  docs/specs/@esta-core--tools-config.spec.md
Due: secretlint, check-spells, check-format

docs(docs/specs): 仕様書作成用の統一規則作成
  docs/specs/@esta-actions-tools-installer.spec.md
  docs/specs/@esta-core--tools-config.spec.md
  docs/specs/@esta-core-error-handler.spec.md
  docs/specs/@esta-core-esta-config.spec.md
  docs/specs/@esta-core-feature-flags.spec.md
  docs/specs/@esta-system-exit-status.spec.md
  docs/specs/@esta-utils-command-runner.spec.md
  docs/specs/@esta-utils-get-platform.spec.md
  docs/specs/README.ja.md
Due: secretlint, check-spells, check-format

deps: TypeScript ESLint 依存関係をマイナーバージョンにアップグレード
  package.json
  pnpm-lock.yaml
Due: none

deps: viteをバージョンアップ
  pnpm-lock.yaml
Due: none
