Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

lefthook.yml:

# src: ./shared/configs/lefthook.base.yml
# @(#) : lefthook 基本設定
#
# Copyright (c) 2025 atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

pre-commit:
  parallel: true
  commands:
    #    gitleaks:
    #      run: gitleaks protect --config ./configs/gitleaks.toml --staged
    secretlint:
      glob: "**/*"
      run: >
        secretlint
        --secretlintrc ./configs/secretlint.config.yaml
        --secretlintignore .gitignore
        "{staged_files}"

    eslint:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all -- {staged_files}

    eslint-types:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all:types -- "{staged_files}"

    lint-files:
      glob:
        - "**/*.ts"
        - "scripts/**/*"
      run: pnpm run lint:filenames -- {staged_files}

    check-spells:
      glob:
        - "/shared/**/*.ts"
        - "/packages/**/*.ts"
        - "/shared/**/*.md"
        - "/packages/**/*.md"
        - "**/*.json"
        - "docs/**/*.md"
      run: pnpm run check:spells -- {staged_files}

    check-format:
      glob:
        - "**/*.ts"
        - "**/*.js"
        - "**/*.json"
        - "**/*.md"
      run: dprint check {staged_files}

prepare-commit-msg:
  commands:
    prepare-by-codegpt:
      run: bash -c 'scripts/prepare-commit-msg.sh'

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: commitlint --config ./configs/commitlint.config.ts --edit

feat(tools-config): Validation用ユーティリティ validatorUtilsを追加
  .claude/commands/validate-debug.md
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/internal/types/validation.ts
  packages/@esta-core/tools-config/src/tools-validator/utils/validatorUtils.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/boundary.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.api.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.internal.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
  packages/@esta-core/tools-config/tests/integration/toolsConfig.ci.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: clean up validation types and clarify validator structure
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/loadToolsConfig.ts
  packages/@esta-core/tools-config/src/defaults.ts
  packages/@esta-core/tools-config/src/getToolsConfig.ts
  packages/@esta-core/tools-config/src/index.ts
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/internal/schemas/__tests__/tools.schemas.spec.ts
  packages/@esta-core/tools-config/src/internal/schemas/tools.schemas.ts
  packages/@esta-core/tools-config/src/internal/types/config.ts
  packages/@esta-core/tools-config/src/internal/types/index.ts
  packages/@esta-core/tools-config/src/internal/types/tools.ts
  packages/@esta-core/tools-config/src/internal/types/validation.ts
  packages/@esta-core/tools-config/src/tools-validator/utils/validatorUtils.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/boundary.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.api.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/egetValidator.internal.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/validateTools.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/baseValidator.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/index.ts
  packages/@esta-core/tools-config/src/utils/pathUtils.ts
  packages/@esta-core/tools-config/tests/integration/toolsConfig.ci.spec.ts
  packages/@esta-core/tools-config/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

fix: validate-debug.md: コマンドのエラーを修正
  .claude/commands/validate-debug.md
Due: secretlint, check-format

docs: update and expand tools-config documentation
  configs/textlintrc.yaml
  docs/specs/@esta-core--tools-config.spec.md
  packages/@esta-core/tools-config/docs/architecure-design.spec.md
  packages/@esta-core/tools-config/docs/e2e-test-specification.md
  packages/@esta-core/tools-config/docs/e2e-test.spec.md
  packages/@esta-core/tools-config/docs/test-specification.md
  packages/@esta-core/tools-config/docs/unit-test.spec.md
  packages/@esta-core/tools-config/src/__tests__/defaultToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/__tests__/getToolsConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/loadConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/__tests__/mergeConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/loadToolsConfig.ts
  packages/@esta-core/tools-config/src/core/config/mergeToolsConfig.ts
  packages/@esta-core/tools-config/src/defaults.ts
  packages/@esta-core/tools-config/src/getToolsConfig.ts
  packages/@esta-core/tools-config/src/internal/constants/validation.ts
  packages/@esta-core/tools-config/src/internal/schemas/__tests__/tools.schemas.spec.ts
  packages/@esta-core/tools-config/src/internal/schemas/tools.schemas.ts
  packages/@esta-core/tools-config/src/tools-validator/utils/validatorUtils.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/__tests__/validateTools.spec.ts
  packages/@esta-core/tools-config/src/tools-validator/validator/egetValidator.ts
  packages/@esta-core/tools-config/src/utils/__tests__/pathUtils.edge.spec.ts
  packages/@esta-core/tools-config/src/utils/__tests__/pathUtils.spec.ts
  packages/@esta-core/tools-config/tests/e2e/loadConfig.e2e.spec.ts
  packages/@esta-core/tools-config/tests/integration/toolsConfig.ci.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor: improve code readability and maintainability
  packages/@esta-core/tools-config/src/core/config/loadToolsConfig.ts
  packages/@esta-core/tools-config/src/tools-validator/utils/validatorUtils.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

fix: 重複IDのツールを置き換えるように設定マージ処理を改善
  packages/@esta-core/tools-config/src/core/config/__tests__/mergeConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/mergeToolsConfig.ts
  packages/@esta-core/tools-config/tests/integration/toolsConfig.ci.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

fix: configマージ時のエラー処理とバリデーションを改善
  packages/@esta-core/tools-config/src/core/config/__tests__/mergeConfig.spec.ts
  packages/@esta-core/tools-config/src/core/config/mergeToolsConfig.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

deps: @types/node をバージョン 22.16.5 に更新
  package.json
  pnpm-lock.yaml
Due: none

feat: Spec-Driven Developmentプロセスを強制するkiroコマンドを追加
  .claude/commands/kiro.md
Due: secretlint, check-format

docs: kiroコマンドにサブコマンドを追加
  .claude/commands/kiro.md
Due: secretlint, check-format

docs: ドキュメント用の詳細なフロントマターのテンプレートとガイドラインを追加
  .claude/commands/kiro.md
Due: secretlint, check-format

docs: kiro.cmd : SDD用コマンド kiroにサブコマンドを追加
  .claude/commands/kiro.md
  .vscode/cspell/dicts/project.dic
Due: secretlint, check-format

chore: カスタム辞書に`extname`を追加
  .vscode/cspell/dicts/project.dic
Due: secretlint

chore: ls-lint設定のディレクトリマッチングパターンを改善
  configs/ls-lint.yaml
  pnpm-lock.yaml
Due: secretlint

docs(esta-config): 仕様書Driven開発のための各種ドキュメントの追加
  docs/.cc-kiro/@esta-core/esta-config/esta-config.design.md
  docs/.cc-kiro/@esta-core/esta-config/esta-config.requirement.md
  docs/.cc-kiro/@esta-core/esta-config/esta-config.spec.md
  docs/.cc-kiro/@esta-core/esta-config/esta-config.tasks.md
Due: secretlint, check-spells, check-format

fix(kiro): ディレクトリ名を許可ケースにあわせkebab-caseに変更
  .claude/commands/kiro.md
Due: secretlint, check-format

feat(kiro): サブコマンド `code`を実装
  .claude/commands/kiro.md
Due: secretlint, check-format

deps: typeScript ESLint プラグインとパーサーを 8.38.0 に更新
  package.json
  pnpm-lock.yaml
Due: none

chore: kiroコマンドの利便性向上のための省略エイリアス追加
  .claude/commands/kiro.md
Due: secretlint, check-format

docs(esta-config): 仕様書Driven開発のための各種ドキュメントの追加
  docs/.ccKiro/@esta-core/esta-config/esta-config.design.md
  docs/.ccKiro/@esta-core/esta-config/esta-config.requirement.md
  docs/.ccKiro/@esta-core/esta-config/esta-config.spec.md
  docs/.ccKiro/@esta-core/esta-config/esta-config.tasks.md
Due: secretlint, check-spells, check-format

config(esta-config): initial commmmit for setup package
  packages/@esta-core/esta-config/.gitignore
  packages/@esta-core/esta-config/.vscode/cspell.json
  packages/@esta-core/esta-config/configs/commitlint.config.ts
  packages/@esta-core/esta-config/configs/eslint.config.js
  packages/@esta-core/esta-config/configs/eslint.config.typed.js
  packages/@esta-core/esta-config/configs/secretlint.config.yaml
  packages/@esta-core/esta-config/configs/tsup.config.module.ts
  packages/@esta-core/esta-config/configs/tsup.config.ts
  packages/@esta-core/esta-config/configs/vitest.config.e2e.ts
  packages/@esta-core/esta-config/configs/vitest.config.integration.ts
  packages/@esta-core/esta-config/configs/vitest.config.unit.ts
  packages/@esta-core/esta-config/package.json
  packages/@esta-core/esta-config/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

chore: kiro用ディレクトリ名を一貫性のため、'.cc-kiro'に変更
  docs/.ccKiro/@esta-core/esta-config/esta-config.design.md
  docs/.ccKiro/@esta-core/esta-config/esta-config.requirement.md
  docs/.ccKiro/@esta-core/esta-config/esta-config.spec.md
  docs/.ccKiro/@esta-core/esta-config/esta-config.tasks.md
Due: secretlint, check-spells, check-format

feat(esta-config): build用にからのindex.tsを追加
  packages/@esta-core/esta-config/src/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat(ag-logger): ラベル表記に対応したLogLevel変換機能の追加と構造リファクタリング
  packages/@agla-utils/ag-logger/docs/LogLeve.design.md
  packages/@agla-utils/ag-logger/docs/loglevel.tasks.md
  packages/@agla-utils/ag-logger/package.json
  packages/@agla-utils/ag-logger/shared/constants/AgLogger.constants.ts
  packages/@agla-utils/ag-logger/shared/types/AgLogger.interface.ts
  packages/@agla-utils/ag-logger/shared/types/AgLogger.types.ts
  packages/@agla-utils/ag-logger/shared/types/LogLevel.types.ts
  packages/@agla-utils/ag-logger/shared/types/index.ts
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/src/plugins/format/JsonFormat.ts
  packages/@agla-utils/ag-logger/src/plugins/format/PlainFormat.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/JsonFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/NullFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/PlainFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/ConsoleLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/E2eMockLogger.spec.ts
  packages/@agla-utils/ag-logger/src/utils/AgLoggerGetMessage.ts
  packages/@agla-utils/ag-logger/src/utils/AgLoggerHelpers.ts
  packages/@agla-utils/ag-logger/src/utils/LogLevelHelpers.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/AgLoggerGetLabel.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/AgLoggerGetMessage.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/LogLevelConstants.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/LogLevelHelpers.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.json.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.parameterOmission.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.plain.spec.ts
  packages/@esta-core/esta-config/package.json
  packages/@esta-core/esta-config/shared/types/estaConfig.types.ts
  packages/@esta-core/esta-config/src/__tests__/defaults.spec.ts
  packages/@esta-core/esta-config/src/__tests__/logLevel.spec.ts
  packages/@esta-core/esta-config/src/defaults.ts
  packages/@esta-core/esta-config/src/index.ts
  packages/@esta-core/esta-config/src/logLevel.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

test(ag-logger): テスト構成の最適化とログ出力の可読性改善
  packages/@agla-utils/ag-logger/configs/vitest.config.e2e.ts
  packages/@agla-utils/ag-logger/configs/vitest.config.integration.ts
  packages/@agla-utils/ag-logger/configs/vitest.config.unit.ts
  packages/@agla-utils/ag-logger/package.json
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/src/plugins/format/PlainFormat.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/JsonFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@agla-utils/ag-logger/src/utils/AgLoggerGetMessage.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/AgLoggerGetMessage.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.json.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.parameterOmission.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.plain.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLogger.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLoggerManager.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/PluginInteraction.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/utils/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/tests/utils/__tests__/E2eMockLogger.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

feat: ログメッセージのフォーマットを標準化する純粋関数を追加
  packages/@agla-utils/ag-logger/src/functional/core/__tests__/formatLogMessage.compatibility.spec.ts
  packages/@agla-utils/ag-logger/src/functional/core/__tests__/formatLogMessage.spec.ts
  packages/@agla-utils/ag-logger/src/functional/core/formatLogMessage.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs: ag-logeerを関数型型式にリファクタリングするためのドキュメント策定
  packages/@agla-utils/ag-logger/docs/LogLeve.design.md
  packages/@agla-utils/ag-logger/docs/README.ja.md
  packages/@agla-utils/ag-logger/docs/functional-refactoring.spec.md
  packages/@agla-utils/ag-logger/docs/immutable-config.spec.md
  packages/@agla-utils/ag-logger/docs/loglevel.tasks.md
  packages/@agla-utils/ag-logger/docs/pure-functions.spec.md
  packages/@agla-utils/ag-logger/docs/refactoring.tasks.md
  packages/@agla-utils/ag-logger/docs/testing-strategy.spec.md
Due: secretlint, check-format

refactor(ag-logger): ログ整形処理の関数分離と定数命名の統一を実施
  .vscode/cspell/dicts/project.dic
  packages/@agla-utils/ag-logger/docs/pure-functions.spec.md
  packages/@agla-utils/ag-logger/shared/types/LogLevel.types.ts
  packages/@agla-utils/ag-logger/shared/types/index.ts
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/src/functional/core/__tests__/formatLogMessage.compatibility.spec.ts
  packages/@agla-utils/ag-logger/src/functional/core/__tests__/formatLogMessage.spec.ts
  packages/@agla-utils/ag-logger/src/functional/core/formatLogMessage.ts
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/JsonFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/NullFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/PlainFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/ConsoleLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@agla-utils/ag-logger/src/utils/LogLevelHelpers.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/AgLoggerGetMessage.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/LogLevelConstants.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/LogLevelHelpers.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.json.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.parameterOmission.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.plain.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLogger.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLoggerManager.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/PluginInteraction.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/utils/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/tests/utils/__tests__/E2eMockLogger.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs: 廃止された LogLevel 設計およびリファクタリング文書の削除
  packages/@agla-utils/ag-logger/docs/LogLeve.design.md
  packages/@agla-utils/ag-logger/docs/loglevel.tasks.md
Due: secretlint, check-format

feat: AgToLogLevel関数をBDD型式で実装
  packages/@agla-utils/ag-logger/src/utils/LogLevelHelpers.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/LogLevelHelpers.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: インテグレーションテストからLogLevelHelpersを分割
  packages/@agla-utils/ag-logger/tests/integration/LogLevelHelpers.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: ログレベル定数の命名を LOG_LEVELからLOGLEVEL スタイルに統一
  packages/@agla-utils/ag-logger/shared/types/LogLevel.types.ts
  packages/@agla-utils/ag-logger/shared/types/index.ts
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/AgLoggerManager.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLoggerManager.spec.ts
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/JsonFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/NullFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/format/__tests__/PlainFormat.spec.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/ConsoleLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/ConsoleLogger.spec.ts
  packages/@agla-utils/ag-logger/src/utils/LogLevelHelpers.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/AgLoggerGetMessage.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/LogLevelConstants.spec.ts
  packages/@agla-utils/ag-logger/src/utils/__tests__/LogLevelHelpers.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.json.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.parameterOmission.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/AgLogger.plain.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLogger.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/AgLoggerManager.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/LogLevelHelpers.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/PluginInteraction.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/utils/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/tests/utils/__tests__/E2eMockLogger.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

chore: Update project dictionary with new terms
  .vscode/cspell/dicts/project.dic
Due: secretlint

docs(restructure-plan): 段階的なESTAシステム再構築計画を包括的に文書化
  docs/.cc-kiro/restructure-plan/README.md
  docs/.cc-kiro/restructure-plan/phase1-foundation.md
  docs/.cc-kiro/restructure-plan/phase2-integration.md
Due: secretlint, check-spells, check-format

docs: 包括的なESTAシステム再構築計画の文書化
  docs/restructure-plan/00-overview.md
  docs/restructure-plan/01-current-analysis.md
  docs/restructure-plan/02-new-architecture.md
  docs/restructure-plan/03-migration-strategy.md
  docs/restructure-plan/04-implementation-plan.md
  docs/restructure-plan/README.md
Due: secretlint, check-spells, check-format

docs: ESTA restructuring plan ドキュメント作成
  docs/.cc-kiro/restructure-plan/README.ja.md
  docs/.cc-kiro/restructure-plan/README.md
  docs/.cc-kiro/restructure-plan/phase01-foundation.md
  docs/.cc-kiro/restructure-plan/phase02-integration.md
  docs/.cc-kiro/restructure-plan/phase03-application-integration.md
  docs/.cc-kiro/restructure-plan/phase04-system-actions.md
  docs/.cc-kiro/restructure-plan/phase05-unified-packages.md
  docs/.cc-kiro/restructure-plan/phase1-foundation.md
Due: secretlint, check-spells, check-format

docs: エラー処理およびランタイムパッケージの詳細仕様を定義
  docs/.cc-kiro/restructure-plan/phase01-1-error-handling.spec.md
  docs/.cc-kiro/restructure-plan/phase01-2-runtime.spec.md
  docs/.cc-kiro/restructure-plan/phase01-foundation.md
Due: secretlint, check-spells, check-format

docs: エラーハンドリングをリファクタリングし、ErrorResultFactoryのみに統一
  docs/.cc-kiro/restructure-plan/phase01-1-error-handling.spec.md
Due: secretlint, check-spells, check-format

docs: 段階的目標を含むESTAシステム再編計画のドキュメント化
  README.ja.md
Due: none

docs: 全リストラクチャリング計画フェーズにt-wadスタイルTDDを採用
  docs/.cc-kiro/restructure-plan/phase01-1-error-handling.spec.md
  docs/.cc-kiro/restructure-plan/phase01-2-runtime.spec.md
  docs/.cc-kiro/restructure-plan/phase01-foundation.md
  docs/.cc-kiro/restructure-plan/phase02-integration.md
  docs/.cc-kiro/restructure-plan/phase03-application-integration.md
  docs/.cc-kiro/restructure-plan/phase04-system-actions.md
  docs/.cc-kiro/restructure-plan/phase05-unified-packages.md
Due: secretlint, check-spells, check-format
