Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

lefthook.yml:

# src: ./shared/configs/lefthook.base.yml
# @(#) : lefthook 基本設定
#
# Copyright (c) 2025 atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

pre-commit:
  parallel: true
  commands:
    #    gitleaks:
    #      run: gitleaks protect --config ./configs/gitleaks.toml --staged
    secretlint:
      glob: "**/*"
      run: >
        secretlint
        --secretlintrc ./configs/secretlint.config.yaml
        --secretlintignore .gitignore
        "{staged_files}"

    eslint:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all -- {staged_files}

    eslint-types:
      glob:
        - "shared/**/*.ts"
        - "packages/**/*.ts"
      run: pnpm run lint-all:types -- "{staged_files}"

    lint-files:
      glob:
        - "**/*.ts"
        - "scripts/**/*"
      run: pnpm run lint:filenames -- {staged_files}

    check-spells:
      glob:
        - "/shared/**/*.ts"
        - "/packages/**/*.ts"
        - "/shared/**/*.md"
        - "/packages/**/*.md"
        - "**/*.json"
        - "docs/**/*.md"
      run: pnpm run check:spells -- {staged_files}

    check-format:
      glob:
        - "**/*.ts"
        - "**/*.js"
        - "**/*.json"
        - "**/*.md"
      run: dprint check {staged_files}

prepare-commit-msg:
  commands:
    prepare-by-codegpt:
      run: bash -c 'scripts/prepare-commit-msg.sh'

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: commitlint --config ./configs/commitlint.config.ts --edit

test(integration): migrate and reorganize E2E tests
  packages/@agla-utils/ag-logger/tests/integration/mock-output/core/configuration-behavior.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/core/singleton-behavior.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/data-processing/complex-data-handling.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/data-processing/filtering-behavior.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/manager/configuration-management.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/manager/logger-map-management.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/manager/singleton-management.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/performance/high-load-behavior.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/plugins/combinations/comprehensive-integration.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/plugins/combinations/mock-plugin-combinations.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/plugins/formatters/formatter-types-behavior.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/utils/creation-behavior.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/utils/deletion-behavior.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/utils/initialization-error-handling.integration.spec.ts
  packages/@agla-utils/ag-logger/tests/integration/mock-output/utils/test-isolation-patterns.integration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat(e2e): restructure console-output E2E tests with scenario-based coverage
  packages/@agla-utils/ag-logger/tests/e2e/_helpers/consoleMock.ts
  packages/@agla-utils/ag-logger/tests/e2e/agLogger/config/parameter-omission.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/agLogger/config/setLoggerConfig.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/agLogger/json/filtering.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/agLogger/json/integration.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/agLogger/json/structured.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/agLogger/plain/filtering.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/agLogger/plain/integration.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/console-output/__helpers__/setup-tests.helper.ts
  packages/@agla-utils/ag-logger/tests/e2e/console-output/application-lifecycle.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/console-output/log-level-filtering.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/console-output/logger-configuration.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/console-output/output-formatting.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/mock-output/__helpers__/e2e-mock-setup.helper.ts
  packages/@agla-utils/ag-logger/tests/e2e/mock-output/debugging-scenarios.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/mock-output/integration-workflows.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/mock-output/monitoring-scenarios.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/mock-output/test-automation-scenarios.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/plugins/e2e-mock-logger/basic.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/plugins/e2e-mock-logger/integration-with-aglogger.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/plugins/e2e-mock-logger/parallel.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/plugins/e2e-mock-logger/test-ids.e2e.spec.ts
  packages/@agla-utils/ag-logger/tests/e2e/plugins/e2e-mock-logger/utilities.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs: remove outdated specs and task plans for AgLogger refactor
  packages/@agla-utils/ag-logger/docs/ag-logger-refactor.spec.md
  packages/@agla-utils/ag-logger/docs/functional-refactoring.spec.md
  packages/@agla-utils/ag-logger/docs/immutable-config.spec.md
  packages/@agla-utils/ag-logger/docs/pure-functions.spec.md
  packages/@agla-utils/ag-logger/docs/refactoring.tasks.md
  packages/@agla-utils/ag-logger/docs/specs/refactor-agloggermanager.spec.md
  packages/@agla-utils/ag-logger/docs/tasks/add-integration.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-agLogger-phase1.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-agLogger-phase2.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-aglogger-phase3.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-aglogger-phase4.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-ci.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-e2e.tasks.md
  packages/@agla-utils/ag-logger/docs/tasks/refactor-mock-format.tasks.md
  packages/@agla-utils/ag-logger/docs/testing-strategy.spec.md
Due: secretlint, check-format

deps(ag-logger): ag-loggerパッケージのバージョンを0.3.0に更新
  packages/@agla-utils/ag-logger/package.json
Due: secretlint, check-spells, check-format

docs(specs): AgLogger v0.3.0 リリースのための包括的なドキュメント計画
  packages/@agla-utils/ag-logger/docs/make-docs.plan.md
Due: secretlint, check-format

config(gitignore): .gitignoreでAIエージェント設定ファイル、mcp設定ファイルを管理
  .gitignore
Due: none

config(cSpell): スペルチェック辞書に用語を追加
  .vscode/cspell/dicts/project.dic
Due: secretlint

docs(agents.md): claude/codex用markdownおよびmcp設定ファイルを管理
  .mcp.json
  AGENTS.md
  CLAUDE.md
Due: none

docs: remove outdated specs and task plans for AgLogger refactor
  packages/@agla-utils/ag-logger/docs/README.ja.md
Due: secretlint, check-format

docs(ag-logger): add and restructure documentation for core APIs and user guides
  packages/@agla-utils/ag-logger/docs/api/AgLogger.md
  packages/@agla-utils/ag-logger/docs/api/AgLoggerManager.md
  packages/@agla-utils/ag-logger/docs/api/AgLoggerOptions.md
  packages/@agla-utils/ag-logger/docs/api/AgManagerUtils.md
  packages/@agla-utils/ag-logger/docs/api/README.md
  packages/@agla-utils/ag-logger/docs/api/types/AgFormatFunction.md
  packages/@agla-utils/ag-logger/docs/api/types/AgLoggerFunction.md
  packages/@agla-utils/ag-logger/docs/api/types/AgLoggerInterface.md
  packages/@agla-utils/ag-logger/docs/api/types/AgLoggerMap.md
  packages/@agla-utils/ag-logger/docs/api/types/LogLevel.md
  packages/@agla-utils/ag-logger/docs/guide/user-guide.guide.md
  packages/@agla-utils/ag-logger/docs/tasks/docs-phase1.tasks.md
  packages/@agla-utils/ag-logger/docs/user-guides/basic-usage.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/faq.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/formatters.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/getting-started.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/loggermap.guide.md
  packages/@agla-utils/ag-logger/docs/user-guides/quick-start.guide.md
Due: secretlint, check-format

docs(ag-logger): add API docs for formatter and logger plugins
  packages/@agla-utils/ag-logger/docs/api/plugins/formatters/JsonFormatter.md
  packages/@agla-utils/ag-logger/docs/api/plugins/formatters/PlainFormatter.md
  packages/@agla-utils/ag-logger/docs/api/plugins/loggers/ConsoleLogger.md
Due: secretlint, check-format

docs(ag-logger): add API docs for AgLogHelpers and AgLogValidators
  packages/@agla-utils/ag-logger/docs/api/utils/AgLogHelpers.md
  packages/@agla-utils/ag-logger/docs/api/utils/AgLogValidators.md
Due: secretlint, check-format

docs: ag-logger の初期ドキュメントおよび計画ファイルを削除
  packages/@agla-utils/ag-logger/docs/make-docs.plan.md
  packages/@agla-utils/ag-logger/docs/tasks/docs-phase1.tasks.md
Due: secretlint, check-format

docs(eslint): ESLintのtsconfigパスにわかりやすさのため日本語コメントを追加
  configs/eslint.projects.js
Due: secretlint, check-format

deps: devDependencies を最新のパッチバージョンにアップグレード
  package.json
  pnpm-lock.yaml
Due: none

deps: TypeScript ESLint の依存関係をバージョン 8.41.0 に更新
  package.json
  pnpm-lock.yaml
Due: none

config(ls-lint): ファイル名規則を変更
  configs/ls-lint.yaml
Due: secretlint

feat(@shared/types): improve config, testing, and add AglaError base class
  shared/packages/types/configs/commitlint.config.ts
  shared/packages/types/configs/eslint.config.typed.js
  shared/packages/types/configs/vitest.config.e2e.ts
  shared/packages/types/configs/vitest.config.functional.ts
  shared/packages/types/configs/vitest.config.integration.ts
  shared/packages/types/package.json
  shared/packages/types/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

feat(@shared/types): clarify directory and add AglaError base class
  shared/packages/types/types/AglaError.types.ts
  shared/packages/types/types/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

config(tsup): ビルド設定を新しい types エントリポイントに更新
  shared/packages/types/configs/tsup.config.module.ts
  shared/packages/types/configs/tsup.config.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

config(@shared/constants): improve tsconfig, testing, and build setup
  base/configs/tsconfig.base.json
  shared/packages/constants/configs/eslint.config.typed.js
  shared/packages/constants/configs/tsup.config.module.ts
  shared/packages/constants/configs/tsup.config.ts
  shared/packages/constants/configs/vitest.config.e2e.ts
  shared/packages/constants/configs/vitest.config.functional.ts
  shared/packages/constants/configs/vitest.config.integration.ts
  shared/packages/constants/package.json
  shared/packages/constants/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor(constants): 定数のディレクトリ名をconstantsに変更
  shared/packages/constants/constants/common.ts
  shared/packages/constants/constants/defaults.ts
  shared/packages/constants/constants/directories.ts
  shared/packages/constants/constants/exit-code.ts
  shared/packages/constants/constants/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

config: update build, lint, spellcheck, tsup, and vitest settings
  .vscode/cspell/dicts/project.dic
  base/configs/eslint.config.typed.base.js
  base/configs/tsconfig.base.json
  package.json
  packages/@esta-core/esta-error/.vscode/cspell.json
  packages/@esta-core/esta-error/configs/commitlint.config.ts
  packages/@esta-core/esta-error/configs/eslint.config.typed.js
  packages/@esta-core/esta-error/configs/tsup.config.module.ts
  packages/@esta-core/esta-error/configs/tsup.config.ts
  packages/@esta-core/esta-error/configs/vitest.config.e2e.ts
  packages/@esta-core/esta-error/configs/vitest.config.functional.ts
  packages/@esta-core/esta-error/configs/vitest.config.integration.ts
  packages/@esta-core/esta-error/configs/vitest.config.unit.ts
  tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

feat(@esta-core/esta-error): add error handling package with EstaError and ErrorSeverity
  packages/@esta-core/esta-error/.gitignore
  packages/@esta-core/esta-error/configs/eslint.config.js
  packages/@esta-core/esta-error/configs/secretlint.config.yaml
  packages/@esta-core/esta-error/package.json
  packages/@esta-core/esta-error/shared/types/ErrorSeverity.types.ts
  packages/@esta-core/esta-error/shared/types/EstaError.types.ts
  packages/@esta-core/esta-error/shared/types/index.ts
  packages/@esta-core/esta-error/src/__tests__/index.spec.ts
  packages/@esta-core/esta-error/src/__tests__/types/ErrorSeverity.spec.ts
  packages/@esta-core/esta-error/src/__tests__/types/EstaError.spec.ts
  packages/@esta-core/esta-error/src/index.ts
  packages/@esta-core/esta-error/tsconfig.json
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

docs(@esta-core/esta-error): add JSDoc and header comments
  packages/@esta-core/esta-error/shared/types/ErrorSeverity.types.ts
  packages/@esta-core/esta-error/shared/types/EstaError.types.ts
  packages/@esta-core/esta-error/shared/types/index.ts
  packages/@esta-core/esta-error/src/__tests__/index.spec.ts
  packages/@esta-core/esta-error/src/__tests__/types/ErrorSeverity.spec.ts
  packages/@esta-core/esta-error/src/__tests__/types/EstaError.spec.ts
  packages/@esta-core/esta-error/src/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(@esta-core/esta-error): improve structure, docs, and coverage
  packages/@esta-core/esta-error/src/__tests__/index.spec.ts
  packages/@esta-core/esta-error/src/__tests__/types/ErrorSeverity.spec.ts
  packages/@esta-core/esta-error/src/__tests__/types/EstaError.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

chore: 開発ツールインストールスクリプトに、Deno,Bunを追加
  scripts/install-dev-tools.ps1
Due: secretlint

config: update TypeScript and lint settings
  base/configs/tsconfig.base.json
  configs/ls-lint.yaml
Due: secretlint, check-spells, check-format

config(runtime): add initial setup configs
  packages/@esta-system/runtime/.gitignore
  packages/@esta-system/runtime/.vscode/cspell.json
  packages/@esta-system/runtime/configs/commitlint.config.ts
  packages/@esta-system/runtime/configs/eslint.config.js
  packages/@esta-system/runtime/configs/eslint.config.typed.js
  packages/@esta-system/runtime/configs/secretlint.config.yaml
  packages/@esta-system/runtime/configs/tsup.config.module.ts
  packages/@esta-system/runtime/configs/tsup.config.ts
  packages/@esta-system/runtime/configs/vitest.config.e2e.ts
  packages/@esta-system/runtime/configs/vitest.config.functional.ts
  packages/@esta-system/runtime/configs/vitest.config.integration.ts
  packages/@esta-system/runtime/configs/vitest.config.unit.ts
  packages/@esta-system/runtime/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

deps: パッケージ @esta-system/runtime を追加
  packages/@esta-system/runtime/package.json
  pnpm-lock.yaml
Due: secretlint, check-spells, check-format

config(deno): add base and runtime configs
  base/configs/deno.base.jsonc
  packages/@esta-system/runtime/configs/deno.jsonc
  packages/@esta-system/runtime/configs/deno_map.jsonc
Due: secretlint

feat(runtime): ランタイム用に、TExecRuntime列挙型を定義し、検証テストを追加
  packages/@esta-system/runtime/shared/types/TExecRuntime.types.ts
  packages/@esta-system/runtime/src/__tests__/types/TExecRuntime.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat(getRuntime): ランタイム検出関数の作成およびテスト
  packages/@esta-system/runtime/src/__tests__/exports.spec.ts
  packages/@esta-system/runtime/src/__tests__/getRuntime.spec.ts
  packages/@esta-system/runtime/src/getRuntime.ts
  packages/@esta-system/runtime/src/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(e2e): add and enhance runtime detection tests
  packages/@esta-system/runtime/src/getRuntime.ts
  packages/@esta-system/runtime/tests/e2e/runtime-detect/helpers/runtime-detector.ts
  packages/@esta-system/runtime/tests/e2e/runtime-detect/runtime-detection.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

fix(getRuntime): オプショナルチェイニングを削除してNode.jsのバージョンチェックを修正
  packages/@esta-system/runtime/src/getRuntime.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: ランタイムに関連する不要な統合テストおよびBDDテストを削除
  packages/@esta-system/runtime/src/__tests__/exports.spec.ts
  packages/@esta-system/runtime/src/__tests__/types/TExecRuntime.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(unittest): ランタイム環境のモックを標準化するためにテストをリファクタリング
  packages/@esta-system/runtime/src/__tests__/getRuntime.spec.ts
  packages/@esta-system/runtime/src/__tests__/helpers/testUtils.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test(e2e): 検出ヘルパーによるランタイムテストの信頼性向上
  packages/@esta-system/runtime/tests/e2e/helpers/runtimeTestUtils.ts
  packages/@esta-system/runtime/tests/e2e/runtime-detect/runtime-detection.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

test: refactor runtime tests and add descriptive comments
  packages/@esta-system/runtime/shared/types/TExecRuntime.types.ts
  packages/@esta-system/runtime/src/__tests__/getRuntime.spec.ts
  packages/@esta-system/runtime/tests/e2e/runtime-detect/runtime-detection.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs: improve runtime-related comments and import organization
  packages/@esta-system/runtime/shared/types/TExecRuntime.types.ts
  packages/@esta-system/runtime/src/__tests__/getRuntime.spec.ts
  packages/@esta-system/runtime/src/getRuntime.ts
  packages/@esta-system/runtime/tests/e2e/helpers/runtimeTestUtils.ts
  packages/@esta-system/runtime/tests/e2e/runtime-detect/helpers/runtime-detector.ts
  packages/@esta-system/runtime/tests/e2e/runtime-detect/runtime-detection.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format
