Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore --maskSecrets "{staged_files}"
  
    '

eslint:
  run: pnpm run lint-all -- "{staged_files}"

eslint-types:
  run: pnpm run lint-all:types -- "{staged_files}"

lint-files:
  run: pnpm run lint:filename -- {staged_files}

check-spells:
  run: pnpm run check:spells -- {staged_files}

feat(e2e-framework): implement and refine FileIoFramework with shared types
  configs/eslint.projects.js
  configs/ls-lint.yaml
  packages/@ag-utils/e2e-framework/shared/types/common.types.ts
  packages/@ag-utils/e2e-framework/shared/types/e2e-framework.types.ts
  packages/@ag-utils/e2e-framework/src/AgE2eFileIoFramework.ts
  packages/@ag-utils/e2e-framework/src/__tests__/configManagement.spec.ts
  packages/@ag-utils/e2e-framework/src/__tests__/contentComparison.spec.ts
  packages/@ag-utils/e2e-framework/src/__tests__/environment.spec.ts
  packages/@ag-utils/e2e-framework/src/__tests__/fileOperations.spec.ts
  packages/@ag-utils/e2e-framework/src/index.ts
  packages/@ag-utils/e2e-framework/src/types.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/agE2eFileIoUtils.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/agE2eFileIoUtils.ts
  packages/@ag-utils/e2e-framework/tests/e2e/testExecution.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

refactor: convert file IO to async and improve utilities
  packages/@ag-utils/e2e-framework/src/AgE2eFileIoFramework.ts
  packages/@ag-utils/e2e-framework/src/index.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/agE2eFileIoUtils.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/fileOperations.async.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/fileOperations.sync.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/agE2eFileIoUtils.ts
  packages/@ag-utils/e2e-framework/tests/e2e/testExecution.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: improve and consolidate E2E framework tests
  packages/@ag-utils/e2e-framework/example/e2e/HelloWorldExample.spec.ts
  packages/@ag-utils/e2e-framework/shared/types/common.types.ts
  packages/@ag-utils/e2e-framework/shared/types/e2e-framework.types.ts
  packages/@ag-utils/e2e-framework/src/AgE2eFileIoFramework.ts
  packages/@ag-utils/e2e-framework/src/__tests__/configManagement.spec.ts
  packages/@ag-utils/e2e-framework/src/__tests__/contentComparison.spec.ts
  packages/@ag-utils/e2e-framework/src/__tests__/environment.spec.ts
  packages/@ag-utils/e2e-framework/src/__tests__/fileOperations.spec.ts
  packages/@ag-utils/e2e-framework/src/index.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/agE2eFileIoUtils.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/agE2eFileIoUtils.ts
  packages/@ag-utils/e2e-framework/tests/e2e/testExecution.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

docs: cluade code用カスタムスラッシュコマンドを追加
  .claude/commands/validate-debug.md
  .claude/commands/validate-phases.md
  .gitignore
Due: secretlint, check-spells

docs(developer-guide): e2eフレームワーク向け包括的な日本語開発者ガイドを追加
  packages/@ag-utils/e2e-framework/docs/developers-guide/01-overview.ja.md
  packages/@ag-utils/e2e-framework/docs/developers-guide/02-getting-started.ja.md
  packages/@ag-utils/e2e-framework/docs/developers-guide/03-usage.ja.md
  packages/@ag-utils/e2e-framework/docs/developers-guide/04-api-guide.ja.md
  packages/@ag-utils/e2e-framework/docs/developers-guide/09-faq.ja.md
  packages/@ag-utils/e2e-framework/docs/developers-guide/README.ja.md
Due: secretlint, check-spells

deps: update dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: none

docs: add and improve TSDoc comments in English
  packages/@ag-utils/e2e-framework/example/e2e/HelloWorldExample.spec.ts
  packages/@ag-utils/e2e-framework/shared/types/e2e-framework.types.ts
  packages/@ag-utils/e2e-framework/src/AgE2eFileIoFramework.ts
  packages/@ag-utils/e2e-framework/src/index.ts
  packages/@ag-utils/e2e-framework/src/types.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/fileOperations.async.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/__tests__/fileOperations.sync.spec.ts
  packages/@ag-utils/e2e-framework/src/utils/agE2eFileIoUtils.ts
  packages/@ag-utils/e2e-framework/tests/e2e/testExecution.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(text-parser): add text-parser project
  .gitignore
  configs/eslint.projects.js
  pnpm-lock.yaml
Due: secretlint

feat(text-parser): initialize text-parser package's config files
  configs/eslint.projects.js
  packages/@ag-utils/text-parser/.gitignore
  packages/@ag-utils/text-parser/.vscode/cspell.json
  packages/@ag-utils/text-parser/configs/commitlint.config.ts
  packages/@ag-utils/text-parser/configs/eslint.config.js
  packages/@ag-utils/text-parser/configs/eslint.config.typed.js
  packages/@ag-utils/text-parser/configs/secretlint.config.yaml
  packages/@ag-utils/text-parser/configs/tsup.config.module.ts
  packages/@ag-utils/text-parser/configs/tsup.config.ts
  packages/@ag-utils/text-parser/configs/vitest.config.ci.ts
  packages/@ag-utils/text-parser/configs/vitest.config.unit.ts
  packages/@ag-utils/text-parser/package.json
  packages/@ag-utils/text-parser/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(text-parser): add minimum source for build
  packages/@ag-utils/text-parser/shared/types/common.types.ts
  packages/@ag-utils/text-parser/src/index.ts
  packages/@ag-utils/text-parser/src/parseText.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

config(eslint): add text-parser package
  configs/eslint.projects.js
Due: secretlint

feat(text-parser): .txt用にplaintext parserを追加
  packages/@ag-utils/text-parser/shared/types/common.types.ts
  packages/@ag-utils/text-parser/src/__tests__/parseText.spec.ts
  packages/@ag-utils/text-parser/src/parseText.ts
  packages/@ag-utils/text-parser/src/parser/__tests__/parsePlainText.spec.ts
  packages/@ag-utils/text-parser/src/parser/parsePlainText.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(text-parser): add markdown parser using remark
  packages/@ag-utils/text-parser/package.json
  packages/@ag-utils/text-parser/src/__tests__/parseText.spec.ts
  packages/@ag-utils/text-parser/src/parseText.ts
  packages/@ag-utils/text-parser/src/parser/__tests__/parseMarkdown.spec.ts
  packages/@ag-utils/text-parser/src/parser/parseMarkdown.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells

deps: add marked module for parse markdown
  packages/@ag-utils/text-parser/package.json
  pnpm-lock.yaml
Due: secretlint, check-spells

config(e2e-fixture-framework): initial commit and add default configs
  configs/eslint.projects.js
  packages/@ag-utils/e2e-fixture-framework/.gitignore
  packages/@ag-utils/e2e-fixture-framework/.vscode/cspell.json
  packages/@ag-utils/e2e-fixture-framework/configs/commitlint.config.ts
  packages/@ag-utils/e2e-fixture-framework/configs/eslint.config.js
  packages/@ag-utils/e2e-fixture-framework/configs/eslint.config.typed.js
  packages/@ag-utils/e2e-fixture-framework/configs/secretlint.config.yaml
  packages/@ag-utils/e2e-fixture-framework/configs/tsup.config.module.ts
  packages/@ag-utils/e2e-fixture-framework/configs/tsup.config.ts
  packages/@ag-utils/e2e-fixture-framework/configs/vitest.config.ci.ts
  packages/@ag-utils/e2e-fixture-framework/configs/vitest.config.unit.ts
  packages/@ag-utils/e2e-fixture-framework/package.json
  packages/@ag-utils/e2e-fixture-framework/tsconfig.json
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: add and improve fixture-based e2e tests for text parsing
  .vscode/cspell/dicts/project.dic
  packages/@ag-utils/text-parser/configs/commitlint.config.ts
  packages/@ag-utils/text-parser/configs/vitest.config.ci.ts
  packages/@ag-utils/text-parser/src/__tests__/fixtures/sample.md
  packages/@ag-utils/text-parser/src/__tests__/parseText.spec.ts
  packages/@ag-utils/text-parser/src/framework/fixtureRunner.ts
  packages/@ag-utils/text-parser/src/framework/index.ts
  packages/@ag-utils/text-parser/src/framework/io/fileReader.ts
  packages/@ag-utils/text-parser/src/framework/io/index.ts
  packages/@ag-utils/text-parser/src/framework/testDiscovery.ts
  packages/@ag-utils/text-parser/src/framework/types/index.ts
  packages/@ag-utils/text-parser/src/framework/types/test.types.ts
  packages/@ag-utils/text-parser/src/framework/types/validator.types.ts
  packages/@ag-utils/text-parser/src/framework/validators/index.ts
  packages/@ag-utils/text-parser/src/framework/validators/markdownValidator.ts
  packages/@ag-utils/text-parser/src/framework/validators/plaintextValidator.ts
  packages/@ag-utils/text-parser/src/parser/parseMarkdown.ts
  packages/@ag-utils/text-parser/tests/e2e/fixtures/#disabled-type/sample/input.txt
  packages/@ag-utils/text-parser/tests/e2e/fixtures/#disabled-type/sample/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/complex/input.md
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/complex/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/heading/input.md
  packages/@ag-utils/text-parser/tests/e2e/fixtures/markdown/heading/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/#disabled-case/input.txt
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/#disabled-case/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/basic/input.txt
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/basic/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/multiline/input.txt
  packages/@ag-utils/text-parser/tests/e2e/fixtures/plaintext/multiline/output.json
  packages/@ag-utils/text-parser/tests/e2e/fixtures/sample.md
  packages/@ag-utils/text-parser/tests/e2e/parseText.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(e2e-fixture-framework): add e2e fixture framework source code
  packages/@ag-utils/e2e-fixture-framework/shared/types/index.ts
  packages/@ag-utils/e2e-fixture-framework/shared/types/test.types.ts
  packages/@ag-utils/e2e-fixture-framework/shared/types/validator.types.ts
  packages/@ag-utils/e2e-fixture-framework/src/fixtureRunner.ts
  packages/@ag-utils/e2e-fixture-framework/src/index.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/fileReader.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/index.ts
  packages/@ag-utils/e2e-fixture-framework/src/testDiscovery.ts
  packages/@ag-utils/e2e-fixture-framework/src/validators/index.ts
  packages/@ag-utils/e2e-fixture-framework/src/validators/markdownValidator.ts
  packages/@ag-utils/e2e-fixture-framework/src/validators/plaintextValidator.ts
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/#disabled-type/sample/input.txt
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/#disabled-type/sample/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/markdown/complex/input.md
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/markdown/complex/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/markdown/heading/input.md
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/markdown/heading/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/plaintext/#disabled-case/input.txt
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/plaintext/#disabled-case/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/plaintext/basic/input.txt
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/plaintext/basic/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/plaintext/multiline/input.txt
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures/plaintext/multiline/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/framework.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

refactor: Add AgE2E prefix to avoid name collision
  packages/@ag-utils/e2e-fixture-framework/package.json
  packages/@ag-utils/e2e-fixture-framework/src/AgE2eTestDiscovery.ts
  packages/@ag-utils/e2e-fixture-framework/src/fixtureRunner.ts
  packages/@ag-utils/e2e-fixture-framework/src/index.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/AgE2eFileReader.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/fileReader.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/index.ts
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/framework.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

chore: export AgE2eFileReader in index.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test: add and refactor tests for e2e fixture framework modules
  packages/@ag-utils/e2e-fixture-framework/src/AgE2eTestDiscovery.ts
  packages/@ag-utils/e2e-fixture-framework/src/__tests__/AgE2eTestDiscovery.spec.ts
  packages/@ag-utils/e2e-fixture-framework/src/fixtureRunner.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/AgE2eFileReader.ts
  packages/@ag-utils/e2e-fixture-framework/src/io/__tests__/AgE2eFileReader.spec.ts
  packages/@ag-utils/e2e-fixture-framework/src/validators/markdownValidator.ts
  packages/@ag-utils/e2e-fixture-framework/src/validators/plaintextValidator.ts
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures-flat/#disabled-test/input.txt
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures-flat/#disabled-test/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures-flat/basic-plaintext/input.txt
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures-flat/basic-plaintext/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures-flat/simple-markdown/input.md
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/fixtures-flat/simple-markdown/output.json
  packages/@ag-utils/e2e-fixture-framework/tests/e2e/framework.e2e.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

docs(e2e-fixture-framework): スタートガイドを追加
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/01-introduction.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/02-overview.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/03-fixture-layout.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/04-writing-your-first-test.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/05-running-the-tests.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/README.ja.md
Due: secretlint, check-spells

docs(e2e-fixture-framework): スタートアップガイドのFAQ,トラブルシューティングの章を執筆
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/06-faq.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/07-troubleshooting.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/getting-started/README.ja.md
Due: secretlint, check-spells

chore: code spell checkerのカスタム辞書にjsonlintを追加
  .vscode/cspell/dicts/project.dic
Due: secretlint

docs(e2e-fixture-framework): テストの書き方についてのドキュメントを追加
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/01-getting-started.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/README.md
Due: secretlint, check-spells

docs(writing-e2e-tests): Add documentation on how to write E2E tests
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/02-overview.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/03-project-structure-ja..md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/README.md
Due: secretlint, check-spells

docs(writing-e2e-tests): test fixtureの書き方のドキュメント
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/04-writing-fixtures.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): E2E Fixtureテストの書き方についてのドキュメント
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/05-writing-e2e-tests.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): テストドキュメントを英語と日本語で改善および拡充
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/03-project-structure-ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/README.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/README.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 6章 パーサ、バリデータを追加
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/06-parsers-and-validators.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/README.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): jsonの型式を更新
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/04-writing-fixtures.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 第4章 フィクスチャの書き方を更新
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/04-writing-fixtures.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): ドキュメントの各タイトルに章番号を付加
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/01-getting-started.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/02-overview.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/03-project-structure-ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/05-writing-e2e-tests.ja.md
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/06-parsers-and-validators.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 7章 条件指定によるテストの一括実行を追加
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/07-run-tests-with-options.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 5章に自動テストスキップルールについての補足を追加
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/05-writing-e2e-tests.ja.md
Due: secretlint, check-spells

ci(e2e-fixtures-framework): E2Eテスト用のsample GitHub Actionsワークフローを設定
  .github/workflows/ci-sample-e2e-fixtures.yaml
  .gitignore
  configs/vitest.config.gha.ts
  package.json
  packages/@ag-utils/e2e-fixture-framework/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: secretlint, lint-files, check-spells

config(git): gitignoreで自動テストの結果を無視する設定を追加
  .gitignore
Due: none

config(textlint): 記述がAIによるものらしい書き方は警告
  configs/textlintrc.yaml
Due: secretlint

docs(writing-e2e-tests): テストの書き方のガイドにて、CI連携の方法を追加
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/08-ci-integration.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 8章 CI連携の見出しにセクション番号と不可
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/08-ci-integration.ja.md
Due: secretlint, check-spells

docs(writing-e2e-tests): 08 CI連携の章を、リライト
  packages/@ag-utils/e2e-fixture-framework/docs/writing-e2e-tests/08-ci-integration.ja.md
Due: secretlint, check-spells

Path conditions:
  secretlint: any of: **/*
  eslint: any of: shared/**/*.ts, packages/**/*.ts
  eslint-types: any of: shared/**/*.ts, packages/**/*.ts
  lint-files: any of: **/*.ts
  check-spells: any of: **/*.ts, **/*.json, **/*.md
