Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-spells

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore --maskSecrets "{staged_files}"
  
    '

eslint:
  run: pnpm run lint

eslint-types:
  run: pnpm run lint:types

lint-spells:
  run: pnpm run check:spells -- {staged_files}

chore(ci-lint): lint on push only main branch
  .github/workflows/ci-lint.yaml
Due: secretlint, lint-spells

config: update scripts to use cache and coverage
  lefthook.yml
  packages/@ag-utils/command-utils/configs/eslint.config.js
  packages/@ag-utils/command-utils/configs/eslint.config.typed.js
  packages/@ag-utils/command-utils/package.json
  packages/@ag-utils/command-utils/tsconfig.json
  packages/@ag-utils/common/package.json
  packages/@ag-utils/common/tsconfig.json
  packages/@ag-utils/get-platform/package.json
  packages/@ag-utils/get-platform/tsconfig.json
  packages/@aglabo-actions/tool-installer/configs/eslint.config.js
  packages/@aglabo-actions/tool-installer/configs/eslint.config.typed.js
  packages/@aglabo-actions/tool-installer/package.json
  packages/@aglabo-actions/tool-installer/tsconfig.json
  shared/common/package.json
  shared/common/tsconfig.json
  shared/configs/base-scripts.json
  shared/configs/tsconfig.base.json
  shared/configs/vitest.config.base.ts
Due: secretlint, eslint, eslint-types, lint-spells

feat(type): types.ts move to ./shared/types and related changes
  .vscode/settings.json
  configs/eslint.config.js
  lefthook.yml
  package.json
  packages/@ag-utils/command-utils/tsconfig.json
  packages/@ag-utils/common/tsconfig.json
  packages/@aglabo-actions/tool-installer/shared/types/AgActionCommon.types.ts
  packages/@aglabo-actions/tool-installer/shared/types/AgActionInstallerHandler.types.ts
  packages/@aglabo-actions/tool-installer/shared/types/AgActionToolConfig.types.ts
  packages/@aglabo-actions/tool-installer/shared/types/AgLogger.types.ts
  packages/@aglabo-actions/tool-installer/shared/types/index.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/ToolConfigManager.class.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/ToolConifgManager.spec.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/configSearchDirs.spec.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/convertConfig.spec.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/findConfigFile.spec.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/configSearchDirs.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/convertConfig.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/findConfigFile.ts
  packages/@aglabo-actions/tool-installer/src/installer/AgActionHandleInstaller.class.ts
  packages/@aglabo-actions/tool-installer/src/installer/AgActionInstallerExecutorsMap.ts
  packages/@aglabo-actions/tool-installer/src/installer/executor/EgetInitializer.ts
  packages/@aglabo-actions/tool-installer/src/installer/executor/NullExecutor.ts
  packages/@aglabo-actions/tool-installer/src/utils/logger/AgLogUtils.ts
  packages/@aglabo-actions/tool-installer/src/utils/logger/AgLogger.class.ts
  packages/@aglabo-actions/tool-installer/src/utils/logger/ConsoleLogger.class.ts
  packages/@aglabo-actions/tool-installer/src/utils/logger/__tests__/AgLogger.spec.ts
  packages/@aglabo-actions/tool-installer/tests/e2e/EgetInitializer.spec.ts
  packages/@aglabo-actions/tool-installer/tsconfig.json
  shared/configs/eslint.config.base.js
  tsconfig.json
Due: secretlint, eslint, eslint-types, lint-spells

config(ag-utils/common): update tsconfig to use same baseURL
  .vscode/settings.json
  packages/@ag-utils/common/configs/eslint.config.js
  packages/@ag-utils/common/configs/eslint.config.typed.js
  packages/@ag-utils/common/tsconfig.json
  packages/@ag-utils/get-platform/src/index.ts
  packages/@ag-utils/get-platform/tsconfig.json
  shared/configs/tsconfig.base.json
Due: secretlint, eslint, eslint-types, lint-spells

feat(tool-installer): eslint.configにしたがいimportの順番を再設定
  configs/eslint.config.js
  packages/@aglabo-actions/tool-installer/configs/eslint.config.js
  packages/@aglabo-actions/tool-installer/configs/eslint.config.typed.js
  packages/@aglabo-actions/tool-installer/src/installer/AgActionInstallerExecutorsMap.ts
  packages/@aglabo-actions/tool-installer/src/installer/executor/EgetInitializer.ts
  packages/@aglabo-actions/tool-installer/src/utils/logger/AgLogger.class.ts
  packages/@aglabo-actions/tool-installer/src/utils/logger/__tests__/AgLogger.spec.ts
  packages/@aglabo-actions/tool-installer/src/utils/prepareInstallDirectory.ts
  packages/@aglabo-actions/tool-installer/tests/e2e/EgetInitializer.spec.ts
  packages/@aglabo-actions/tool-installer/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-spells

config(eslint, tsconfig): set configs to monorepo root's lint
  configs/eslint.config.typed.js
  lefthook.yml
  package.json
  shared/configs/eslint.config.base.js
  shared/configs/tsconfig.base.json
  tsconfig.json
Due: secretlint, lint-spells

feat(tool-installer): move types.ts to ./shared/types
  packages/@aglabo-actions/tool-installer/shared/types/AgActionCommon.types.ts
  packages/@aglabo-actions/tool-installer/shared/types/AgActionInstallerHandler.types.ts
  packages/@aglabo-actions/tool-installer/shared/types/AgActionToolConfig.types.ts
  packages/@aglabo-actions/tool-installer/shared/types/AgLogger.types.ts
  packages/@aglabo-actions/tool-installer/shared/types/index.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/ToolConfigManager.class.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/ToolConifgManager.spec.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/configSearchDirs.spec.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/convertConfig.spec.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/findConfigFile.spec.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/configSearchDirs.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/convertConfig.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/findConfigFile.ts
  packages/@aglabo-actions/tool-installer/src/installer/AgActionHandleInstaller.class.ts
  packages/@aglabo-actions/tool-installer/src/installer/AgActionInstallerExecutorsMap.ts
  packages/@aglabo-actions/tool-installer/src/installer/executor/EgetInitializer.ts
  packages/@aglabo-actions/tool-installer/src/installer/executor/NullExecutor.ts
  packages/@aglabo-actions/tool-installer/src/utils/logger/AgLogUtils.ts
  packages/@aglabo-actions/tool-installer/src/utils/logger/AgLogger.class.ts
  packages/@aglabo-actions/tool-installer/src/utils/logger/ConsoleLogger.class.ts
  packages/@aglabo-actions/tool-installer/src/utils/logger/__tests__/AgLogger.spec.ts
  packages/@aglabo-actions/tool-installer/tests/e2e/EgetInitializer.spec.ts
  packages/@aglabo-actions/tool-installer/tsconfig.json
  shared/configs/tsconfig.base.json
Due: secretlint, eslint, eslint-types, lint-spells

config(root): add tsconfig,eslint to lint all ts from monorepo root
  configs/eslint.config.js
  package.json
  shared/configs/eslint.config.base.js
  tsconfig.json
Due: secretlint, lint-spells

fix(tool-installer): fix import order by eslint
  configs/eslint.config.js
  packages/@aglabo-actions/tool-installer/src/helper/configs/ToolConfigManager.class.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/ToolConifgManager.spec.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/configSearchDirs.spec.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/convertConfig.spec.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/findConfigFile.spec.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/configSearchDirs.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/convertConfig.ts
  packages/@aglabo-actions/tool-installer/src/helper/configs/findConfigFile.ts
  packages/@aglabo-actions/tool-installer/src/installer/AgActionInstallerExecutorsMap.ts
  packages/@aglabo-actions/tool-installer/src/installer/executor/EgetInitializer.ts
  packages/@aglabo-actions/tool-installer/src/utils/logger/AgLogger.class.ts
  packages/@aglabo-actions/tool-installer/src/utils/logger/__tests__/AgLogger.spec.ts
  packages/@aglabo-actions/tool-installer/src/utils/prepareInstallDirectory.ts
  packages/@aglabo-actions/tool-installer/tests/e2e/EgetInitializer.spec.ts
  shared/common/configs/commitlint.config.ts
  shared/common/configs/eslint.config.typed.js
  shared/configs/eslint.config.base.js
Due: secretlint, eslint, eslint-types, lint-spells

fix(configs): eslintでtypescript/pluginが読み込みエラーになる設定をFix
  configs/eslint.config.js
  shared/configs/eslint.config.base.js
  shared/configs/eslint.projects.js
Due: secretlint, lint-spells

fix(tool-installer): fix '@/utils' alias to relative path
  configs/eslint.config.js
  packages/@aglabo-actions/tool-installer/src/helper/configs/__tests__/convertConfig.spec.ts
  packages/@aglabo-actions/tool-installer/src/installer/executor/EgetInitializer.ts
  shared/configs/eslint.projects.js
  tsconfig.json
Due: secretlint, eslint, eslint-types, lint-spells

refactor(eslint): enable type-aware linting from monorepo root (#25)
  configs/eslint.config.typed.js
  package.json
  shared/configs/eslint.config.base.js
  shared/configs/eslint.config.typed.base.js
  shared/configs/eslint.rules.typed.js
Due: secretlint, lint-spells

build(lefthook): add lint,lint:types check to lefthook
  lefthook.yml
Due: none

chore(lefthook): integrate type-aware eslint check into pre-commit (#25)
  packages/@aglabo-actions/tool-installer/configs/eslint.config.typed.js
  shared/configs/eslint.config.typed.base.js
Due: secretlint, lint-spells

config(@shared): set unifedy cache settings
  lefthook.yml
  package.json
  packages/@ag-utils/command-utils/package.json
  packages/@ag-utils/command-utils/tsconfig.json
  packages/@ag-utils/common/package.json
  packages/@ag-utils/common/tsconfig.json
  packages/@ag-utils/get-platform/package.json
  packages/@ag-utils/get-platform/tsconfig.json
  shared/common/package.json
  shared/common/tsconfig.json
  shared/configs/base-scripts.json
  shared/configs/eslint.projects.js
  tsconfig.json
Due: secretlint, lint-spells

build: add ls-lint for check filename
  configs/ls-lint.yaml
  package.json
  pnpm-lock.yaml
Due: secretlint, lint-spells

build: check filename for pre-commit
  lefthook.yml
Due: none

config(ls-lint): check types.ts, class.ts filename model
  configs/ls-lint.yaml
Due: secretlint, lint-spells

chore: rename filename for ls-lint compliance
  shared/common/types/toolInstaller.types.ts
Due: secretlint, eslint, eslint-types, lint-spells

chore(share/types): index.ts's export renamed
  shared/common/types/index.ts
Due: secretlint, eslint, eslint-types, lint-spells

chore: remove unused toolInstaller.types.ts
  shared/common/types/index.ts
  shared/common/types/toolInstaller.types.ts
Due: secretlint, eslint, eslint-types, lint-spells

chore(dprint): dprint.jsonc: ignore lockfile, root's markdown
  dprint.jsonc
  shared/configs/tsconfig.base.json
  tsconfig.json
Due: secretlint, lint-spells

style(format): apply dprint formatting to TypeScript files
  packages/@ag-actions/tool-installer/src/helper/configs/__tests__/findConfigFile.spec.ts
  packages/@ag-actions/tool-installer/src/utils/logger/__tests__/AgLogger.spec.ts
  packages/@ag-utils/get-platform/src/index.ts
Due: secretlint, eslint, eslint-types, lint-spells

chore(01): add other helper tools
  docs/onboarding/01_requirements.md
Due: secretlint, lint-spells

chore(scripts): add global tools install script
  scripts/installDevTools.ps1
  scripts/installLinter.ps1
Due: secretlint, lint-spells

chore(package): add textlint, markdownlint script on package.json
  package.json
Due: none

chore(configs): スクリプト上書き用にscriptsタグを追加
  shared/configs/base-scripts.json
Due: secretlint, lint-spells

config(cspell): add dictionaries for this project
  .vscode/cspell.json
  .vscode/cspell.lint.json
Due: secretlint, lint-spells

docs(README): add onboarding/README.ja.md
  docs/onboarding/README.ja.md
  lefthook.yml
Due: secretlint, lint-spells

docs(onboarding): 00章から12章まで作成
  docs/onboarding/00_intro.md
  docs/onboarding/02_package-managers.md
  docs/onboarding/03_global-tools.md
  docs/onboarding/04_document-tools.md
  docs/onboarding/05_local-tools.md
  docs/onboarding/06_monorepo-repository.md
  docs/onboarding/07_shared-configs-and-extend.md
  docs/onboarding/08_packagejson_scripts.md
  docs/onboarding/09_code-quality-tools.md
  docs/onboarding/10_doc-check-tools.md
  docs/onboarding/11_ci-validation-tools.md
  docs/onboarding/12_commit-push-tools.md
  docs/onboarding/README.ja.md
Due: secretlint, lint-spells

fix(textlint): fix typo of allowlist
  configs/.textlint/allowlist.yml
Due: secretlint, lint-spells

fix(textlint): ピリオドマークとして絵文字を追加
  configs/.textlint/allowlist.yml
  configs/textlintrc.yaml
Due: secretlint, lint-spells

docs(README): 言語切り替えメニューを追加
  README.ja.md
  README.md
Due: none

docs(CONTRIBUTING): フロントマターを追加
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: none

docs(CONTRIBUTING): 言語切り替えメニューの追加
  CONTRIBUTING.ja.md
Due: none

docs(CONTRIBUTING): テンプレートの説明を削除し、CONTRIBUTINGとして文章を作成
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: none

Path conditions:
  secretlint: any of: **/*
  eslint: any of: shared/**/*.ts, packages/**/*.ts
  eslint-types: any of: shared/**/*.ts, packages/**/*.ts
  lint-spells: any of: **/*
