Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore --maskSecrets "{staged_files}"
  
    '

eslint:
  run: pnpm run lint-all -- "{staged_files}"

eslint-types:
  run: pnpm run lint-all:types -- "{staged_files}"

lint-files:
  run: pnpm run lint:filename -- {staged_files}

check-spells:
  run: pnpm run check:spells -- {staged_files}

docs(CONTRIBUTING): フロントマターを追加
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: none

docs(CONTRIBUTING): 言語切り替えメニューの追加
  CONTRIBUTING.ja.md
Due: none

docs(CONTRIBUTING): テンプレートの説明を削除し、CONTRIBUTINGとして文章を作成
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: none

feat: update .gitignore and add Commitizen configuration files
  .gitignore
  cz.config.js
  shared/configs/cz.config.base.js
Due: secretlint

config: rename cz.config.js and base.js to .cjs for consistency
  configs/cz.config.cjs
  shared/configs/cz.config.base.cjs
Due: secretlint

deps: update packages version
  package.json
  pnpm-lock.yaml
Due: none

config: CodeGPT のテンプレートを追加し、フォーマットを改善
  .gitignore
  .vscode/cspell/dicts/project.dic
  configs/codegpt.config.yaml
  configs/codegpt/prompt/code_review_file_diff.tmpl
  configs/codegpt/prompt/conventional_commit.tmpl
  configs/codegpt/prompt/summarize_file_diff.tmpl
  configs/codegpt/prompt/summarize_title.tmpl
  lefthook.yml
Due: secretlint

feat: コミットメッセージに条件付きテンプレートを実装
  configs/codegpt/prompt/conventional_commit.tmpl
Due: secretlint

chore: commitizenを削除し、codeGptに統合
  configs/cz.config.cjs
  package.json
  shared/configs/cz.config.base.cjs
Due: secretlint

chore: コミットおよび差分要約プロンプトと設定の改善
  configs/codegpt.config.yaml
  configs/codegpt/prompt/conventional_commit.tmpl
  configs/codegpt/prompt/summarize_file_diff.tmpl
  dprint.jsonc
Due: secretlint

chore: CodeGPTを用いた自動コミットメッセージ生成の改善
  configs/codegpt.config.yaml
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint

chore: 古いリンターインストールスクリプトを統合ドキュメントツールインストーラーに置き換え
  scripts/install-doc-tools.ps1
  scripts/install-linter.ps1
Due: secretlint

config(ls-lint): ライブラリ、テストスクリプトの命名規則設定
  configs/ls-lint.yaml
Due: secretlint

feat(init): 共通初期化スクリプトを追加
  scripts/common/init.ps1
Due: secretlint

test(pester): powershell用テストフレームワークPesterの実行チェック
  scripts/libs/Hello.ps1
  scripts/libs/__tests__/#_Hello.Tests.ps1
  scripts/run-tests.ps1
Due: secretlint

feat(AgDevMode): 開発者モード関数を作成
  scripts/libs/AgDevMode.ps1
  scripts/libs/__tests__/AgDevMode.Tests.ps1
Due: secretlint

feat(script): コマンド存在チェック関数を追加
  configs/ls-lint.yaml
  scripts/common/CommonFunctions.ps1
  scripts/common/__tests__/CommonFunctions.Tests.ps1
  scripts/run-tests.ps1
Due: secretlint

chore: スペルチェック辞書に DEVMODE と REGPATH を追加
  .vscode/cspell/dicts/project.dic
Due: secretlint

refactor(script): 開発ツールインストールスクリプトの統一と自動化
  .vscode/cspell/dicts/project.dic
  scripts/common/init.ps1
  scripts/install-dev-tools.ps1
  scripts/libs/AgInstaller.ps1
  scripts/libs/__tests__/AgDevMode.Tests.ps1
  scripts/libs/__tests__/AgInstallerEget.Tests.ps1
  scripts/libs/__tests__/AgInstallerWinget.Tests.ps1
Due: secretlint

chore: ドキュメントツールインストールスクリプトの統合
  scripts/install-doc-tools.ps1
Due: secretlint

docs(onboarding): オンボーディングドキュメントを改善
  docs/onboarding/00-intro.md
  docs/onboarding/01-requirements.md
  docs/onboarding/01_requirements.md
  docs/onboarding/02-package_managers.md
  docs/onboarding/03-global_tools.md
  docs/onboarding/03_global-tools.md
  docs/onboarding/04-writers_tools.md
  docs/onboarding/04_document-tools.md
  docs/onboarding/05-dev_tools_setup.md
  docs/onboarding/05_local-tools.md
  docs/onboarding/06-monorepo_repository.md
  docs/onboarding/06_monorepo-repository.md
  docs/onboarding/07-shared_configs.md
  docs/onboarding/07_shared-configs-and-extend.md
  docs/onboarding/08-package_json_scripts.md
  docs/onboarding/09-code_quality_tools.md
  docs/onboarding/10-writing_tools.md
  docs/onboarding/11-ci_validation_tools.md
  docs/onboarding/12-pre_commit_tools.md
  docs/onboarding/README.ja.md
  docs/onboarding/images/monorepo-config.png
Due: secretlint, check-spells

deps: 開発依存関係を最新のパッチバージョンに更新
  package.json
  pnpm-lock.yaml
Due: none

chore: wsl2でCodeGPTによるコミットメッセー生成を有効化
  configs/codegpt.config.yaml
  package.json
  pnpm-lock.yaml
  scripts/prepare-commit-msg.sh
Due: secretlint

fix(shared): キャッシュパスのずれを修正
  shared/common/package.json
Due: secretlint, check-spells

chore: モノレポ環境整備と辞書・テスト設定の最適化
  .vscode/cspell/dicts/project.dic
  packages/@ag-actions/tool-installer/.gitignore
  packages/@ag-actions/tool-installer/.vscode/cspell.json
  packages/@ag-actions/tool-installer/configs/eslint.config.js
  packages/@ag-actions/tool-installer/configs/tsup.config.module.ts
  packages/@ag-actions/tool-installer/configs/vitest.config.unit.ts
  packages/@ag-actions/tool-installer/package.json
  packages/@ag-actions/tool-installer/src/helper/configs/__tests__/convertConfig.spec.ts
  packages/@ag-system/ag-logger/.gitignore
  packages/@ag-system/ag-logger/.vscode/cspell.json
  packages/@ag-system/ag-logger/configs/commitlint.config.ts
  packages/@ag-system/ag-logger/configs/eslint.config.js
  packages/@ag-system/ag-logger/configs/eslint.config.typed.js
  packages/@ag-system/ag-logger/configs/secretlint.config.yaml
  packages/@ag-system/ag-logger/configs/tsup.config.module.ts
  packages/@ag-system/ag-logger/configs/tsup.config.ts
  packages/@ag-system/ag-logger/configs/vitest.config.ci.ts
  packages/@ag-system/ag-logger/configs/vitest.config.unit.ts
  packages/@ag-system/ag-logger/package.json
  packages/@ag-system/ag-logger/tsconfig.json
  packages/@ag-utils/command-utils/.vscode/cspell.json
  packages/@ag-utils/command-utils/configs/eslint.config.js
  packages/@ag-utils/command-utils/configs/eslint.config.typed.js
  packages/@ag-utils/command-utils/configs/tsup.config.ts
  packages/@ag-utils/common/configs/commitlint.config.ts
  packages/@ag-utils/common/configs/eslint.config.js
  packages/@ag-utils/common/configs/eslint.config.typed.js
  packages/@ag-utils/common/configs/tsup.config.ts
  packages/@ag-utils/common/package.json
  packages/@ag-utils/get-platform/.vscode/cspell.json
  packages/@ag-utils/get-platform/configs/eslint.config.typed.js
  packages/@ag-utils/get-platform/package.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells

style: ESLint設定とコード全体のスタイルをdprintで統一
  packages/@ag-system/ag-logger/.vscode/cspell.json
  packages/@ag-system/ag-logger/configs/vitest.config.ci.ts
  packages/@ag-system/ag-logger/configs/vitest.config.unit.ts
  packages/@ag-system/ag-logger/src/helpers/AgLoggerGetMessage.ts
  packages/@ag-system/ag-logger/src/helpers/__tests__/AgLoggerGetMessage.spec.ts
  packages/@ag-system/ag-logger/src/utils/AgLogger.helpers.ts
  packages/@ag-system/ag-logger/src/utils/__tests__/AgLoggerGetName.spec.ts
  packages/@ag-system/ag-logger/tsconfig.json
  shared/configs/eslint.config.typed.base.js
Due: secretlint, eslint, eslint-types, lint-files, check-spells

refactor(ag-logger): ロギング機能の共通パッケージ化と型の共有化を実施
  configs/eslint.projects.js
  packages/@ag-actions/tool-installer/package.json
  packages/@ag-actions/tool-installer/shared/types/index.ts
  packages/@ag-actions/tool-installer/src/helper/configs/__tests__/convertConfig.spec.ts
  packages/@ag-system/ag-logger/package.json
  packages/@ag-system/ag-logger/shared/types/AgLogger.types.ts
  packages/@ag-system/ag-logger/shared/types/index.ts
  packages/@ag-system/ag-logger/src/AgLogUtils.ts
  packages/@ag-system/ag-logger/src/AgLogger.class.ts
  packages/@ag-system/ag-logger/src/ConsoleLogger.class.ts
  packages/@ag-system/ag-logger/src/__tests__/AgLogger.spec.ts
  packages/@ag-system/ag-logger/src/index.ts
  packages/@ag-system/ag-logger/tsconfig.json
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(ag-logger): ログレベル名取得・メッセージ結合・可変長引数対応を実装
  packages/@ag-system/ag-logger/configs/vitest.config.unit.ts
  packages/@ag-system/ag-logger/shared/types/AgLogger.types.ts
  packages/@ag-system/ag-logger/src/__tests__/#_AgLogger.spec.ts
  packages/@ag-system/ag-logger/src/helpers/AgLoggerGetMessage.ts
  packages/@ag-system/ag-logger/src/helpers/__tests__/AgLoggerGetMessage.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

refactor(ag-logger): ログ型命名の整理とCloudWatch互換ログレベル対応を実施
  .gitignore
  packages/@ag-system/ag-logger/shared/constants/AgLogger.constants.ts
  packages/@ag-system/ag-logger/shared/types/AgLogger.types.ts
  packages/@ag-system/ag-logger/src/AgLogger.class.ts
  packages/@ag-system/ag-logger/src/ConsoleLogger.class.ts
  packages/@ag-system/ag-logger/src/__tests__/#_AgLogger.spec.ts
  packages/@ag-system/ag-logger/src/helpers/AgLoggerGetMessage.ts
  packages/@ag-system/ag-logger/src/helpers/__tests__/AgLoggerGetMessage.spec.ts
  packages/@ag-system/ag-logger/src/index.ts
  packages/@ag-system/ag-logger/src/utils/AgLogger.helpers.ts
  packages/@ag-system/ag-logger/src/utils/__tests__/AgLoggerGetLabel.spec.ts
  packages/@ag-system/ag-logger/src/utils/__tests__/AgLoggerGetName.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

docs: AIアシスタントと貢献ガイドのドキュメントを追加・整備
  .gitignore
  .vscode/ai.prompt.md
  CONTRIBUTING.ja.md
  README.ja.md
  README.md
Due: secretlint, check-spells

refactor(format): refactor format using dprint
  packages/@ag-system/ag-logger/shared/types/AgLogger.types.ts
  packages/@ag-system/ag-logger/src/AgLogger.class.ts
  packages/@ag-system/ag-logger/src/helpers/AgLoggerGetMessage.ts
  packages/@ag-system/ag-logger/src/helpers/__tests__/AgLoggerGetMessage.spec.ts
  packages/@ag-system/ag-logger/src/utils/AgLogger.helpers.ts
  packages/@ag-system/ag-logger/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells

fix(type): fix type of constants name
  packages/@ag-system/ag-logger/shared/constants/AgLogger.constants.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

refactor: ロギングヘルパーでの型チェックを配列のincludesを使って改善
  packages/@ag-system/ag-logger/src/helpers/AgLoggerGetMessage.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

test(convertConfig): ログレベルがAgLogLevelCodeを使用するのに合わせ更新
  packages/@ag-actions/tool-installer/src/helper/configs/__tests__/convertConfig.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

deps: 複数の開発用依存パッケージをマイナーバージョンに更新
  package.json
  pnpm-lock.yaml
Due: none

config(lefthook): コミット前にdprintによるフォーマットチェックを追加
  lefthook.yml
Due: none

fix(tsconfig): tsconfig.jsonのインポート解決とパスマッピングの改善
  packages/@ag-system/ag-logger/configs/eslint.config.js
  packages/@ag-system/ag-logger/src/AgLogger.class.ts
  packages/@ag-system/ag-logger/src/__tests__/#_AgLogger.spec.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerManager.class.ts
  packages/@ag-system/ag-logger/tsconfig.json
  shared/configs/tsconfig.base.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(AgLoggerManager): logger plugin用にloggerマネージャーを追加
  packages/@ag-system/ag-logger/shared/types/AgLogger.interface.ts
  packages/@ag-system/ag-logger/shared/types/index.ts
  packages/@ag-system/ag-logger/src/AgLogger.class.ts
  packages/@ag-system/ag-logger/src/ConsoleLogger.class.ts
  packages/@ag-system/ag-logger/src/plugins/logger/ConsoleLogger.ts
  packages/@ag-system/ag-logger/src/plugins/logger/NullLogger.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerManager.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

feat(ag-logger): カスタマイズ可能なログメッセージフォーマットフレームワークの追加
  packages/@ag-system/ag-logger/shared/types/AgLogger.interface.ts
  packages/@ag-system/ag-logger/src/AgLogger.class.ts
  packages/@ag-system/ag-logger/src/plugins/format/NullFormat.ts
  packages/@ag-system/ag-logger/src/utils/AgLoggerManager.class.ts
Due: secretlint, eslint, eslint-types, lint-files, check-spells

Path conditions:
  secretlint: any of: **/*
  eslint: any of: shared/**/*.ts, packages/**/*.ts
  eslint-types: any of: shared/**/*.ts, packages/**/*.ts
  lint-files: any of: **/*.ts
  check-spells: any of: **/*.ts, **/*.json, **/*.md
