Repository atsushifx/esta: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore "{staged_files}"
  
    '

eslint:
  run: pnpm run lint-all -- {staged_files}

eslint-types:
  run: pnpm run lint-all:types -- "{staged_files}"

lint-files:
  run: pnpm run lint:filenames -- {staged_files}

check-spells:
  run: pnpm run check:spells -- {staged_files}

check-format:
  run: dprint check {staged_files}

docs(ag-logger): @agla-utils/ag-logger の包括的な日本語使用ガイド
  docs/guide/ag-logger.guide.md
Due: secretlint, check-spells, check-format

docs(error-handler): 標準化されたエラーハンドリングフレームワークの統一とドキュメント整備
  .vscode/cspell/dicts/project.dic
  docs/specs/error-handler-spec.md
  docs/specs/errorExit.md
  packages/@esta-core/error-handler/docs/specs/detailed-design.md
  packages/@esta-core/error-handler/docs/specs/error-handler-spec.md
  packages/@esta-core/error-handler/docs/specs/exit-codes.md
  packages/@esta-core/error-handler/shared/constants/exitCode.ts
  packages/@esta-core/feature-flags/docs/todo.md
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

docs: ドキュメントをesta/docに移動し、それにともなう調整
  docs/detailed-design/exit-codes.md
  docs/specs/error-handler-spec.md
  packages/@esta-core/error-handler/docs/specs/error-handler-spec.md
Due: secretlint, check-spells, check-format

docs: @esta/esta-executor の仕様を策定
  docs/specs/esta-executor-specs.md
Due: secretlint, check-spells, check-format

docs(feature-flags): feature-flagsモジュールの動作に関する包括的な仕様を追加
  docs/specs/feature-flags.specs.md
Due: secretlint, check-spells, check-format

chore: 新しいプロジェクト用語を追加してスペルチェッカ辞書を更新
  .vscode/cspell/dicts/project.dic
Due: secretlint

docs(esta-config): esta-config仕様バージョン2.0.0を作成
  docs/specs/esta-config-spec.md
Due: secretlint, check-spells, check-format

docs(esta-config): @esta-core/config モジュールの詳細設計仕様
  docs/specs/esta-config-spec.md
Due: secretlint, check-spells, check-format

chore: TypeScriptプロジェクトをサポートするためにESLint設定を強化
  configs/eslint.config.all.typed.js
  configs/eslint.projects.js
  pnpm-lock.yaml
Due: secretlint, check-format

feat(error-handler): error発生時のexit処理
  packages/@esta-core/error-handler/shared/constants/exitCode.ts
  packages/@esta-core/error-handler/src/__tests__/errorExit.spec.ts
  packages/@esta-core/error-handler/src/__tests__/fatalExit.spec.ts
  packages/@esta-core/error-handler/src/error/ExitError.ts
  packages/@esta-core/error-handler/src/error/__tests__/ExitError.spec.ts
  packages/@esta-core/error-handler/src/errorExit.ts
  packages/@esta-core/error-handler/src/fatalExit.ts
  packages/@esta-core/error-handler/src/index.ts
  packages/@esta-core/error-handler/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

feat: errorExit, fatalExitでエラーメッセージを出力
  packages/@esta-core/error-handler/shared/constants/exitCode.ts
  packages/@esta-core/error-handler/src/errorExit.ts
  packages/@esta-core/error-handler/src/fatalExit.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor: 仕様書のファイル名を.spec.mdに正規化
  docs/specs/error-handler.spec.md
  docs/specs/esta-config.spec.md
  docs/specs/esta-executor.sped.md
  docs/specs/feature-flags.spec.md
Due: secretlint, check-spells, check-format

feat(ag-logger): E2eMockLoggerプラグインを追加し、E2Eテストを強化
  package.json
  packages/@agla-utils/ag-logger/src/index.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/E2eMockLogger.ts
  packages/@agla-utils/ag-logger/src/plugins/logger/__tests__/E2eMockLogger.spec.ts
  packages/@esta-core/error-handler/src/error/ExitError.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(ag-logger): ユーザーガイドにE2EMockLoggerの使用例を追加
  docs/guide/ag-logger.guide.md
Due: secretlint, check-spells, check-format

chore(claude): スペルチェック対象を拡大
  .claude/commands/validate-debug.md
Due: secretlint, check-format

docs(error-handler): エラーハンドラの仕様を改定
  docs/specs/error-handler.spec.md
Due: secretlint, check-spells, check-format

test(e2e): errorExit,fatalExitのe2eテストを追加
  packages/@esta-core/error-handler/shared/constants/exitCode.ts
  packages/@esta-core/error-handler/src/error/ExitError.ts
  packages/@esta-core/error-handler/src/errorExit.ts
  packages/@esta-core/error-handler/src/fatalExit.ts
  packages/@esta-core/error-handler/tests/e2e/errorExit.spec.ts
  packages/@esta-core/error-handler/tests/e2e/fatalExit.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat: GitHub Actions と CLI の統一された終了エラー処理を追加
  packages/@esta-core/error-handler/package.json
  packages/@esta-core/error-handler/src/__tests__/handleExitError.spec.ts
  packages/@esta-core/error-handler/src/handleExitError.ts
  packages/@esta-core/error-handler/src/index.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

chore(error-handler): そーすコードにヘッダコメント、JSDocを追加
  packages/@esta-core/error-handler/src/__tests__/errorExit.spec.ts
  packages/@esta-core/error-handler/src/__tests__/fatalExit.spec.ts
  packages/@esta-core/error-handler/src/__tests__/handleExitError.spec.ts
  packages/@esta-core/error-handler/src/error/ExitError.ts
  packages/@esta-core/error-handler/src/error/__tests__/ExitError.spec.ts
  packages/@esta-core/error-handler/src/errorExit.ts
  packages/@esta-core/error-handler/src/fatalExit.ts
  packages/@esta-core/error-handler/src/handleExitError.ts
  packages/@esta-core/error-handler/src/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

refactor(error-handler): 動的インポートと非同期機能を削除してテストを簡素化
  packages/@esta-core/error-handler/shared/constants/exitCode.ts
  packages/@esta-core/error-handler/src/__tests__/handleExitError.spec.ts
  packages/@esta-core/error-handler/src/error/ExitError.ts
  packages/@esta-core/error-handler/src/errorExit.ts
  packages/@esta-core/error-handler/src/fatalExit.ts
  packages/@esta-core/error-handler/src/utils/exitCodeUtils.ts
  packages/@esta-core/error-handler/tests/e2e/errorExit.spec.ts
  packages/@esta-core/error-handler/tests/e2e/fatalExit.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(error-handler): エラーハンドラー仕様を減所にあわせ更新
  docs/specs/error-handler.spec.md
  packages/@esta-core/error-handler/docs/specs/detailed-design.md
Due: secretlint, check-spells, check-format

feat(ag-logger): ag-loggerモジュールにverboseメソッドを追加
  packages/@agla-utils/ag-logger/src/AgLogger.class.ts
  packages/@agla-utils/ag-logger/src/__tests__/AgLogger.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

deps: ESLint と TypeScript の依存関係を最新バージョンに更新
  package.json
  pnpm-lock.yaml
Due: none

feat(exit-status): initial commit for monorepo / exit-status
  packages/@esta-system/exit-status/.gitignore
  packages/@esta-system/exit-status/.vscode/cspell.json
  packages/@esta-system/exit-status/configs/commitlint.config.ts
  packages/@esta-system/exit-status/configs/eslint.config.js
  packages/@esta-system/exit-status/configs/eslint.config.typed.js
  packages/@esta-system/exit-status/configs/secretlint.config.yaml
  packages/@esta-system/exit-status/configs/tsup.config.module.ts
  packages/@esta-system/exit-status/configs/tsup.config.ts
  packages/@esta-system/exit-status/configs/vitest.config.ci.ts
  packages/@esta-system/exit-status/configs/vitest.config.unit.ts
  packages/@esta-system/exit-status/package.json
  packages/@esta-system/exit-status/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

style: 冗長なESLintコメントを削除してコードをクリーンアップ
  packages/@esta-core/error-handler/src/error/ExitError.ts
  packages/@esta-core/error-handler/src/utils/exitCodeUtils.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

feat(exit-status): ExitStatus.classを実装
  configs/eslint.projects.js
  packages/@esta-system/exit-status/src/__tests__/exitStatus.spec.ts
  packages/@esta-system/exit-status/src/exitStatus.ts
  packages/@esta-system/exit-status/src/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

chore(exit-status): add header and JSDoc to ExitStatus class
  packages/@esta-system/exit-status/src/__tests__/exitStatus.spec.ts
  packages/@esta-system/exit-status/src/exitStatus.ts
  packages/@esta-system/exit-status/src/index.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(exit-status): exit-status static classの詳細仕様
  docs/specs/exit-status.spec.md
Due: secretlint, check-spells, check-format

docs(get-platform): get-platform パッケージの仕様およびリファクタリング計画
  docs/specs/get-platform.spec.md
Due: secretlint, check-spells, check-format

test(get-platform): リファクタリングのためテスト全体を整理・強化
  packages/@esta-utils/get-platform/shared/constants/index.ts
  packages/@esta-utils/get-platform/shared/constants/platform.ts
  packages/@esta-utils/get-platform/shared/index.ts
  packages/@esta-utils/get-platform/shared/types/index.ts
  packages/@esta-utils/get-platform/shared/types/platform.ts
  packages/@esta-utils/get-platform/src/__tests__/exports.spec.ts
  packages/@esta-utils/get-platform/src/__tests__/getPlatform.spec.ts
  packages/@esta-utils/get-platform/src/__tests__/platformCheckers.spec.ts
  packages/@esta-utils/get-platform/src/__tests__/utils.spec.ts
  packages/@esta-utils/get-platform/src/getPlatform.ts
  packages/@esta-utils/get-platform/src/index.ts
  packages/@esta-utils/get-platform/tests/e2e/platformIntegration.spec.ts
  packages/@esta-utils/get-platform/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

refactor(imports): "@"エイリアスを使用してインポートを統一・型安全性を向上
  packages/@esta-utils/get-platform/configs/vitest.config.ci.ts
  packages/@esta-utils/get-platform/configs/vitest.config.unit.ts
  packages/@esta-utils/get-platform/shared/constants/platform.ts
  packages/@esta-utils/get-platform/src/__tests__/exports.spec.ts
  packages/@esta-utils/get-platform/src/__tests__/getPlatform.spec.ts
  packages/@esta-utils/get-platform/src/__tests__/platformCheckers.spec.ts
  packages/@esta-utils/get-platform/src/__tests__/utils.spec.ts
  packages/@esta-utils/get-platform/src/getPlatform.ts
  packages/@esta-utils/get-platform/src/index.ts
  packages/@esta-utils/get-platform/tests/e2e/platformIntegration.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

perf: os.platform() 呼び出しを最適化するためにプラットフォーム結果をキャッシュ
  packages/@esta-utils/get-platform/src/__tests__/getPlatform.spec.ts
  packages/@esta-utils/get-platform/src/getPlatform.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(get-platform): 仕様書、README.ja.mdを更新
  docs/specs/get-platform.spec.md
  packages/@esta-utils/get-platform/README.ja.md
Due: secretlint, check-spells, check-format

docs(esta-utils): プラットフォーム検出およびユーティリティ関数のドキュメントを明確化
  packages/@esta-utils/utils/README.ja.md
Due: secretlint, check-format

refactor: isWindowsユーティリティ関数を使用してプラットフォームチェックを簡素化
  packages/@esta-actions/tools-installer/src/installer/executor/EgetInitializer.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

fix: ESLintの警告を抑制し、型の一貫性を向上
  packages/@esta-core/error-handler/src/error/ExitError.ts
  packages/@esta-core/error-handler/src/utils/exitCodeUtils.ts
  packages/@esta-utils/get-platform/src/__tests__/getPlatform.spec.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

chore: 共通定数にPOSIX準拠の終了コードを追加
  shared/packages/constants/base/exit-code.ts
  shared/packages/constants/base/index.ts
  shared/packages/constants/tsconfig.json
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

chore: claudeがコードを修正しないようにコメントで支持
  packages/@esta-core/error-handler/src/error/ExitError.ts
  packages/@esta-core/error-handler/src/utils/exitCodeUtils.ts
Due: secretlint, eslint, eslint-types, lint-files, check-format

docs(commanmd-utils): command実行ユーティリティに関する仕様書を作成
  docs/specs/command-runner.spec.md
Due: secretlint, check-spells, check-format

refactor: command-utils → command-runner へのリネームに伴う修正
  configs/eslint.projects.js
  packages/@esta-actions/tools-installer/package.json
  packages/@esta-actions/tools-installer/src/installer/executor/EgetInitializer.ts
  packages/@esta-actions/tools-installer/tests/e2e/EgetInitializer.spec.ts
  packages/@esta-utils/command-runner/.gitignore
  packages/@esta-utils/command-runner/.vscode/cspell.json
  packages/@esta-utils/command-runner/configs/commitlint.config.ts
  packages/@esta-utils/command-runner/configs/eslint.config.js
  packages/@esta-utils/command-runner/configs/eslint.config.typed.js
  packages/@esta-utils/command-runner/configs/secretlint.config.yaml
  packages/@esta-utils/command-runner/configs/tsup.config.module.ts
  packages/@esta-utils/command-runner/configs/tsup.config.ts
  packages/@esta-utils/command-runner/configs/vitest.config.ci.ts
  packages/@esta-utils/command-runner/configs/vitest.config.unit.ts
  packages/@esta-utils/command-runner/package.json
  packages/@esta-utils/command-runner/src/commandExist.ts
  packages/@esta-utils/command-runner/src/index.ts
  packages/@esta-utils/command-runner/tsconfig.json
  packages/@esta-utils/utils/package.json
  packages/@esta-utils/utils/src/index.ts
  pnpm-lock.yaml
Due: secretlint, eslint, eslint-types, lint-files, check-spells, check-format

Path conditions:
  secretlint: any of: **/*
  eslint: any of: shared/**/*.ts, packages/**/*.ts
  eslint-types: any of: shared/**/*.ts, packages/**/*.ts
  lint-files: any of: **/*.ts, scripts/**/*
  check-spells: any of: /shared/**/*.ts, /packages/**/*.ts, /shared/**/*.md, /packages/**/*.md, **/*.json, docs/**/*.md
  check-format: any of: **/*.ts, **/*.js, **/*.json, **/*.md
